@import '@opentrons/components';

.deck_map {
  margin: 0 5%;
}

.modal {
  display: flex;
  align-items: flex-start;
  z-index: 100;
}

.modal_contents {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.spinner_modal_icon {
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--c-light-gray);
}
