@import '@opentrons/components';

.setup_panel {
  & > * {
    margin: 0.5rem 0 1.5rem;
  }
}

.tiprack_item_mount {
  font-weight: var(--fw-bold);
  padding-right: 0.75rem;
}

.item_info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.active {
  color: #0ec9eb;
  background-color: #f0f3ff;
  fill: #0ec9eb;
}
