@import '@opentrons/components';

.setup_panel {
  & > * {
    margin: 0.5rem 0 1.5rem;
  }
}

.tiprack_item_mount {
  font-weight: var(--fw-bold);
  padding-right: 0.75rem;
}

.run_message {
  margin: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.run_message_item {
  margin-bottom: 0.5rem;
}

.run_message_item:last-child {
  margin-bottom: 0;
}

.button_run {
  margin: 1rem;
  width: calc(100% - 2rem);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
