.modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--spacing-24) var(--spacing-24);
  gap: var(--spacing-8);
}

.modal_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}