/* stylesheet for InstrumentSettings components */
@import '@opentrons/components';

.pipette_card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-top: 1rem;
  width: 49.5%;

  & > a {
    width: 8rem;
  }
}

.pipette_diagram {
  height: 100%;
  padding: 0 0 0.5rem;
  text-align: center;

  & * {
    height: 100%;
    width: auto;
  }
}

.image {
  height: 8rem;
  width: 2.25rem;
  margin-top: -3rem;
  border: 1px solid var(--c-light-gray);
}

.right {
  & > div {
    order: 2;
  }

  & > .image {
    order: 1;
  }

  & > a {
    order: 3;
  }
}

.modules_description {
  @apply --font-body-2-dark;

  margin: 0.5rem 0;
}
