@page {
  margin-bottom: 2cm;

  @bottom-center {
    content: "-" counter(page) "-";
    font-size: 10pt;
    font-family: "Public Sans", sans-serif;
    color: #4A4C4E;
    padding-top: 5mm;
    vertical-align: top;
  }
}

@media print {
  tr, figure {
    break-inside: avoid;
  }

  h2, h3, h4, h5 {
    break-after: avoid;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}