/* app styles */
@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.app {
  height: 100%;

  /* nav height */
  padding-top: var(--size-mobile-nav);

  &.breadcrumbs_visible {
    /* nav + breadcrumbs height */
    padding-top: calc(var(--size-main-nav) + var(--size-2));
  }
}

.page {
  position: relative;
}

.sidebar_container {
  padding: var(--spacing-7) var(--spacing-3);

  &.sidebar_large_only,
  &.sidebar_xl_only {
    display: none;
  }
}

.content_width_limiter {
  max-width: var(--screen-width-xlarge);
  margin: auto;
}

.content_container {
  width: 100%;
  padding: var(--spacing-5);
  margin: 0;
}

@media (--medium) {
  .app {
    padding-top: var(--size-main-nav);
  }

  .page {
    height: 100%;
    overflow: hidden;
  }

  .sidebar_container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--size-3);
    padding-left: var(--spacing-7);
    padding-right: var(--spacing-5);
    overflow-y: auto;
  }

  .content_scroller {
    height: 100%;
    overflow-y: scroll;
  }

  .content_container {
    padding-top: var(--spacing-2);
    padding-right: var(--spacing-7);

    /* spacing + sidebar width */
    padding-left: calc(var(--size-3) + var(--spacing-5));

    &.sidebar_large_only,
    &.sidebar_xl_only {
      padding-left: var(--spacing-7);
    }
  }
}

@media (--large) {
  .app {
    /* total nav height */
    padding-top: var(--size-total-nav);

    &.breadcrumbs_visible {
      /* total nav + breadcrumbs height */
      padding-top: calc(var(--size-total-nav) + var(--size-2));
    }
  }

  .sidebar_container {
    width: var(--size-4);
    padding-left: var(--spacing-7);

    &.sidebar_large_only {
      display: block;
    }

    &.sidebar_xl_only {
      display: none;
    }
  }

  .content_container,
  .content_container.sidebar_large_only {
    /* spacing + sidebar width */
    padding-left: calc(var(--size-4) + var(--spacing-5));
  }

  .content_container.sidebar_xl_only {
    /* no sidebar for labware details until xl */
    padding-left: var(--spacing-7);
  }
}

@media (--xlarge) {
  .content_container.sidebar_xl_only {
    padding-top: var(--spacing-7);

    /* spacing + sidebar width */
    padding-left: calc(var(--size-4) + var(--spacing-5));
  }

  .sidebar_container {
    width: var(--size-4);
    padding-left: var(--spacing-7);

    &.sidebar_xl_only {
      display: block;
      padding-top: 0;
    }
  }
}
