/* app styles */
@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.page {
  height: 100%;

  /* Nav height */
  padding-top: var(--size-2);
}

.content {
  width: 100%;
  padding: 0 var(--spacing-3);
  margin: 0 auto;
}

@media (--medium) {
  .page {
    display: flex;
    overflow: hidden;
  }

  .content {
    padding-top: var(--spacing-6);
    padding-left: 0;
    padding-right: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  .content_container {
    margin: 0 auto;
    max-width: var(--size-5);
  }
}

@media (--large) {
  .page {
    margin: auto;
    width: var(--screen-width-large);
  }

  .content {
    padding-left: var(--spacing-4);
  }

  .content_container {
    max-width: 100%;
  }
}
