@import '@opentrons/components/styles';

.warning_title {
  @apply --font-body-2-dark;

  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.warning_text {
  @apply --font-body-1-dark;

  margin-bottom: 0.75rem;
}

.form_column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 1rem 1rem 1rem 0;
}

.form_group {
  margin-bottom: 1.5rem;
}

.form_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.form_label,
.form_input {
  flex: 1 1 50%;
}

.form_label {
  @apply --font-body-1-dark;
}

.form_button {
  min-width: 7rem;

  &:first-child {
    float: left;
    min-width: 8rem;
  }
}

.reset_message {
  @apply --font-body-1-dark;

  text-align: left;
  margin-bottom: 1rem;
}

.config_submit_error {
  font-size: var(--fs-body-1);
  color: var(--c-warning-dark);
  font-style: italic;
  margin-bottom: 0.5rem;
}

.group_error {
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  color: var(--c-warning-dark);
}
