/* TODO: Ian 2018-06-08 PD should import css reset from component library */

body {
  font-size: 16px;
  line-height: 1;
}

button:focus {
  outline: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
