@import '@opentrons/components';

.file_info_container {
  overflow-y: auto;
  padding: 0 1.5rem;
}

.info_section {
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--c-light-gray);
  margin-bottom: 1rem;

  & > p {
    @apply --font-body-2-dark;
  }

}

.title {
  @apply --font-header-dark;

  margin: 0 0 1rem;
  font-weight: var(--fw-regular);
  text-transform: capitalize;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.instrument_item {
  @apply --font-body-1-dark;

  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.mount_label {
  min-width: 3rem;
  font-weight: var(--fw-semibold);
}

.instrument_warning {
  margin-top: 0.5rem;
  font-size: var(--fs-caption);
  color: var(--c-warning);
}

.instrument_warning.blocking {
  color: var(--c-error);
}

.status_icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.instrument_button {
  width: auto;
}

.labware_table {
  @apply --font-body-1-dark;

  width: 60%;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  border-collapse: collapse;
}

.labware_table th {
  font-weight: var(--fw-semibold);
  text-align: left;
  padding: 1.5rem 1.5rem 0.5rem;
}

.labware_table td {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--c-light-gray);

  &:first-child {
    width: 80%;
  }
}


.continue_button {
  display: inline-block;
  width: 16.5rem;
  margin-bottom: 0.25rem;
}

.soft_warning {
  color: var(--c-med-gray);
  font-size: var(--fs-body-1);
  height: 2rem;
  line-height: 2rem;
}

.info_icon {
  height: 1rem;
  width: 1rem;
  fill: var(--c-med-gray);
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.warning_info_wrapper {
  display: flex;
  align-items: center;
}
