@import '@opentrons/components/styles';

.info_wrapper {
  font-size: var(--fs-body-2); /* from legacy --font-body-2-dark */
    font-weight: var(--fw-regular); /* from legacy --font-body-2-dark */
    color: var(--c-font-dark); /* from legacy --font-body-2-dark */

  text-align: center;
  max-width: 38rem;
  margin: 2rem auto;
}

.header {
  font-size: var(--fs-header); /* from legacy --font-header-dark */
    font-weight: var(--fw-semibold); /* from legacy --font-header-dark */
    color: var(--c-font-dark); /* from legacy --font-header-dark */
}

.instruction {
  margin: 2rem 0;
  line-height: 1.5;
}

.inline_icon {
  color: var(--c-font-dark);
  height: 1.5em;
  padding: 0 0.25em;
}
