@import '@opentrons/components/styles';

.form_card {
  margin: 1rem;
  padding: 1rem;
}

.section {
  padding-bottom: 2rem;
}

.info_text {
  padding-bottom: 1.5rem;
}

.button_row {
  lost-utility: clearfix;

  & > * {
    lost-column: 1/6;
  }

  & > *:nth-child(2) {
    lost-offset: 3/6;
  }
}
