@import '../index.module.css';

.module_viz {
  rx: 6;
  stroke: var(--c-plate-bg);
  stroke-width: 1;
  fill: var(--c-lightest-gray);
}

.module_slot_area {
  fill: transparent;
  stroke: var(--c-plate-bg);
  stroke-width: 2;
  stroke-dasharray: 8 4;
}

.module_slot_text {
  fill: var(--c-plate-bg);
}
