@import "util";
@import "header";
@import "steplist";
@import "buttons";
@import "modals";
nav {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 40px;
}

a {
    cursor: pointer;
    cursor: auto;
}

input {
    border: none;
}

table {
    @include grid-col-full(10);
    @include offset-v(1, 1);
    tr {
        flex-wrap: wrap;
        line-height: 40px;
        th {
            text-align: left;
            @include grid-col-full(3);
        }
        td {
            @include grid-col-full(2);
            text-align: center;
            font-size: $basesize;
            &.coords {
                @include grid-col-full(1);
            }
        }
    }
}

div.error {
    @include rect(19,3);
    @include offset-v(1,0);
    overflow:scroll;
    font-size: 16px;
    font-weight: 600;
    //text-align: center;
    height: 40px;
    div {
        display: flex;
        justify-content: center;
        span {
            font-weight: 200;
            border: 1px solid rgba(140, 0, 110, 1);
            border-radius: 50%;
            width: 18px;
            height: 18px;
            margin: 10px;
            color: rgba(140, 0, 110, 1);
            line-height: 18px;
        }
        line-height: 40px;
        color: rgba(140, 0, 110, 1);
    }
}

.coords {
    input {
        pointer-events: none;
        text-align: center;
        @include grid-col-full(1);
        border: none;
        margin: 0;
        padding: 0;
        background: lighten($primary-brand, 40%);
        line-height: 40px;
    }
}


/************************
Wizard Screens
************************/

.wrapper {
    @include grid-row();
}

.instructions {
    height: 40px;
    line-height: 40px;
    display: block;
}

#task-pane {
    display: flex;
    section {
        @include grid-col-full(19);
        @include offset(1, 0);
        display: flex;
        flex-direction: column;
        .step {
            display: flex;
            flex-wrap: wrap;
            min-height: 440px;          
        }
        .step-connect {          
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            div.connect {
                @include rect(6, 2);
                @include offset-v(0, 1);
                select {
                    background: $primary-brand;
                    border-radius: 0px;
                    border: none;
                    -webkit-appearance: none;
                    outline: none;
                    color: white;
                    @include btn-col-a(6);
                    padding-left: $gutter-width*2;
                    background-image: url("../assets/img/caret.png");
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                    color: white;
                }
            }
            div.connected {
                display: flex;
                justify-content: center;


                @include rect(10,1);
                @include offset-v(0,2);
                .btn-connect{
                    @include offset(2,2);
                }
                p{
                    line-height: 40px;
                    font-size: 16px;
                    padding:0;
                }
            }
        }
        .step-error,
        .step-upload {
            @include rect(7,4);
            @include offset(6,5);
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            text-align: center;
            #uploadFile {
                @include btn-col-f(5);
                @include offset(1,
                1);
                @include offset-v(1,
                1);
                margin: 0;
                padding: 0;
                border: none;
                text-align: center;
                line-height: $baseline;
            }
            .fileUpload {
                @include btn-col-f(5);
                @include offset(1,
                1);
                @include offset-v(1,
                4);
                position: relative;
                overflow: hidden;
                background-color: $primary-brand;
                color: white;
                &:hover {
                    background: lighten($primary-brand, 20%);
                }
            }
            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 15px;
                padding: 0;
                font-size: 30px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            //@include offset-v(1, 1);
            a {
                @include btn-col-f(4);
                font-size: 15px;
                outline: 1px solid $primary-link;
                &.first,
                &.last {
                    visibility: hidden;
                }
            }
            .help {
                @include btn-col-f(1);
            }
        }
    }
}


/************************
Deck|Container
************************/

.move {
    @include grid-col-full(6);
    .jog {
        display: flex;
        flex-wrap: wrap;
    }
    .increment {
        @include grid-col-full(7);
        @include offset(0,
        6);
        span {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .deck {
        @include grid-col-full(5);
        span {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.save-deck {
    @include grid-col-full(8);
    @include offset(5,
    0);
    .coords {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(8);
        @include offset-v(0,
        1);
    }
    .calibration-modal {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(8);
        .well-img {
            @include rect(2,
            3);
        }
        .update {
            display: flex;
            flex-wrap: wrap;
            @include grid-col-full(6);
            @include offset-v-air(2,
            0);
            .position {
                @include grid-col-air(2);
                text-align: center;
            }
        }
    }
}


/************************
Pipette
************************/

.move-pipette {
    @include grid-col-full(2);
    @include offset(1,
    1);
    .plunger {
        @include grid-col-full(2);
        display: flex;
        flex-wrap: wrap;
        .jog-a {
            display: flex;
            flex-wrap: wrap;
            @include grid-col-full(1);
            @include offset(1,
            0);
        }
        .jog-b {
            display: flex;
            flex-wrap: wrap;
            @include grid-col-full(1);
            @include offset(0,
            1);
        }
    }
    .increment {
        @include grid-col-full(2);
        span {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.save-pipette {
    @include grid-col-full(8);
    .calibration-modal {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(10);
    }
    .pipette-img {
        @include rect(3,
        6);
    }
    .update {
        @include grid-col-full(6);
        display: flex;
        flex-wrap: wrap;
        .position {
            @include grid-col-full(2);
            text-align: center;
            line-height: 40px;
        }
        .spacer {
            @include rect(6,
            1);
        }
    }
    .coords {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(8);
        @include offset(1,
        0);
        @include offset-v(0,
        1);
    }
}

.select-container {
    @include grid-col-full(12);
    @include offset(1,
    0);
    .coords {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(8);
        @include offset-v(0,
        1);
    }
    .calibration-modal {
        display: flex;
        flex-wrap: wrap;
        @include grid-col-full(12);
        label {
            text-align: center;
            &.position {
                @include grid-col-full(2);
            }
            &.well {
                @include grid-col-full(1);
            }
        }
        input {
            text-align: center;
            @include grid-col-air(1);
            outline: none;
            background: lighten($primary-brand, 40%);
        }
    }
}


/************************
Pop-up Modal Styles
************************/

.infoModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.infoModal:target {
    opacity: 1;
    pointer-events: auto;
}

.infoModal > div {
    @include rect(16,
    12);
    position: relative;
    margin: 10% auto;
    padding: 15px;
    background: #fff;
    .diagram {
        @include grid-col-full(6);
        @include offset(3,
        3);
    }
    p,
    ul li {
        @include grid-col-full(12);
        @include offset(2,
        2);
        text-align: left;
        line-height: $baseline;
    }
}

.close {
    @include btn-square-f(1);
    background: white;
    color: $primary-link;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    text-decoration: none;
}

.close:hover {
    background: $primary-link;
    color: white;
}
