@import "util";

.calibration-modal {
    &.top {
        .btn-update.top {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            &.disabled{
              opacity: 0.1;
              pointer-events: none;
            }
        }
        img.top{
            display:block;
        }
    }
    &.bottom {
        .btn-update.bottom {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            &.disabled{
              opacity: 0.1;
              pointer-events: none;
            }
        }
        img.bottom{
            display:block;
        }
    }
    &.blowout {
        .btn-update.blowout{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            &.disabled{
              opacity: 0.1;
              pointer-events: none;
            }
        }
        img.blowout{
            display:block;
        }
    }
    &.droptip {
        .btn-update.droptip{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            &.disabled{
              opacity: 0.1;
              pointer-events: none;
            }
        }
        img.droptip{
            display:block;
        }
    }

    .btn-update {
        opacity: 0.1;
        pointer-events: none;
        &.test{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            &.disabled{
              opacity: 0.1;
              pointer-events: none;
            }
        }

    }

    .pipette-img{
        img{
            display:none;
        }
    }

    a.position{
        text-decoration: underline;
    }
}
