@import 'util';

/************************
Step List Styles
************************/

#step-list {
    @include grid-col-full(4);
    @include offset-v(1, 0);
}

#step-list a {
    display: block;
    padding-left: $gutter-width;
    color: inherit;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    border-left: 5px solid lighten($primary-brand, 30%);
    position:relative;
}

#step-list ul li ul {
    box-shadow: inset 0 1px 0px 0px lighten($primary-brand, 30%);
    //, inset  0 -1px 0px 0px lighten($primary-brand, 30%);
}

#step-list li a.router-link-active {
    background: lighten($primary-brand, 40%);
    border-left: 15px solid $primary-brand;
}

#step-list li li a.router-link-active {
    border-left: 15px solid $primary-brand;
    font-style: italic;
}

#step-list li a.completed:after {
    content: "\2713";
    float: right;
    padding-right: 10px;
    position:absolute;
    top:0;
    right:0px;
}

#step-list a:hover,
#step-list a:focus {
    background: lighten($primary-brand, 40%);
}

#step-list ul li a span.clip  {
    display:block;
    width:80px;
    height:40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
