[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==1.25.1"

[dev-packages]
pytest = "==8.2.0"
ruff = "==0.4.2"
mypy = "==1.10.0"
black = "==24.4.2"
types-requests = "*"
aws-lambda-powertools = {extras = ["all"], version = "==2.37.0"}
boto3 = "==1.34.97"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
