@import '@opentrons/components';

/* TODO (ka 2019-4-9): Revist temporary styling once UX has given input */
.module_data {
  display: flex;
  margin-bottom: 1rem;
}

.span_50 {
  width: 50%;
  margin: 0 1.125rem 0 0;
}

.temperature_form {
  display: flex;
  padding-left: 25%;
  justify-content: space-between;
  padding-bottom: 2rem;
  align-items: flex-end;
}

.target_field {
  width: 8rem;
}

.target_label {
  @apply --font-body-1-dark;

  font-weight: var(--fw-semibold);
}

.target_input {
  @apply --font-form-default;

  width: 8rem;
  height: 2.3rem;
  background-color: var(--c-light-gray);
  border-radius: var(--bd-radius-form-field);
  border-width: 0;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  margin-top: 0.5rem;

  &:focus {
    outline: none;
    background-color: var(--c-white);
    box-shadow: 0 0.125rem 0.25rem 0 color-mod(var(--c-black) alpha(0.5));
  }
}

.set_button {
  width: 8rem;

  &:active,
  &:focus {
    background-color: transparent;
  }

  &:hover {
    background-color: color-mod(var(--c-bg-light) shade(10%));
  }
}

.set_temp_field {
  display: flex;
  flex-direction: column;
  width: 8rem;
}

.set_temp_label {
  @apply --font-body-1-dark;

  font-weight: var(--fw-semibold);
  margin-bottom: 0.5rem;
}

.input_wrapper {
  display: flex;
}

.lid_temp_field {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}

.lid_temp_label {
  @apply --font-body-1-dark;

  margin: 0 0.5rem;
  font-weight: var(--fw-semibold);
  padding-bottom: 0.2rem;
}

.label {
  @apply --font-body-1-dark;

  padding-bottom: 0.2rem;
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

.data_row {
  display: flex;
  justify-content: space-between;
  max-width: 7rem;
}

.inline_labeled_value {
  @apply --font-body-1-dark;

  display: flex;
}

.temp_control_button {
  width: 8rem;
}

.temp_data_wrapper {
  flex-basis: 65%;
  display: flex;
}

.temp_data_item {
  flex: 1 1 0;

  &:not(:first-child) {
    margin-left: 1rem;
  }
}

.temp_data_buffer {
  flex-basis: 30%;
}
