@import '@opentrons/components';

.robot_list {
  list-style: none;
  margin-left: 0;
}

.robot_item {
  text-transform: uppercase;
}

/* this is needed for usb icon to override default icon height  render it at proper size */
.robot_item svg:first-child {
  height: 1.5rem;
}

.item_icon {
  height: 2rem;
}

/* min-width: 0 needed to allow .robot_name truncation */
.robot_controls {
  flex: 1;
  margin-left: 0.5rem;
  min-width: 0;
  text-align: center;
}

.robot_name {
  font-weight: bold;
  max-width: calc(100% - 3rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connection_toggle {
  width: 2rem;
  padding: 0;
}

.disconnected {
  fill: var(--c-dark-gray);
}

.active {
  color: #0ec9eb;
  background-color: #f0f3ff;
}

.connected {
  fill: #0ec9eb;
  color: #0ec9eb;
}

.scan_status {
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: var(--fs-header);
  font-weight: var(--fw-semibold);
  margin: 1.25rem;
}

.message {
  font-size: var(--fs-body-1);
  margin: 1.25rem;
}

.scan_progress {
  width: 5rem;
}

.scan_button {
  max-width: 80%;
}

.title_scan_button {
  position: absolute;
  top: 0;
  right: 2.25rem;
  width: 2.5rem;
  height: 2.5rem;
}
