/* General  */
.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-40) var(--spacing-40);
  margin-top: 7.75rem;
}

.settings_list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

/* Page specific */

.numeric_settings_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-16) var(--spacing-40) var(--spacing-40);
  margin-top: 7.75rem;
  gap: var(--spacing-48);
}

.numeric_settings_left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.numeric_settings_right {
  padding: var(--spacing-8);
}

.password_complexity_content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-40) var(--spacing-40);
  margin-top: 7.75rem;
  gap: var(--spacing-24);
}

.settings_preferences {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.settings_preferences_list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.warning_modal_buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--spacing-8);
}

/* List button */

.list_button {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button_content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-40);
}

.value_container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  gap: var(--spacing-24);
}

.chevron {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
