@import '@opentrons/components';

.pd_landing_page {
  width: 923px;
  text-align: center;
  margin: 86px auto auto;
}

.ot_flex_logo {
  width: 160px;
  height: 160px;
  margin: 50px auto;
}

.flex_landing_buttons_wrapper {
  width: 50%;
  margin: auto;
}

.flex_landing_button {
  margin: 0.75rem 0;
  height: 3rem;
  width: 100%;
}

.flex_landing_button input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.flex_header {
  position: relative;
  width: 923px;
  margin: 86px auto auto;
}

.flex_header > * {
  margin: 1rem 2.5rem;
}

.flex_title {
  display: flex;
  justify-content: space-between;
}

.required_fields {
  display: flex;
  justify-content: flex-end;
}

.editor_form {
  width: 329px;
  margin: 1rem;
}

.flex_round_tabs_button_wrapper {
  display: flex;
  justify-content: space-between;
}

.flex_round_tabs_button_100p {
  width: 100%;
  margin: 1rem;
}

.flex_round_tabs_button_50p {
  width: 50%;
  margin: 1rem;
}

.textarea_input {
  resize: none;
  width: 100%;
  overflow: hidden;
  background-color: var(--c-light-gray);
  border-radius: var(--bd-radius-form-field);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border: none;
}

.textarea_input:focus {
  outline: none;
}

.textarea_input::placeholder {
  color: var(--c-med-gray);
}

.textarea_input:focus-within {
  background-color: var(--c-white);
  box-shadow: 0 0.125rem 0.25rem 0 color-mod(var(--c-black) alpha(0.5));
}

.form_group {
  margin-bottom: 1rem;
}

.form_group > * {
  margin: 0.5rem 0;
}
