.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
  background: transparent;
  border: 1px solid var(--blue-50);
  border-radius: var(--border-radius-8);
  cursor: pointer;
  opacity: 1;
  padding: var(--spacing-8) var(--spacing-12);
  color: var(--blue-50);
  transition: all 0.2s ease;
  height: var(--spacing-40);
  white-space: nowrap;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus {
  outline: none;
  background: var(--blue-10);
  border-color: var(--blue-60);
  box-shadow: 0 0 0 var(--spacing-2) var(--blue-50);
}

.button:hover:not(:disabled) {
  background: var(--blue-10);
  border-color: var(--blue-60);
  color: var(--blue-60);
}

.button_text {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-20);
  color: inherit;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
}

.hidden_input {
  display: none;
}
