.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 7.75rem;
  width: 100%;
  max-width: 59rem;
  padding: 0 var(--spacing-60) var(--spacing-120);
  gap: var(--spacing-24);
}

.text_area_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  gap: var(--spacing-8);
}

.keyboard_container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay {
  position: fixed;
  background-color: var(--white);
  inset: 0;
}
