.nav_container {
  height: 7.75rem;
}

.form_container {
  display: flex;
  width: 51.5rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 4.625rem;
}

/* .field_label {
  align-self: flex-start;
  padding-bottom: var(--spacing-6);
  font-weight: var(--font-weight-regular);
} */

.keyboard_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}