.nav_container {
  height: 7.75rem;
}

.form_container {
  width: 944px;
  height: 249px;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: var(--spacing-24);
}

.form_inner_container {
  display: flex;
  width: 51.5rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: var(--spacing-6);
}

.field_label {
  display: block;
  align-self: flex-start;
}

.keyboard_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
