<section>
    <h2 class="title">Error Found</h2>
    <div class="instructions">
    </div>
    <div class="step step-error">
        <p>{{data.check_type}} error found: {{ data.error }}. </p>
        <input id="uploadFile" placeholder="No File Selected" disabled="disabled" />
        <div class="fileUpload">
            <span>Upload</span>
            <input id="uploadBtn" type="file" class="upload" />
        </div>

    </div>
    <nav><a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
</section>
