<section>
    <h2 class="title">Review Saved Positions</h2>
    <div class="instructions">
        The following is a list of all of your saved calibrations for the current protocol. Please review.
    </div>
    <div class="step">
        <table>
            <tbody>
                
                {{#each this.data.saved_containers}}
                <tr>
                    <th>{{this.user_container_name}}</th>
                    <td class="coords">X: {{this.x}}</td>
                    <td class="coords">Y: {{this.y}}</td>
                    <td class="coords">Z: {{this.z}}</td>
                    <td><a href="#" class="btn-test">Test</a></td>
                    <td><a href="/protocol_setup/calibrate/{{this.parent_id}}" class="btn-overwrite">Overwrite</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    <nav><a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
    <div id="info" class="infoModal">
        <div> <a href="#close" title="Close" class="close">X</a>
            <h2>Title</h2>
        </div>
    </div>
</section>
