@import '@opentrons/components';

.pipette_group {
  margin: 0 auto;
  max-width: 45rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'left right';
}

.pipette {
  display: grid;
  vertical-align: top;
}

.left {
  grid-area: left;
  grid-template-columns: 80% 20%;
  grid-template-areas: 'info img';
}

.right {
  grid-area: right;
  grid-template-columns: 20% 80%;
  grid-template-areas: 'img info';
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.pipette_info {
  grid-area: info;
  min-height: 8rem;
}

.pipette_icon {
  grid-area: img;
  text-align: center;
}

.title {
  font-size: var(--fs-body-2);
  font-weight: var(--fw-semibold);
  color: var(--c-font-dark);
  margin: 2rem 0 0.25rem;
}

.value {
  @apply --font-body-2-dark;

  margin-left: 1rem;
}
