@import '@opentrons/components/styles';

/* fields */

.field_row {
  lost-utility: clearfix;
  margin-bottom: 2rem;
}

.liquid_field {
  lost-column: 8/16;
}

.volume_field {
  lost-column: 3/16;
}

/* buttons */

.button_row {
  lost-utility: clearfix;

  & > * {
    lost-column: 4/16;
  }

  & > *:nth-child(2) {
    lost-offset: 4/16;
  }
}
