{
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["transform-imports", {
          "popper.js": {
              "transform": "popper.js/dist/${member}",
              "preventFullImport": true
          }
        }]
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "react",
    ["env", {"modules": false}]
  ]
}
