./api-server
./app
./labware-library
./node_modules
./protocol-designer
./discovery-client
./coverage
./components
./app-shell
./update-server
./step-generation

.pytest_cache
.flake8
.idea
.pypy_cache
dist
build
pnpm-lock.yaml
Pipfile.lock

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
