api/**
update-server/**
robot-server/**
shared-data/python/**
**/node_modules/**
**/coverage/**
**/dist/**
**/build/**
**/venv/**

# flow
flow-typed/npm/**
components/flow-types/**

# typescript
app-shell/lib/**
discovery-client/lib/**
**/lib/**/*.d.ts
# TODO add story files back to linting once the are parsed by tsc
**/*.stories.tsx

# prettier
**/package.json
**/CHANGELOG.md
lerna.json
!api/release-notes.md
!app-shell/build/release-notes.md

# mypy
**/.mypy_cache/**
