**/node_modules/**
**/coverage/**
**/dist/**/*
**/lib/**/*
**/build/**
**/venv/**
.opentrons_config

# prettier
**/package.json
**/CHANGELOG.md
lerna.json
!api/release-notes.md
!app-shell/build/release-notes.md

# components library
storybook-static

# python projects and tools
**/.mypy_cache/**
**/.pytest_cache/**

# todo(mc, 2022-01-28): make these ignore rules more specific so we
# format data files like markdown and JSON inside python projects
api/**
update-server/**
robot-server/**
notify-server/**
shared-data/python/**
hardware-testing/**

# app-testing don't format the json protocols
app-testing/files
