api/**
update-server/**
robot-server/**
shared-data/python/**
**/node_modules/**
**/coverage/**
**/dist/**
**/build/**
**/venv/**

# flow
**/flow-typed/**

# compiled
app-shell/lib/**
discovery-client/lib/**

# prettier
**/package.json
**/CHANGELOG.md
lerna.json

# mypy
**/.mypy_cache/**
