@import '@opentrons/components/styles';

.release_notes {
  width: 100%;
  max-height: 100%;
  padding: 0 0.5rem;

  & > h1 {
    @apply --font-header-dark;

    margin-bottom: 1rem;
  }

  & > h2 {
    @apply --font-header-dark;

    font-weight: var(--fw-regular);
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  & > h3 {
    @apply --font-body-2-dark;

    font-weight: var(--fw-semibold);
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  & ul,
  & ol {
    margin-left: 1.25rem;
    margin-bottom: 0.25rem;
  }

  & li {
    margin: 0.25rem 0;
  }

  & code {
    font-family: monospace;
    color: var(--c-font-dark);
  }

  & pre {
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    background-color: var(--c-font-dark);

    & code {
      color: var(--c-font-light);
    }
  }

  & p {
    @apply --font-body-2-dark;

    margin-bottom: 1rem;
  }
}
