.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-16) var(--spacing-20) var(--spacing-20);
  gap: var(--spacing-16);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.main_content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-16) var(--spacing-24);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-10);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
