[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
black = "==21.7b0"
pylint = "*"
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.1.0"
selenium = "==4.0.0.b4"
importlib-metadata = "*"
requests = "*"
python-dotenv = "*"
pytest-xdist = "*"
pyautogui = "*"
pyobjc = {version = "*", markers="sys_platform == 'darwin'"}
python-xlib = "*"

[requires]
python_version = "3.7"
