[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest = "==7.4.3"
black = "==23.11.0"
selenium = "==4.15.2"
importlib-metadata = "==6.8.0"
requests = "==2.31.0"
python-dotenv = "==1.0.0"
pytest-xdist = "==3.5.0"
mypy = "==1.7.1"
types-requests = "==2.31.0.10"
rich = "==13.7.0"
atomicwrites = "==1.4.1"
pyreadline3 = "==3.4.1"
pydantic = "==2.5.2"
pygithub = "==2.1.1"
ruff = "==0.1.6"
docker = "==6.1.3"
syrupy = "==4.6.0"
pytest-html = "==4.1.1"

[requires]
python_version = "3.12"
