.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
}

.header_row {
  padding: 0 var(--spacing-24);
}

.header_label {
  color: var(--grey-60);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.list_item {
  display: flex;
  align-items: center;
  padding: var(--spacing-16) var(--spacing-24);
  background-color: var(--grey-35);
  border-radius: var(--border-radius-8);
}
