@import '@opentrons/components';

.robot_list {
  list-style: none;
  margin-left: 0;
}

.robot_group {
  margin-bottom: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  & > li {
    max-height: 3rem;
  }
}

.robot_item {
  max-height: 3rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--c-light-gray);
}

.instrument_item {
  max-height: 2.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--c-light-gray);
}

.robot_item_icon {
  flex: none;
  width: 1.5rem;
  padding: 0;
}

.notification {
  color: var(--c-orange);
}

.robot_name {
  flex: 1;
  margin: 0 0.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  color: var(--c-highlight);
  background-color: var(--c-bg-selected);
}

.scan_status {
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: var(--fs-header);
  font-weight: var(--fw-semibold);
  margin: 1.25rem;
}

.message {
  font-size: var(--fs-body-1);
  margin: 1.25rem;
}

.scan_progress {
  width: 1.9rem;
}

.scan_button {
  max-width: 80%;
}

.title_scan_button {
  position: absolute;
  top: 0;
  right: 2.25rem;
  width: 2.5rem;
  height: 2.5rem;
}
