@import '@opentrons/components';

.robot_list {
  list-style: none;
  margin-left: 0;
}

.robot_item {
  text-transform: uppercase;
}

.robot_item_icon {
  flex: none;
  width: 1.5rem;
  padding: 0;
}

.notification {
  color: var(--c-orange);
}

.robot_name {
  flex: 1;
  margin: 0 0.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disconnected {
  fill: var(--c-dark-gray);
}

.active {
  color: #0ec9eb;
  background-color: #f0f3ff;
}

.connected {
  fill: #0ec9eb;
  color: #0ec9eb;
}

.scan_status {
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: var(--fs-header);
  font-weight: var(--fw-semibold);
  margin: 1.25rem;
}

.message {
  font-size: var(--fs-body-1);
  margin: 1.25rem;
}

.scan_progress {
  width: 5rem;
}

.scan_button {
  max-width: 80%;
}

.title_scan_button {
  position: absolute;
  top: 0;
  right: 2.25rem;
  width: 2.5rem;
  height: 2.5rem;
}
