@import '@opentrons/components';

.robot_list {
  list-style: none;
  margin-left: 0;
}

.robot_group {
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.robot_link {
  @apply --font-body-1-dark;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.75rem;
  border-bottom: 1px solid var(--c-light-gray);
  text-transform: uppercase;
}

.robot_item {
  height: 3rem;
}

.disabled {
  color: var(--c-font-disabled);
  pointer-events: none;
}

.instrument_item {
  height: 2.5rem;
}

.robot_item_icon {
  flex: none;
  width: 1.5rem;
  padding: 0;
}

.link_text {
  flex: 1;
  margin: 0 0.5rem;
  font-weight: var(--fw-semibold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  color: var(--c-highlight);
  background-color: var(--c-bg-selected);
}

.scan_status {
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
}

.title {
  font-size: var(--fs-header);
  font-weight: var(--fw-semibold);
  margin-bottom: 1.25rem;
}

.message {
  font-size: var(--fs-body-1);
  margin: 1.25rem;
}

.scan_progress {
  width: 1.9rem;
}

.scan_button {
  max-width: 80%;
}

.title_scan_button {
  position: absolute;
  top: 0;
  right: 2.25rem;
  width: 2.5rem;
  height: 2.5rem;
}
