.pipette_label_base {
  width: max-content;
  padding: var(--spacing-2);
  border: 1px solid;
  background-color: var(--white);
}

.pipette_label_accessible {
  border-color: var(--blue-50);
  color: var(--blue-50);
}

.pipette_label_inaccessible {
  border-color: var(--red-50);
  color: var(--red-50);
}

.pipette_label_top {
  border-radius: var(--border-radius-4) var(--border-radius-4) 0 0;
  border-bottom: none;
}

.pipette_label_bottom {
  border-radius: 0 0 var(--border-radius-4) var(--border-radius-4);
  border-top: none;
}

.pipette_label_left {
  border-radius: var(--border-radius-4) 0 0 var(--border-radius-4);
  border-right: none;
}

.pipette_label_right {
  border-radius: 0 var(--border-radius-4) var(--border-radius-4) 0;
  border-left: none;
}
