@import '@opentrons/components/styles';

.radio_image_label {
  text-anchor: middle;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.radio_image {
  padding: 0 0.5rem;
  height: 1.25rem;
}
