/* stylelint-disable */

/* Numerical Keyboard has 4 layouts
 1. int not allowed negative: intKeyboard
 2. int allowed negative: intNegKeyboard
 3. float not allowed negative: floatKeyboard
 4. float not allowed negative: floatNegKeyboard
 */

.simple-keyboard.oddTheme1.hg-theme-default {
  width: 100%;
  height: 100%;
  background-color: #cbcccc; /* grey35 */
  font-family: 'Public Sans', sans-serif;
  padding: 8px;
}

.hg-layout-intKeyboard .hg-row,
.hg-layout-intNegKeyboard .hg-row,
.hg-layout-floatKeyboard .hg-row,
.hg-layout-floatNegKeyboard .hg-row {
  grid-gap: 3px;
}

/* ToDo (kk:04/04/2024) this important will be removed when I refactor the entire css */
.numerical-keyboard .hg-row .hg-button {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  height: 75px !important;
  padding: 10px 22px;
}

.hg-layout-intKeyboard .hg-row:nth-child(-n + 3) .hg-button,
.hg-layout-intNegKeyboard .hg-row:nth-child(-n + 4) .hg-button,
.hg-layout-floatKeyboard .hg-row:nth-child(-n + 4) .hg-button,
.hg-layout-floatNegKeyboard .hg-row:nth-child(-n + 3) .hg-button {
  width: 109.3px;
  margin-bottom: 3px;
}

.hg-layout-intKeyboard .hg-row:nth-child(4) .hg-button {
  width: 168px;
}

.hg-layout-floatNegKeyboard .hg-row:nth-child(4) .hg-button {
  width: 80px;
}

.simple-keyboard .hg-button:active {
  color: #16212d;
  background-color: #dedede; /* grey30 */
}
