@import '@opentrons/components';

:root {
  --run-panel-padding: 0.5rem;
}

.run_button {
  width: calc(100% - 2 * var(--run-panel-padding));
  margin: 0.5rem;
}

.panel {
  margin-bottom: var(--run-panel-padding);
}

.subheading {
  padding: var(--run-panel-padding);
  font-size: var(--fs-body-2);
  color: var(--c-med-gray);
  text-transform: uppercase;
}

.bold_heading {
  padding: var(--run-panel-padding);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-huge);
  color: var(--c-med-gray);
  text-transform: uppercase;

  & > p {
    font-size: var(--fs-body-2);
  }
}
