.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 7.75rem;
}

.tabs_row {
  flex-shrink: 0;
  padding: 0 var(--spacing-40) var(--spacing-20);
}

.tab_content {
  display: flex;
  min-height: 0;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--spacing-40) var(--spacing-40);
  overflow-y: auto;
}
