@value light_grey, grey, dark_grey from '../App.global.css';

.list_title {
  color: dark_grey;
  text-decoration: none;
  font-size: 1rem;
  background-color: light_grey;
  display: block;
  height: 3rem;
  line-height: 3;
  padding-left: 0.5rem;
}

.labeled_list {
  list-style-type: none;
  margin: 1rem;
}

.labeled_list li {
  margin: 0;
  background-color: light_grey;
  width: 100%;
  display: block;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.75rem;
  border-bottom: 2px solid grey;
}

.labeled_list a:hover,
.labeled_list a.active_item {
  background-color: #eee;
}

.active {
  background-color: blue;
}

.labeled_list a {
  color: black;
  display: block;
  padding: 0 0.5rem;
}

a[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.icon {
  width: 2rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
}

/* TODO: revisit this once we have icons as svg */
.icon::before {
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';
  line-height: 1rem;
  text-align: center;
  color: dark_grey;
  border: 2px solid dark_grey;
  border-radius: 50%;
}

.icon.confirmed::before {
  background-color: dark_grey;
  content: '✓';
  color: white;
}

.info {
  width: calc(100% - 2rem);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}

.labeled_list li.alert {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #eee;
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
}
