.run_message {
  margin: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.run_message_item {
  margin-bottom: 0.5rem;
}

.run_message_item:last-child {
  margin-bottom: 0;
}

/*
redo this with component lib button next refactor
literally just copying button styles from component lib for now
*/

/* button styling */

.button {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.button_primary {
  composes: button;
  width: 100%;
  border-radius: 2px;

  /* TODO(mc, 2017-12-07): pull typeography out to central file */
  text-align: center;
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 600;

  /* TODO(mc, 2017-12-07): pull colors out to central file */
  color: white;
  background-color: #4a4a4a;

  /* TODO(mc, 2017-12-07): pull shadows out to central file */
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.24);
}

.button_primary:hover {
  background-color: #333;
}

.button_primary:active {
  font-weight: normal;
  background-color: #6c6c6c;

  /* TODO(mc, 2017-12-07): pull shadows out to central file */
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.24);
}

.button_primary[disabled],
.button_primary.disabled {
  font-weight: normal;
  color: #9c9c9c;
  background-color: #d2d2d2;
  box-shadow: none;
}

.run_link {
  composes: button_primary;
  margin: 1rem;
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 0;
}
