@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.gallery_container {
  width: var(--size-two-thirds);
  max-width: var(--size-4);
  margin: auto;
}

.tags_container {
  margin-top: var(--spacing-3);
}

.details_container {
  margin: var(--spacing-7) auto;
  padding: 0 var(--spacing-5);
}

.title {
  font-size: var(--fs-default);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
  color: var(--c-blue);
}

.lighter {
  opacity: 0.5;
}

.stats,
.dimensions,
.well_dimensions {
  width: calc(var(--size-50p) - 0.5 * var(--spacing-7));
  margin-right: var(--spacing-7);
}

.stats {
  margin-bottom: var(--spacing-5);
}

.well_dimensions {
  display: inline-block;
  vertical-align: top;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.well_dimensions_row {
  padding-top: var(--spacing-4);
  margin-top: var(--spacing-5);
  border-top: var(--bd-light);

  &:first-child {
    border: none;
  }
}

@media (--medium) {
  .gallery_container {
    display: inline-block;
    vertical-align: top;
    width: var(--size-third);
    max-width: var(--size-5);
  }

  .details_container {
    display: inline-block;
    vertical-align: top;
    width: var(--size-two-thirds);
    margin: 0;
    padding-top: var(--spacing-2);
    padding-left: var(--spacing-7);
    padding-right: 0;
  }
}

@media (--large) {
  .gallery_container {
    width: var(--size-25p);
  }

  .details_container {
    width: var(--size-75p);
  }

  .dimensions,
  .well_dimensions_container {
    display: inline-block;
    vertical-align: top;
  }

  .stats,
  .dimensions {
    width: calc(var(--size-third) - 2 * var(--spacing-7) / 3);
  }

  .well_dimensions_container {
    width: calc(var(--size-two-thirds) - var(--spacing-7) / 3);
  }

  .well_dimensions_row {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
