@import '@opentrons/components';

:root {
  --size-20p: 20%;
}

.module_diagram {
  max-width: 6rem;
  width: 100%;
  height: auto;
}

.modules_card_content {
  padding: 1rem;
}

.module_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.module_diagram_container {
  margin-right: 2rem;
}

.module_col {
  flex: 1 0 15%;
  padding-top: 0.5rem; /* TODO remove padding above once images are cropped properly */
}

.slot_map {
  flex: 1 0 12%;
}

.row_title {
  @apply --font-body-2-dark;

  display: block;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-semibold);
}

.modules_button_group {
  flex: 1 0 40%;
  padding-top: 0.5rem; /* TODO remove padding above once images are cropped properly */
  text-align: right;
}

.module_button {
  display: inline-block;
  width: 6.75rem;
  margin-left: 1rem;
}

.crash_info_container {
  margin: 1rem 0;
  background-color: var(--c-light-gray);
  border: 0.25rem solid var(--c-light-gray);
}

.crash_info_title {
  @apply --font-body-2-dark;

  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.crash_info_diagram {
  margin-bottom: 1rem;
  width: 100%;
}

.crash_info_box {
  @apply --font-body-1-dark;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;

  & strong {
    font-weight: var(--fw-semibold);
  }

  & p {
    margin: 0.5rem 0;
  }
}

.alert_icon {
  width: 1rem;
  margin-right: 0.5rem;
  color: var(--c-med-gray);
  vertical-align: top;
}

.link {
  @apply --font-body-1-dark;
}
