.modal_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--spacing-24) var(--spacing-24) var(--spacing-24);
  gap: var(--spacing-8);
}

.header_text_wrapper{
  display: flex;
  padding: var(--spacing-16) var(--spacing-16) var(--spacing-16);
}

.row_wrapper{
  display: flex;
  flex-direction: row;
}

.column_wrapper{
  display: flex;
  flex-direction: column;
}

.nozzle_selection_text {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-12) 0;
  gap: var(--spacing-4);
}

.nozzle_background_square {
  width: 558px;
  height: 497px;
  padding:  var(--spacing-16) var(--spacing-16)  var(--spacing-16);
  border-radius: var(--border-radius-12);
  background-color: var(--grey-20);
  gap: var(--spacing-16);
}

.select_well_alignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing-20) 0;
}

.well_legend_box {
  display: flex;
  width: 160px;
}