@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

/* OT NAV */

body {
    padding: 0;
    padding-top: 50px;
    margin: 0;
    font-family: "Open Sans", "sans-serif";
}

.highlight-none, .mi, .literal {
    color: #048f85;
}

/* DOCS */

div.body p {
    line-height: 20pt;
    font-family: "Open Sans", "sans-serif";
}

div.body h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 2.4em;
    min-height: 78px;
}

div.body h1 + p {
    padding-top: 24px;
}

div.sphinxsidebar h2,
div.sphinxsidebar h3,
div.sphinxsidebar h4,
div.sphinxsidebar h5,
div.sphinxsidebar h6,
div.body h2,
div.body h3,
div.body h4,
div.body h5 {
    font-family: "Open Sans", "sans-serif";
}

/* div.sphinxsidebar h3 a,
div.sphinxsidebar h3 a:hover,
/*div.body h2 {
    font-size: 22px;
}*/

@media screen and (max-width: 875px),(max-device-width: 767px) {


/*     body{
        padding: 20px 30px;
    } */

    div.documentwrapper {
        float: none;
        background: #fff;
        text-align: center;
    }
    div.sphinxsidebar {
        display: block;
        float: none;
        width: 102.5%;
        margin: -20px -30px 20px -30px;
        padding: 60px 20px;
        background: #FFF;
        color: #111;
    }
    div.sphinxsidebar h3,
    div.sphinxsidebar h4,
    div.sphinxsidebar p,
    div.sphinxsidebar h3 a {
        color: #111;
    }
    div.sphinxsidebar a {
        color: #111;
    }
    div.sphinxsidebar p.logo {
        display: inline-block;
    }
    img.logo {
        display: none;
    }
    div.document {
        width: 100%;
        margin: 0;
    }
    div.footer {
        display: none;
    }
    div.bodywrapper {
        margin: 0;
    }
    div.body {
        min-height: 0;
        padding: 0;
    }
    .rtd_doc_footer {
        display: none;
    }
    .document {
        width: auto;
    }
    .footer {
        width: auto;
    }
    .footer {
        width: auto;
    }
    /*     .github {
        display: none;
    } */
    div.sphinxsidebar {
        position: relative;
        margin-left: 0;
    }
    pre,
    tt,
    code {
        font-size: 1em;
    }
}

div.body p.caption {
    font-size: 22px;
}

ul {
    list-style-type: none;
    /* margin-left: 0; */
    font-family: "Open Sans", "sans-serif";
}

ul ul {
    list-style-type: circle;
    margin-left: 30px;
    color: #999;
    font-family: "Open Sans", "sans-serif";
}

@media screen and (min-device-width: 320px)and (max-device-width: 640px) {
    pre,
    tt,
    code {
        font-size: 14px;
    }
}

@media screen and (max-width: 875px){
    div.body{
        padding: 5%;
    }
}
/* Fixes overflowing grey box for autogenerated methods */
table.docutils.field-list {
    max-width: 595px;
    background-color: white;
}
