/* spacing variables */

:root {
  /*
   * padding and margin spacing scale
   *
   * TODO(mc, 2019-03-14): this list is pretty hard to maintain at this early
   * stage, but the future benefits of codifying a spacing scale outweight the
   * pain from churn right now
   */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.625rem; /* 10px */
  --spacing-4: 0.75rem; /* 12px */
  --spacing-5: 1rem; /* 16px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-7: 2rem; /* 32px */
  --spacing-8: 3rem; /* 48px */

  /* width and height sizes (same TODO as above) */
  --size-1: 1.25rem; /* 20px */
  --size-2: 3rem; /* 48px */
  --size-3: 12rem; /* 192px */
  --size-4: 16rem; /* 256px */
  --size-5: 20rem; /* 320px */
  --size-6: 32rem; /* 512px */
  --size-25p: 25%;
  --size-40p: 40%;
  --size-50p: 50%;
  --size-60p: 60%;
  --size-75p: 75%;
  --size-third: calc(100% / 3);
  --size-two-thirds: calc(200% / 3);

  /* main navigation specific width and height sizes */
  --size-subdomain-nav: 2.5rem; /* 40px */
  --size-breadcrumb-nav: 3rem; /* 48px */
  --size-main-nav: 5rem; /* 80px */
  --size-mobile-nav: 4rem; /* 64px */
  --size-total-nav: calc(var(--size-subdomain-nav) + var(--size-main-nav));

  /* aspect ratios */
  --aspect: {
    position: relative;
    height: 0;
  }

  --aspect-4-3: {
    @apply --aspect;

    padding-bottom: 75%;
  }

  --aspect-1-1: {
    @apply --aspect;

    padding-bottom: 100%;
  }

  --aspect-item: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
