.space_between {
  display: flex;
  justify-content: space-between;
}

div.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: var(--spacing-16);
  gap: var(--spacing-8);
}

div.container.padding_x {
  padding: 0 var(--spacing-16);
}
