@value blue, lightGrey, medGrey, darkGrey, plateBg from './colors.css';

/* @value overlay_transparency from '../globals.css'; */

/*
NOTE: available defs are:
  #roundSlotClipPath
*/

.round_slot {
  clip-path: url(#roundSlotClipPath);
}

.highlighted {
  fill: none;
  stroke: blue;
  stroke-width: 2.5;
}

.empty_slot {
  composes: round_slot;
  fill: plateBg;
}

.empty_slot text {
  fill: white;
  font-size: 2rem;
}

.slot_overlay {
  composes: round_slot;
  fill: black;
}

.slot_overlay > rect {
  width: 100%;
  height: 100%;
}

.slot_overlay text {
  fill: white;
}

.slot_overlay_name_it {
  composes: slot_overlay;
}

.slot_overlay_name_it > rect {
  height: 80%;
  transform: translate(0, 10%);
}

.appear_on_mouseover > * {
  opacity: 0;
}

.appear_on_mouseover:hover > * {
  opacity: 0.75;
}

/* Clickable text / icons */
.clickable {
  cursor: pointer;
}

.clickable:hover {
  fill: lightgray;
}

.pass_thru_mouse {
  /* TODO Ian 2017-12-07 move to mixins.css ? */
  pointer-events: none;
}

/* ----------- */

/* shows container name on deck */
.name_overlay {
  composes: round_slot;
  font-size: 0.5rem;
  fill: white;
}

.name_overlay rect {
  fill: black;
  opacity: 0.75;
}

.name_overlay .container_type {
  font-weight: bold;
}

.deck_slot:hover .name_overlay {
  display: none;
}
