[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest = "==8.3.3"
black = "==24.10.0"
importlib-metadata = "==8.5.0"
httpx = "==0.27.2"
python-dotenv = "==1.0.1"
mypy = "==1.11.2"
rich = "==13.9.2"
pydantic = "==2.9.2"
ruff = "==0.6.9"
docker = "==7.1.0"
syrupy = "==4.7.2"
pytest-html = "==4.1.1"

[requires]
python_version = "3.13"
