#deck {
    display: flex;
    justify-content: center;
    .deck {
        width: 140px;
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        button {
            width: 28px;
            height: 40px;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            line-height: 40px;
            background-color: none;
            &:focus,
            &.active {
                box-shadow: inset 5px 5px 0px 0px $primary-brand, inset -5px -5px 0px 0px $primary-brand;
                ;
            }
        }
    }
}