#increment-xyz,
 {
    width: 270px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}

span.increment {
    h3.xyz {
        width: 200px;
        padding-left: 88px
    }
    width:270px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}