/******************************
Protocol Info
******************************/

div#protocol-info {
    margin-left: 20px;
    flex: 0 0 242px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45px;
    padding: 10px;
    span {
        font-size: 14px;
        text-align: left;
        height: 22px;
        line-height: 22px;
        flex: 0 0 121px;
        &.title {
            font-weight: 800;
        }
        &.info {
            font-size: 13px;
            font-family: "open-sans";
            line-height: 22px;
            width: 100px;
            height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
