/******************************
Protocol Upload 
******************************/

form.upload {
    width: 285px;
    .fileUpload {
        width: 285px;
        height: 15px;
        padding: 24px 0;
        position: relative;
        overflow: hidden;
        color: #888;
        border-radius: 6px;
        border: 2px dashed darken($well-bg, 10%);
        text-align: center;
        justify-items: center;
        &:hover {
            background-color: darken($well-bg, 10%);
        }
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0px;
        padding: 15px;
        font-size: 30px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}