[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.4.4"
bmap-tools = {path = "./vendor/bmap-tools"}

[dev-packages]
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.1.0"
pytest = "==6.1.0"
pytest-watch = "~=4.2.0"
pytest-cov = "<2.11.0"
pytest-aiohttp = "*"
coverage = "==4.4.2"
colorama = "*"
mypy = "==0.910"
typing-extensions = "*"

[requires]
python_version = "3.7"
