@import "util";
@import "components";
body {
    font-size: $basesize;
    font-family: $stack-sans;
}

main#container {
    width: 1024px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}

// home, brand, connect container
header#home-connect {
    width: 1004px;
    height: 30px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    background-color: $well-bg;
}

//upload, info, progress, run container
section.protocol {
    width: 1004px;
    height: 65px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: $well-bg;
    justify-content: space-between;
}

//Jog Control Container
aside#jog {
    width: 270px;
    flex: 0 0 270px;
    height: 510px;
    padding: 15px;
    border-radius: 6px;
    background-color: $well-bg;
    h2#xy {
        width: 145px;
    }
    h2#z {
        width: 65px;
    }
}

//shared increment styles for xyz, and plunger
#increment-xyz,
#increment-plunger {
    div {
        height: 30px;
        flex: 0 0 20px;
        padding: 5px;
        text-align: center;
        &.slot {
            flex: 0 0 40px;
            margin-right: 23px;
        }
    }
    input[type="radio"] {
        display: none;
    }
    input[type="radio"] + label {
        padding-left: 3px;
    }
    input[type="radio"] + label span {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 0px 5px 4px;
        vertical-align: middle;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    input[type="radio"] + label span {
        border: 2px solid #999;
        background-color: #999;
    }
    input[type="radio"]:checked + label span {
        border: 2px solid #999;
        background-color: $primary-brand;
    }
    input[type="radio"] + label span,
    input[type="radio"]:checked + label span {
        -webkit-transition: background-color 0.4s linear;
        -o-transition: background-color 0.4s linear;
        -moz-transition: background-color 0.4s linear;
        transition: background-color 0.4s linear;
    }
}

// Task Pane Wrapper
section#task-pane {
    width: 710px;
    flex: 0 0 710px;
    margin-left: 10px;
    height: 536px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $well-bg;
    border-radius: 6px;
}

