.modal_footer_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--spacing-16) var(--spacing-24) var(--spacing-24);
  gap: var(--spacing-8);
}

.robot_cert_import_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: var(--spacing-24);
}
