@import '@opentrons/components';

.upload {
  width: 100%;
  margin: 1rem 0 1.5rem;
  padding: 0 1rem;
}

.file_input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.upload_button {
  display: block;
}

.file_drop {
  @apply --font-body-2-dark;

  display: block;
  padding: 1rem;
  border: 2px dashed silver;
  border-radius: 6px;
  color: var(--c-med-gray);
  text-align: center;
}

.file_drop_icon {
  display: block;
  margin: 3rem auto;
  width: 4rem;
}

.upload_warning {
  margin: 1rem;
  text-transform: uppercase;
}

.upload_warning_title {
  @apply --font-heading-dark;

  margin-bottom: 0.5rem;
}

.upload_warning_body {
  @apply --font-body-2-dark;
}
