/* stylesheet for Card layout components */
@import '@opentrons/components';

:root {
  --card_spacing: 0.75rem;
}

.card_container {
  overflow-y: auto;
  padding: calc(2 * var(--card_spacing));
  padding-bottom: 0;
}

.row {
  width: 100%;
  margin-bottom: var(--card_spacing);
}

.column_50 {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - (0.5 * var(--card_spacing)));

  &:not(:last-child) {
    margin-right: var(--card_spacing);
  }
}

.card_content_full {
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  font-size: var(--fs-body-2);
}

.card_content_50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 1rem 0 1rem 1rem;

  &:last-child {
    text-align: right;
    padding: 1rem;
  }
}

.card_content_25 {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  width: calc(25% - 0.5rem);
  padding: 1rem 0 1rem 1rem;

  &:last-child {
    text-align: right;
    padding: 1rem;
  }
}

.card_content_flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
