@import '@opentrons/components';

.alert {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
}

.prompt {
  padding-top: 2rem;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt_text {
  @apply --font-header-light;

  font-weight: normal;
  margin: 0.5rem 0;
  text-align: center;
}

.prompt_button {
  display: block;
  width: auto;
  margin: 0.5rem 0 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

.page_content_dark {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: color-mod(var(--c-black) alpha(0.99));
  height: 100%;
}

.deck_map_wrapper {
  flex: 1 1 0;
  align-self: stretch;
  display: flex;
  background-color: var(--c-bg-light);
  border-radius: 6px;
}

.deck_map {
  flex: 1;
}

.in_progress_spinner {
  height: 1rem;
}

.open_lid_button {
  margin: 2rem 0 0.5rem 0;
}
