.container {
  display: flex;
  width: 100%;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  gap: var(--spacing-8);
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}

.subheader {
  display: flex;
  width: 100%;
}

.main_content {
  width: 100%;
  background-color: var(--grey-10);
}
