.main_content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}

.info_label_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.labware_render_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  gap: var(--spacing-8);
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}
