@import '@opentrons/components';

.dont_show_again {
  float: left;
}

.ok_button {
  float: right;
}

.summary {
  padding-bottom: 2rem;
}

.numbered_list {
  margin: 0 2rem 2rem 2rem;

  & > li::before {
    margin-right: 1rem;
  }

  & li span {
    position: relative;
    left: 1rem;
  }
}

.step_description {
  margin-bottom: 1rem;

  & span:first-of-type {
    font-weight: var(--fw-semibold);
  }
}

.hint_contents {
  @apply --font-body-2-dark;

  line-height: var(--lh-copy);

  & p {
    margin-bottom: 1rem;
  }
}

.heading {
  @apply --font-header-dark;

  margin-bottom: 1rem;
}

.column_left {
  width: 35%;
}

.column_right {
  margin-left: 5%;
  width: 60%;
}

.column_left,
.column_right {
  display: inline-block;
  vertical-align: top;

  & > * {
    width: 100%;
  }
}
