@import '@opentrons/components/styles';

.file_sidebar {
  padding: 2rem 4.5rem 0;
}

.upload_button,
.button {
  margin: 0.75rem 0;
  width: 100%;
}

.upload_button input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}
