@import '@opentrons/components';

.bottom_button,
.download_button {
  margin: 1rem 3rem;
  width: calc(100% - 3rem * 2);
}

.upload_button {
  display: block;

  & input {
    position: fixed;
    clip: rect(1px 1px 1px 1px);
  }
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--c-light-gray);
}
