div.parts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  gap: 5px; 
}

div.parts-list figure {
  width: 200px;
}

figure.screenshot img {
  border: 1px solid #888;
}

figure.side-by-side p {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  gap: 2%; 
}

figure.side-by-side img {
  width: 48%;
}
