.modal_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-32);
}

.modal_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-16);
}

.password_container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: calc(var(--spacing-16) * 2 + 40px);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-16) var(--spacing-20);
  border-radius: var(--border-radius-8);
  background-color: var(--grey-30);
}

.last_password {
  position: absolute;
  animation: fade-out 0.2s ease-in forwards;
}

.password {
  animation: fade-in 0.2s 0.2s ease-out both;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    display: none;
    opacity: 0;
    transform: translateY(-60%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(60%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
