.robot_encryption_key_container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.robot_encryption_key_content_container {
  display: flex;
  height: 100%;
  min-height: 12rem;
  flex-direction: column;
  padding: 7.75rem var(--spacing-40) var(--spacing-40);
}

.robot_encryption_key_modal_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-32);
}

.robot_encryption_key_modal_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-16);
}

.robot_encryption_key_password_container {
  display: flex;
  width: 100%;
  min-height: 2.5rem;
  align-items: start;
  padding: var(--spacing-16) var(--spacing-20);
  border-radius: var(--border-radius-8);
  background-color: var(--grey-30);
}
