.swatch {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.41);
}

.color {
  width: 59px;
  height: 24px;
  border-radius: 2px;
}

.popover {
  margin-top: 15px;
  position: absolute;
  right: 24px;
}

.cover {
  position: fixed;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
