.container {
  position: relative;
  display: flex;
  width: fit-content;
  min-width: 10rem;
  max-width: 100%;
  align-items: flex-start;
  padding: var(--spacing-8);
  border: none;
  border-radius: var(--border-radius-8);
  background-color: #16212d33;
  gap: var(--spacing-8);
}

.container_with_remove {
  padding-right: var(--spacing-40);
}

.container_without_remove {
  padding-right: var(--spacing-8);
}

.remove_button {
  position: absolute;
  top: var(--spacing-2);
  right: var(--spacing-2);
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);
  border: none;
  border-radius: var(--border-radius-4);
  background: none;
  cursor: pointer;
}

.remove_button:hover {
  background-color: var(--grey-20);
}

.remove_button:focus {
  box-shadow: 0 0 0 2px var(--blue-50);
  outline: none;
}

.file_icon_container {
  display: flex;
  width: 2.125rem;
  height: 2.125rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-4);
  background-color: var(--white);
}

.file_extension {
  color: #000;
  font-family: 'Reddit Mono', monospace;
  font-size: var(--font-size-13);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-20);
  text-align: center;
}

.file_details_container {
  display: flex;
  overflow: hidden;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-4);
}

.file_name {
  overflow: hidden;
  font-size: var(--font-size-13);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-16);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file_details {
  font-size: var(--font-size-13);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-16);
}
