@import '..';

.accessibly_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form_field {
  @apply --font-form-default;

  display: flex;
  align-items: center;
  line-height: 1;
}

.label_text {
  flex: 0 0 auto;
  padding: 0 0.5rem;

  &:empty {
    padding: 0;
  }
}

.form_group_label {
  @apply --font-form-default;

  font-weight: var(--fw-semibold);
  margin-bottom: 0.15rem;
  text-transform: capitalize;

  &::after {
    content: ':';
  }
}

.checkbox_icon {
  /* Icon for radiobutton and for checkbox */
  display: block;
  width: 1.25rem;
  min-width: 1.25rem;
  color: var(--c-font-dark);

  &:not(.checkbox_disabled):hover {
    cursor: pointer;
  }

  &.error {
    color: var(--c-warning-dark);
  }
}

.toggle_icon {
  /* Icon for radiobutton and for checkbox */
  display: block;
  width: 2rem;
  min-width: 2rem;
  color: var(--c-font-dark);

  &:not(.toggle_disabled):hover {
    cursor: pointer;
  }
}

.dropdown_disabled,
.checkbox_disabled,
.toggle_disabled {
  opacity: 0.5;
}

.input_field_container {
  width: 100%;
}

.input_field {
  display: flex;
  flex: 1 1;
  background-color: var(--c-light-gray);
  border-radius: var(--bd-radius-form-field);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  & input {
    @apply --font-form-default;

    background-color: inherit;
    border-radius: inherit;
    border: none;
    flex: 1 1 auto;
    width: 100%;
    height: 1rem;

    /* TODO: Ian 2018-09-14 Firefox has 1px padding on input element,
    * but I can't figure out how to fix it in Firefox without breaking it in Chrome.
    * Better CSS reset for inputs needed?
    */

    /* padding: 1px; */
  }

  & input:focus {
    outline: none;
  }

  & input::placeholder {
    color: var(--c-med-gray);
  }

  &:focus-within {
    background-color: var(--c-white);
    box-shadow: 0 0.125rem 0.25rem 0 color-mod(var(--c-black) alpha(0.5));
  }

  & .suffix {
    @apply --font-form-default;

    font-weight: var(--fw-semibold);
    display: inline-block;
    flex: 1 0;
    text-align: right;
    align-self: center;
  }
}

.input_caption {
  @apply --font-form-caption;

  line-height: 1.2;

  & .right {
    float: right;
  }
}

.inline {
  display: flex;

  & .label_text {
    padding-right: 1.5rem;
  }
}

.inline_item {
  flex: 1;
}

.error div,
.error span {
  color: var(--c-warning-dark);
}

.error select,
.error .input_field {
  background-color: var(--c-warning-light);
}

.dropdown {
  background-color: var(--c-light-gray);
}

.dropdown_field {
  position: relative;

  & select {
    @apply --font-form-default;

    border: 0;
    padding: 0.25rem 0.5rem;
    outline: none;
    height: 1.5rem;
    border-radius: var(--bd-radius-form-field);
    font-family: inherit;
    width: 100%;
    appearance: none;
    overflow: hidden;

    &:focus {
      background-color: var(--c-white);
      box-shadow: 0 0.125rem 0.25rem 0 color-mod(var(--c-black) alpha(0.5));
    }
  }

  & .dropdown_icon {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    width: 1.25rem;
    pointer-events: none;

    & svg {
      color: var(--c-dark-gray);
    }
  }
}

.error_icon {
  display: inline-block;
  width: 1.5rem;
  min-width: 1.5rem;
  padding-right: 0.5rem;
}

.disabled {
  /* Disable mouse interaction. NOTE: User can still tab to focus a field */
  pointer-events: none;

  & .form_group_label {
    color: var(--c-light-gray);
  }

  /* stylelint-disable no-descending-specificity */
  & input,
  & .suffix {
    color: var(--c-med-gray);
  }
}
