@import '../index.css';

.accessibly_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form_field {
  @apply --font-body-2-dark;

  display: flex;
  align-items: center;
}

.label_text {
  flex: 0 0 auto;
  padding: 0 0.5rem;

  &:empty {
    padding: 0;
  }
}

.formgroup_label {
  @apply --font-body-2-dark;

  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

.checkbox_icon {
  /* Icon for radiobutton and for checkbox */
  width: 1.25rem;
  min-width: 1.25rem;
  color: var(--c-dark-gray);

  &.error {
    color: var(--c-mustard);
  }
}

.input_field_container {
  width: 100%;
}

.input_field {
  display: flex;
  flex: 1 1;
  background-color: var(--c-light-gray);
  border-radius: 3px;
  padding: 0.25rem 1rem;

  & input {
    background-color: inherit;
    border-radius: inherit;
    border: none;
    flex: 1 1 auto;
    color: var(--c-dark-gray);
    width: 100%;

    /* add 1px padding that is present in chrome but not ff */
    padding: 1px;
  }

  & input:focus {
    outline: none;
  }

  & input::placeholder {
    color: var(--c-med-gray);
  }

  &:focus-within {
    background-color: var(--c-light-blue);
  }

  & .suffix {
    display: inline-block;
    flex: 1 0;
    font-weight: var(--fw-semibold);
    text-align: right;
    color: var(--c-dark-gray);
  }
}

.input_caption {
  font-size: var(--fs-caption);
  min-height: var(--fs-caption);
  color: var(--c-med-gray);

  & .right {
    float: right;
  }
}

.inline {
  display: flex;

  & .label_text {
    padding-right: 1.5rem;
  }
}

.dropdown_field {
  position: relative;

  & select {
    border: 0;
    padding: 0.25rem 1rem;
    outline: none;
    border-radius: 3px;
    color: var(--c-dark-gray);
    background-color: var(--c-light-gray);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    appearance: none;
    overflow: hidden;
  }

  & .dropdown_icon {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    width: 1.25rem;
    pointer-events: none;

    & svg {
      color: var(--c-dark-gray);
    }
  }
}

.error div,
.error span {
  color: var(--c-mustard);
}

.error select {
  background-color: var(--c-mustard);
}

.error .input_field {
  background-color: var(--c-mustard);
}

.error_icon {
  display: inline-block;
  width: 1.5rem;
  min-width: 1.5rem;
  padding-right: 0.5rem;
}

.disabled {
  cursor: not-allowed;

  & * {
    /* Disable mouse interaction. NOTE: User can still tab to focus a field */
    pointer-events: none;
  }

  & .formgroup_label {
    color: var(--c-light-gray);
  }
}
