@import '@opentrons/components';

.labware_selection_modal {
  background-color: var(--c-bg-light);
}

.title {
  @apply --font-header-dark;

  padding-bottom: 1rem;
}

.labware_dropdown {
  position: absolute;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  left: 0;
  right: 0;
  top: 12%;
  max-width: 28rem;
  margin: auto;
  padding: 1rem 2rem;
  user-select: none;
  z-index: 1;

  & button {
    margin-top: 2rem;
    float: right;
  }
}

/* ----- */

.view_measurements_link,
.labware_name {
  padding: 1rem 0.5rem;
}

.view_measurements_link {
  flex: 0.6;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: var(--c-bg-hover);
  }
}

.labware_list_item {
  display: flex;
  padding: 0;

  & .view_measurements_link {
    display: none;
  }

  &:hover .view_measurements_link {
    display: inherit;
  }
}

.labware_preview_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

.labware_preview {
  width: 25.25rem;
  height: 12.8125rem;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.labware_preview_header {
  @apply --font-header-dark;
}

.labware_render_wrapper {
  height: 7.125rem;
  width: 10.75rem;
}

.labware_detail_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.labware_detail_column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem 1rem;
}

.labware_name {
  text-align: left;
}
