@import '@opentrons/components';

.labware_selection_modal {
  background-color: var(--c-bg-light);
}

.title {
  @apply --font-header-dark;

  padding-bottom: 1rem;
}

.labware_dropdown {
  position: absolute;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  left: 0;
  right: 0;
  top: 12%;
  max-width: 28rem;
  margin: auto;
  padding: 1rem 2rem;
  user-select: none;
  z-index: 1;

  & button {
    margin-top: 2rem;
    float: right;
  }
}

/* ----- */

.view_measurements_link {
  flex: 0.6;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.labware_list_item {
  padding: 0.75rem;
  display: flex;

  & .view_measurements_link {
    display: none;
  }

  &:hover .view_measurements_link {
    display: inherit;
  }
}

/* TODO: Ian 2018-07-26 replace these image with some alternative design...
 * these are still ugly but not going to be long-lived. Might be tooltips, dunno
 */
.labware_list_item:hover::after {
  position: absolute;
  width: 32rem;
  height: 15rem;
  background-color: var(--c-white);
  content: var(--image-url);
  border: var(--bd-light);
  top: 4rem;
  left: 10rem;

  /* Images too large, and need to be cropped from left */
  zoom: 0.5;
  clip-path: inset(0 0 0 360px);
  z-index: 5000;
}

.labware_preview_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

.labware_preview {
  width: 25.25rem;
  height: 12.8125rem;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.labware_preview_header {
  @apply --font-header-dark;
}

.labware_render_wrapper {
  height: 7.125rem;
  width: 10.75rem;
}

.labware_detail_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.labware_detail_column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem 1rem;
}

.labware_name {
  text-align: left;
}
