@import '@opentrons/components/styles';

.title {
  @apply --font-header-dark;

  padding-bottom: 1rem;
}

.labware_dropdown {
  position: absolute;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  left: 0;
  right: 0;
  top: 12%;
  max-width: 28rem;
  margin: auto;
  padding: 1rem 2rem;
  user-select: none;
  z-index: 1;

  & button {
    margin-top: 2rem;
    float: right;
  }
}

/* ----- */

.view_measurements_link,
.labware_name {
  padding: 1rem 0.5rem;
}

.view_measurements_link {
  flex: 0.6;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: var(--c-bg-hover);
  }
}

.labware_list_item {
  display: flex;
  padding: 0;

  & .view_measurements_link {
    display: none;
  }

  &:hover .view_measurements_link {
    display: inherit;
  }
}

.labware_preview_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

.labware_preview {
  width: 25.25rem;
  height: 12.8125rem;
  background-color: var(--c-white);
  box-shadow: var(--shadow-lvl-2);
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.labware_preview_header {
  @apply --font-header-dark;
}

.labware_preview_module_compat {
  @apply --font-body-2-dark;

  display: flex;
  align-items: center;
}

.labware_render_wrapper {
  height: 7.125rem;
  width: 10.75rem;
}

.labware_detail_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.labware_detail_column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem 1rem;
}

.labware_name {
  text-align: left;
}

/* TODO: Ian 2019-08-05 copied from FileSidebar.css, consider merging as new component  */
.upload_button {
  margin: 0.75rem 0;
  width: 100%;
}

.upload_button input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.upload_helper_copy {
  @apply --font-body-1-dark;
}

/* TODO: Ian 2019-09-03 similar styles for links exist in multiple projects */
.link {
  color: var(--c-blue);
  text-decoration: none;
  cursor: pointer;
}

.labware_item_icon {
  flex: 0 1 auto;
  margin-left: 0.5rem;
}

.icon,
.labware_item_icon {
  height: 1.25rem;
  fill: var(--c-near-black);
}

.filters_heading {
  @apply --font-body-2-dark;

  font-weight: var(--fw-semibold);
}

.filter_checkbox {
  display: inline-block;
  padding-right: 0.75rem;
}

.filters_section {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.filters_section_copy {
  @apply --font-body-1-dark;

  padding-left: 0.15rem;
}

.disabled {
  color: var(--c-font-disabled);
}
