@import '@opentrons/components';

.modal_header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 5rem;
}

.left_half {
  flex: 1;
}

.right_half {
  flex: 1;
}

.main_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
}

.field_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field_spacer {
  margin: 6px 12px;
}

.adjustment_buttons {
  display: flex;
  flex-direction: column;
}

.adjustment_button {
  height: 34px;
  width: 34px;
  cursor: pointer;
  margin: 0.5em 0;
}

.viz_group {
  display: flex;
  align-items: flex-end;
}

.viz_wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pipette_tip_image {
  position: relative;
}

.button_row {
  display: flex;
  justify-content: space-between;
}

.reset_button {
  width: 10rem;
}

.cancel_button {
  width: 10rem;
  margin-right: 1rem;
}

.done_button {
  width: 10rem;
}
