@import '@opentrons/components/styles';

.step_title_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding-left: var(--list-padding-small);
  min-height: 3.5rem;
  background-color: var(--c-white);
}

.multiselect_title_bar {
  padding-left: 0;
}

.title {
  font-size: var(--fs-body-2);
  font-weight: var(--fw-regular);
  margin: 0;
  text-transform: uppercase;
}

.title_enabled {
  color: var(--c-font-dark);
}

.title_disabled {
  color: var(--c-font-disabled);
}

.title_bar_icon {
  color: var(--c-font-dark);
  height: 1.5rem;
}

.icon_left_of_title {
  margin-right: 0.5rem;
}

.multiselect_wrapper {
  padding: calc(var(--list-padding-small) - var(--bd-width-default));
  padding-top: 1rem;
  align-self: stretch;
}

.icon_multiselect {
  width: 1.25rem;
}

.last_selected svg {
  background-color: color-mod(var(--c-black) alpha(10%));
  outline: 2px solid color-mod(var(--c-black) alpha(15%));
}

.title_bar_carat {
  margin-left: auto;
  padding: calc(var(--list-padding-small) - var(--bd-width-default));
  padding-top: 1rem;
  align-self: stretch;

  &:hover {
    background-color: color-mod(var(--c-black) alpha(5%));
  }
}

.pd_titled_list {
  margin: 0.4rem 0.125rem;
  color: var(--c-dark-gray);
  box-shadow: var(--shadow-lvl-1);
  background-color: var(--c-white);
}

.pd_titled_list_title {
  /* title of the titled list */
  min-height: 3.5rem;
}

.pd_list_item {
  min-height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--fs-body-1);

  & > * {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.titled_list_selected .step_title_bar {
  background-color: var(--c-bg-selected);

  & * {
    color: var(--c-selected-dark);
    font-weight: var(--fw-semibold);
  }
}

.border {
  border-top: var(--bd-light);
}

.hoverable:hover {
  @apply --outline-highlight;
}

.hover_border {
  @apply --outline-highlight;
}
