@import '@opentrons/components';
@import '../styles/breakpoints.css';
@import '../styles/spacing.css';

.labware_creator {
  @apply --font-body-2-dark;

  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem;

  & p {
    margin: 1rem 0;
    line-height: var(--lh-copy);
  }

  & ul {
    list-style: disc;
    padding-left: 1.25rem;
    line-height: var(--lh-copy);
  }

  & li {
    line-height: var(--lh-copy);
    padding-bottom: 0.5rem;
  }

  & strong {
    font-weight: var(--fw-semibold);
  }
}

a,
a:visited {
  color: var(--c-blue);
}

/* TODO (ka 2019-8-23): Removed nesting here to allow for easier style overrides/reduce specificity */
h2 {
  @apply --font-header-dark;
}

.labware_guide_button {
  display: inline-block;
  width: auto;
  margin: 2rem 0 1rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: var(--c-blue);
  font-size: var(--fs-body-2);
  color: white;
  font-family: 'AkkoPro-Regular', 'Ropa Sans', 'Open Sans', sans-serif;
  text-transform: uppercase;

  &:hover {
    background-color: #00f;
  }

  &:visited {
    color: white;
  }
}

.start_creating_btn:focus {
  outline: none;
}

.double_check_before_exporting {
  font-style: italic;
  font-weight: var(--fw-semibold);
}

.error_modal {
  position: fixed;
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.error_message {
  color: var(--c-red);
  font-style: italic;
  padding: 0.5rem 0;
}

.callout {
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  border: var(--bd-light);
}

.setup_heading {
  border: none;
}

.flex_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0 3rem;
}

.new_definition_section,
.upload_exisiting_section {
  flex-basis: 100%;
  flex-shrink: 0;
}

.new_definition_content {
  padding-top: 1rem;
}

.upload_exisiting_section {
  min-height: 19rem;
}

.homogenous_wells_section {
  max-width: 16rem;
}

.hidden {
  display: none;
}

.radio_image_label {
  text-anchor: middle;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.radio_image {
  padding: 0 0.5rem;
  height: 1.25rem;
}

.instructions_column,
.diagram_column,
.form_fields_column,
.export_form_fields,
.preview_instructions,
.brand_column,
.brand_id_column,
.volume_instructions_column {
  flex-basis: 100%;
  flex-shrink: 0;
  font-size: var(--fs-body-1);
}

.diagram_column,
.help_text {
  display: flex;
  justify-content: center;
}

@media (--medium) {
  .new_definition_section {
    flex-basis: 45%;
    flex-shrink: 1;
    padding-right: 2rem;
    border-right: var(--bd-light);
  }

  .upload_exisiting_section {
    padding: 1rem;
    flex-shrink: 1;
    padding-right: 0;
    flex-basis: 55%;
  }

  .diagram_column,
  .form_fields_column,
  .brand_column,
  .brand_id_column,
  .help_text,
  .export_form_fields,
  .volume_instructions_column {
    flex-basis: var(--size-50p);
    flex-shrink: 1;
  }

  .instructions_column {
    padding-right: var(--spacing-7);
  }

  .brand_column {
    padding-right: var(--spacing-8);
  }

  .form_fields_column {
    padding-left: var(--spacing-7);
    max-width: 15rem;
  }

  .preview_labware {
    max-width: var(--size-60p);
    margin: 0 auto;
  }

  .help_text {
    max-width: var(--size-50p);
  }

  .pipette_field_wrapper {
    max-width: 13rem;
  }
}

@media (--large) {
  .instructions_column,
  .diagram_column,
  .form_fields_column,
  .brand_column {
    flex-basis: var(--size-third);
    flex-shrink: 1;
  }

  .export_form_fields,
  .brand_id_column {
    flex-basis: var(--size-two-thirds);
    flex-shrink: 1;
  }

  .help_text {
    max-width: 90%;
  }
}
