@import '@opentrons/components';

.labware_creator {
  @apply --font-body-2-dark;

  max-width: 60rem;
  margin: 1rem auto;

  & p {
    margin: 1rem 0;
    line-height: var(--lh-copy);
  }

  & ul {
    list-style: disc inside;
  }

  & strong {
    font-weight: var(--fw-semibold);
  }

  & h2 {
    @apply --font-header-dark;
  }
}

.double_check_before_exporting {
  font-style: italic;
  font-weight: var(--fw-semibold);
}

.export_error_modal {
  position: fixed;
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.export_button {
  max-width: 20rem;
}
