@import '@opentrons/components';

.labware_creator {
  @apply --font-body-2-dark;

  max-width: 60rem;
  margin: 1rem auto;

  & p {
    margin: 1rem 0;
    line-height: var(--lh-copy);
  }

  & ul {
    list-style: disc inside;
  }

  & strong {
    font-weight: var(--fw-semibold);
  }

  & h2 {
    @apply --font-header-dark;
  }
}

.field_wrapper {
  margin: 1rem 0;
  max-width: 20rem;
}

.field_label {
  @apply --font-body-1-dark;

  font-weight: var(--fw-semibold);
  margin-bottom: 0.25rem;
}

.section_wrapper {
  margin: 1rem 0;
}

.section_header {
  border-bottom: 1px solid var(--c-dark-gray);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.double_check_before_exporting {
  font-style: italic;
  font-weight: var(--fw-semibold);
}

.export_error_modal {
  position: fixed;
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

.export_button {
  max-width: 20rem;
}
