@import '@opentrons/components/styles';

.header {
  font-size: var(--fs-header); /* from legacy --font-header-dark */
    font-weight: var(--fw-semibold); /* from legacy --font-header-dark */
    color: var(--c-font-dark); /* from legacy --font-header-dark */

  margin-bottom: 1rem;
}

.body {
  @apply --font-body-2-dark;
}

.later_button {
  width: 16rem;
}

.now_button {
  width: 15rem;
  margin-left: 1rem;
}
