.modal {
  z-index: 100;
  align-items: flex-start;
}

.modal.blocking {
  z-index: 1000;
}

.modal_contents {
  /* Aligns modal to top instead of centering vertically */
  margin: 0 auto;
}

.transparent_content {
  background-color: transparent;
}

.spinner_modal_icon {
  width: 7.5rem;
  margin-bottom: 3rem;
}

.success_icon {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.centered_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up_form_wrapper {
  width: 100%;
  height: 20rem;
  margin: 2rem 0;
}
