.modal {
  z-index: 100;
  align-items: flex-start;

  & p {
    line-height: 1.5;
  }
}

.modal.blocking {
  z-index: 1000;
}

.modal_contents {
  /* Aligns modal to top instead of centering vertically */
  margin: 0 auto;
}

.transparent_content {
  background-color: transparent;
}

.spinner_modal_icon {
  width: 7.5rem;
  margin-bottom: 3rem;
}

.success_icon {
  width: 12rem;
  height: 12rem;
  margin: 2rem;
}

.centered_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up_form_wrapper {
  width: 100%;
  height: 26rem;
  margin-bottom: 1rem;
}

.ok_button {
  width: 10rem;
}

/* NOTE: Ian 2019-07-11 derived from ScrollableAlertModal + BottomButtonBar in Run App */

.bottom_button {
  float: right;
  width: auto;
  max-width: 10rem;
  margin-left: 1rem;
}

.long_button {
  width: auto;
  min-width: 9rem;
  max-width: none;
}

.scrollable_modal_wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.scrollable_modal_contents {
  display: flex;
  width: 100%;
}

.scrollable_modal_scroll {
  max-height: 100%;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.button_row {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* usually used when there is a single button on the left and rest on the right */
.button_row_divided {
  display: flex;
  justify-content: space-between;
}

/* used with .button_row_divided to define the division */
.button_right_of_break {
  margin-right: 1rem;
}

.button_medium {
  width: 10rem;
}
