.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal_content {
  position: relative;
  margin: 2rem;
  background-color: white;
}
