@page :first {
  @bottom-right {
    content: none;
  }
}

@page {
  size: letter;
  margin: 0.75in;

  @bottom-right {
    content: "Page " counter(page);
    font-size: 10pt;
    font-family: "Public Sans", sans-serif;
    color: #4A4C4E;
    padding-top: 0.25in;
    vertical-align: top;
  }
  
  @top-right {
    content: none;
  }
}

@media print {
  div.cover {
    text-align: center;
    page-break-after: always;
    break-after: page;
  }

  p.title {
    font-size: 2em;
  }

  tr {
    break-inside: avoid;
  }
  
  h1 {
    break-before: always;
    page-break-before: always; /* deprecated but the PDF generator needs it */
  }

  h2, h3, h4, h5 {
    break-after: avoid;
  }

  p {
    orphans: 3;
    widows: 3;
    font-size: 11pt;
  }
  
  .admonition p, .admonition li, th, td {
    font-size: 11pt;
  }
  
  figure {
    break-inside: avoid;
  }
  
  figure img {
    max-height: 8in;
  }
}