@import '@opentrons/components';

/*
TODO (ka 2018-7-25): These components and thier styles should be replaced width
updated component library cards after redesign/refactor
*/

.status_card {
  position: relative;
  margin-top: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
}

.card_title {
  @apply --font-body-2-dark;

  padding: 1rem 0.5rem 0;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.card_row {
  padding: 1rem 0.5rem;
  font-size: var(--fs-body-1);
  display: flex;
  align-items: center;
}

.card_row:not(:last-child) {
  border-bottom: var(--bd-light);
  border-bottom-width: 1px;
}

.label {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

.value {
  text-transform: capitalize;
}

.data_row {
  display: flex;
  justify-content: space-between;
  max-width: 7rem;
}

.cycle_data_item,
.temp_data_item {
  flex: 1 1 0;
}

.compact_labeled_value > p {
  margin-bottom: 0;
}

.inline_labeled_value {
  @apply --font-body-1-dark;

  display: flex;
}

.time_remaining_wrapper {
  margin-top: 0.5rem;
}

.time_remaining_label {
  margin-right: 1rem;
  font-weight: var(--fw-semibold);
}

.status_item_wrapper {
  flex: 1 1 0;
}

.cycle_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cycle_info_counts {
  display: flex;
  flex-direction: row;
}