.container {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-4) 0;
  gap: var(--spacing-4);
}

.list_of_children {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ornamental_line {
  --checkpointlist-line-stroke-width: var(--spacing-4);

  width: var(--checkpointlist-line-stroke-width);
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: calc(var(--checkpointlist-line-stroke-width) / 2);
  margin: var(--spacing-4);
  background-color: var(--grey-50);

  .active & {
    background-color: var(--blue-50);
  }
}
