/*TODO: Move Resets and Typography to global css file*/

*{
  box-sizing:border-box;

}

body{
  padding:0;
  margin:0;
  overflow:hidden;
}

.run_wrapper {
  display: grid;
  width:1024px;
  height:768px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 68px 200px 350px 150px;
  grid-template-areas:  "head head head" 
                        "sidebar controls controls" 
                        "sidebar log log" 
                        "connect log log";
}

.menu {
  grid-area: head;
  background-color: #666;
  display:grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-areas:  ". . . run"
}

.sidebar {
  grid-area: sidebar;
}

.connect {
  grid-area: connect;
  background-color: #DDD;
}

.run{
  grid-area: run;
  margin:1rem;
}

.run_progress{
  grid-area: controls;
  background-color: #DDD;
}

.task {
  grid-area: task;
  background-color: #EEE;
}