* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: row;
  font-family: 'sans';
  position: fixed;
}

.task_header {
  background-color: #777;
  height: 4rem;
  line-height: 4rem;
  color: white;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 2fr auto 10rem;
  grid-template-areas: 'file . home';
}

.task_header a {
  color: white;
  grid-area: file;
}

.btn_home {
  composes: btn from './Util.css';
  grid-area: home;
  margin: 1rem 0;
}
