* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: row;
  font-family: 'sans';
  position: fixed;
}

.task_header {
  background-color: #777;
  height: 4rem;
  line-height: 4rem;
  color: white;
  padding: 0 1rem;
}
