@value blue: #006FFF;
@value teal: #05C1B3;
@value mustard: #FFD252;
@value green: #7ed321;
@value red: #F00000;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute__fill {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline_block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex__items_center {
  align-items: center;
}

.flex__justify_center {
  justify-content: center;
}

/*** TYPOGRAPHY ***/
@font-face {
  font-family: 'trons';
  src: url('../fonts/Geogtq-Rg-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../fonts/OpenSans-Regular-webfont.woff');
  font-weight: 300;
  font-style: normal;
}

.sans {
  font-family: sans;
}

.trons {
  font-family: trons;
}

/*** TOOLTIPS ***/
.tooltip_parent:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  border-radius: 6px;
  background-color: black;
  font-size: 1rem;
  line-height: 3rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

[disabled] .tooltip {
  background-color: silver;
}

.tooltip_left {
  top: 15%;
  left: 80%;
  width: 10rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tooltip_left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -1.5rem;
  border-width: 1.5rem;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

[disabled] .tooltip_left::after {
  border-color: transparent silver transparent transparent;
}

.tooltip_bottom {
  top: 75%;
  left: -80%;
  width: 10rem;
  font-size: 0.75rem;
  line-height: 2rem;
}

.tooltip_bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 13%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black;
}

[disabled] .tooltip_bottom::after {
  border-color: transparent transparent silver;
}

.tooltip_top,
.tooltip_diagram {
  bottom: 100%;
  left: 0;
  width: 15rem;
  line-height: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
}

.tooltip_top::after,
.tooltip_diagram::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent;
}

.tooltip_diagram {
  left: -40%;
  width: 24rem;
  height: 20rem;
}

.tooltip_diagram::after {
  margin-left: -10px;
  border-width: 10px;
}

[disabled] .tooltip_top::after {
  border-color: silver transparent transparent;
}

.tooltip_hidden .tooltip_left {
  display: none;
}

/*** BUTTONS ***/
button {
  border: none;
}

button:focus {
  outline: 0;
}

.btn {
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 2px;
  font-family: 'sans';
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}

.btn:active {
  outline: none;
  border: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn_light {
  border: 1px solid silver;
  background-color: #fff;
  color: #666;
}

.btn_light:hover {
  background-color: #eee;
}

.btn_dark {
  background-color: #9b9b9b;
  color: white;
}

.btn_dark:hover {
  background-color: #777;
}
