.connect_panel {
  color: silver;
  height: 100%;
  width: 17.2rem;
}

.robot_results {
  height: 85%;
}

.robot_results.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.25rem;
  line-height: 62px;
  border-bottom: 2px solid #ddd;
}

.spinner {
  display: block;
  height: 10rem;
  margin: 0 auto;
}

.robot_list .spinner {
  height: 5rem;
  margin-top: 1rem;
}

.refresh {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: silver;
  cursor: pointer;
}

.robot_list {
  list-style-type: none;
}

.robot_list li {
  height: 6rem;
  border-bottom: 2px solid #ddd;
  margin: 0;
}

.connection_type {
  margin: -1rem 1rem 0;
  height: 3rem;
  display: inline-block;
  vertical-align: baseline;
}

.connection_info {
  display: inline-block;
  width: 13rem;
  height: 6rem;
}

.connection_name {
  line-height: 3rem;
}

.connection_name,
.connection_btn {
  width: 10rem;
  display: block;
  text-align: center;
}

.btn_connect {
  composes: btn from './Util.css';
  height: 2.5rem;
  margin: 0 auto;
  line-height: 2.5rem;
  padding: 0 1rem;
  text-align: center;
  background-color: #999;
  color: white;
}

.robots_unfound {
  text-align: center;
  padding: 2rem 1rem;
}

.btn_refresh {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: none;
  font-size: 8rem;
  color: silver;
}

.btn_connect:hover {
  background-color: #777;
}
