.connect_panel {
  color: silver;
  height: 100%;
  width: 275px;
}

.robot_results {
  height: calc(100vh - 62px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.robot_results.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.25rem;
  line-height: 62px;
  border-bottom: 2px solid #ddd;
}

.spinner {
  display: block;
  height: 10rem;
  margin: 0 auto;
}

.robot_list .spinner {
  height: 5rem;
  margin-top: 1rem;
}

.refresh_icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: silver;
  cursor: pointer;
}

.robot_list {
  list-style-type: none;
}

.robot_list li {
  height: 6rem;
  border-bottom: 2px solid #ddd;
  margin: 0;
}

.connection_type {
  margin: 0 0.5rem;
  height: 2.5rem;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.connection_info {
  display: inline-block;
  width: 13rem;
  height: 6rem;
}

.connection_name {
  width: 12.5rem;
  overflow: hidden;
  text-align: center;
  line-height: 3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.connection_name,
.connection_btn {
  display: block;
  text-align: center;
}

.btn_connect {
  margin: 0 auto;
  padding: 0 1rem;
}

.btn_connect:hover {
  background-color: #777;
}

.robots_unfound {
  text-align: center;
  padding: 2rem 1rem;
}

.btn_large.btn_refresh {
  display: block;
  height: 8rem;
  margin: 0 auto;
  border: none;
  font-size: 8rem;
  background-color: transparent;
  color: silver;
}

.btn_large.btn_refresh:hover {
  color: grey;
  background-color: transparent;
}
