@value colors: './Util.css';
@value green, red, blue from colors;

.upload_panel {
  grid-area: upload;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 40px auto;
}

.upload_icon {
  border-radius: 2px;
  border: solid 2px rgba(151, 151, 151, 0.1);
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  transition: all 100 linear;
}

.upload_icon img {
  width: 100%;
  height: auto;
}

.connection_panel {
  grid-area: connect;
  display: grid;
  grid-template-columns: 40px auto;
  border-top: 1px solid silver;
}

.connection_status {
  cursor: pointer;
}

.status {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0.75rem auto;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.connected {
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.disconnected {
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.connect {
  padding: 0.5rem;
  border-left: 1px solid silver;
}

.msg {
  font-family: 'sans';
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 1rem;
}

.connection_type {
  text-transform: uppercase;
}

.location {
  font-family: 'sans';
  line-height: 1rem;
}

.connect_btn {
  width: 100%;
}

