* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: row;
  font-family: 'sans';
  position: fixed;
}

.nav_panel {
  border: 1px solid silver;
  width: 75px;
  overflow: hidden;
  transition: all 1s;
  display: grid;
  grid-auto-rows: auto;
  grid-area: sidebar;
  grid-template-columns: 75px 300px;
  grid-template-areas: 'menu info';
}

.nav_panel.open {
  width: 375px;
}

.task {
  grid-area: main;
  display: grid;
  flex: 1 1;
  grid-template:
    'header' 75px
    'controls' 225px
    'main-task' 468px;
}

.header {
  background-color: grey;
  display: grid;
  grid-template-columns: auto auto auto 10rem;
  grid-template-areas: ". . . run";
}

.run {
  margin: 1rem;
  grid-area: run;
}

.maintask {
  background-color: #fff;
}
