@value colors: './Util.css';
@value blue, teal, mustard from colors;

.home{
    display: grid;
    width: inherit;
    grid-gap: 5px;
    height: 42px;
    padding-left: 20px;
    grid-template-columns: 60px repeat(5, [col] 42px );
}

.btn{
  composes: btn from './Util.css';
  background-color: blue;
}

.btn:hover{
  background-color: #00F;
}