.pipette {
    grid-row: 1;
}

.plunger {
    grid-row: 2;
}

.jog_xyz,
.jog_ab {
    height: 112px;
    width: 340px;
    /*needed for pallete*/
    background-color: rgba(155, 155, 155, 0.1);
    display: grid;
    grid-template-columns: [col] 45px repeat(8, [col] 30px);
    grid-template-rows: repeat(3, [row] 1fr) 17px;
    grid-gap: 2px;
}

.title_pipette,
.title_plunger {
    composes: title from './Util.css';
}

.title_xy {
    composes: title from './Util.css';
    grid-column: col 3;
    grid-row: row 1;
}

.title_z {
    composes: title from './Util.css';
    grid-column: col 7;
    grid-row: row 1;
}

.title_xy,
.title_z,
.title_a,
.title_b {
    composes: title from './Util.css';
    margin: 0;
    text-align: center;
    line-height: 30px;
}

.y_neg,
.z_neg,
.x_neg,
.y_pos,
.z_pos,
.x_pos,
.a_pos,
.b_pos,
.a_neg,
.b_neg {
    composes: btn from './Util.css';
}

.y_neg {
    grid-column: col 3;
    grid-row: row 2;
}

.z_neg {
    grid-column: col 7;
    grid-row: row 2;
}

.x_neg {
    grid-column: col 2;
    grid-row: row 3;
}

.y_pos {
    grid-column: col 3;
    grid-row: row 3;
}

.x_pos {
    grid-column: col 4;
    grid-row: row 3;
}

.z_pos {
    grid-column: col 7;
    grid-row: row 3;
}

.increment_xyz {
    height: 42px;
    background-color: rgba(155, 155, 155, 0.1);
    margin-top: 2px;
}

.increment_ab {
    height: 42px;
    background-color: rgba(155, 155, 155, 0.1);
    margin-top: 2px;
}

.title_b {
    grid-column: col 2;
    grid-row: row 1;
}

.b_neg {
    grid-column: col 2;
    grid-row: row 2;
}

.b_pos {
    grid-column: col 2;
    grid-row: row 3;
}

.title_a {
    grid-column: col 4;
    grid-row: row 1;
}

.a_neg {
    grid-column: col 4;
    grid-row: row 2;
}

.a_pos {
    grid-column: col 4;
    grid-row: row 3;
}