a {
  text-decoration: none;
}

.empty_slot,
.slot {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.empty_slot {
  background-color: #eee;
  font-family: 'sans';
  color: white;
  font-size: 3rem;
}

.slot {
  border: 2px solid silver;
  background-color: #bbb;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.slot.active {
  border: 4px solid #111;
}

.moving {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    background-color: rgba(100, 100, 100);
  }

  to {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.confirmed_fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: rgba(100, 100, 100, 1);
  color: white;
  font-weight: 300;
  animation: fadeOut 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.slot img.spinner {
  width: 4rem;
}

.label,
.status {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
  line-height: 2rem;
}

.status {
  top: 2.5rem;
}

.status::before {
  display: block;
  float: left;
  border-radius: 0.5rem;
  color: grey;
  text-align: center;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  margin-right: 0;
  line-height: 1rem;
  content: '!';
  background-color: white;
}
