a {
  text-decoration: none;
}

.empty_slot,
.slot {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.empty_slot {
  background-color: #eee;
  font-family: 'sans';
  color: white;
  font-size: 3rem;
}

.slot {
  border: 2px solid silver;
  background-color: #bbb;
}

.slot.active {
  border: 4px solid grey;
}

.disabled {
  background-color: grey;
}

.deck img {
  width: 100%;
}

.label,
.label_hover,
.status {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
  line-height: 2rem;
}

.status {
  top: 2.25rem;
}

.status::before {
  display: block;
  float: left;
  border-radius: 0.5rem;
  color: grey;
  text-align: center;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  margin-right: 0;
  line-height: 1rem;
  content: '!';
  background-color: white;
}
