.container{
    display: grid;
    width: 1024px;
    height:  768px;
    grid-template-rows:[row]152px [row]460px [row]154px;
    grid-row-gap: 1px;
    background-color: white;
  }

.container :global{
  color: grey;
  font-size: 14px;
  font-family: 'sans', arial, sans-serif;
  font-weight: 300;
}

.header, .task, .footer{
  background-color: #ecebeb;
} 