.container{
    display: grid;
    width: 1024px;
    height:  768px;
    grid-template-rows:[row]152px [row]460px [row]150px;
    grid-row-gap: 1px;
    background-color: white;
  }

.container :global{
  color: grey;
  font-size: 14px;
  font-family: 'sans', arial, sans-serif;
  font-weight: 300;
}

.header, .footer{
  composes: well from './Util.css';
}

.task{
  display: grid;
}

.menu{
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "home brand connect";
}

.home{
  grid-area: home;
  padding-left: 20px;
  vertical-align: middle;
}

.brand{
   grid-area: brand;
   text-align: center;
   vertical-align: middle;
}

.connect{
  grid-area: connect;
  display: grid;
  grid-template-columns: 207px 25px 73px;
  grid-gap: 10px;
  vertical-align: middle;
}

.protocol{
  height: 90px;
  background-color: rgba(155, 155, 155, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "upload . run ";
}

.upload{
  grid-area: upload;
}

.run{
  grid-area: run;
  overflow: scroll;
}
