.nav_panel {
  position: relative;
  height: 100%;
  width: 275px;
  padding: 0 1rem;
  font-family: 'sans';
  font-size: 0.75rem;
  color: grey;
}

/* Upload */
.choose_file {
  grid-area: details;
  position: relative;
  padding: 1rem 0.5rem 0.5rem;
}

.btn {
  composes: btn from './Util.css';
  width: 100%;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 2rem;
  text-align: left;
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
}

.btn_upload {
  composes: btn;
  background-color: #999;
  color: white;
  background-image: url(../../ui/img/icon_fileupload.svg);
}

.btn_new {
  composes: btn;
  background-image: url(../../ui/img/icon_filenew.svg);
}

.file {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.title {
  font-size: 1rem;
  line-height: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0;
}

.file_drop {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 8rem 1rem 1rem;
  background-image: url(../../ui/img/icon_filedrop.svg);
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center 2rem;
  border: 2px dashed silver;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
}

/* Connect */

.connection_toggle {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 1rem;
}

.btn_connect {
  composes: btn;
  padding-left: 0;
  text-align: center;
  background-color: #999;
  color: white;
}

.btn_connect:hover,
.btn_upload:hover {
  background-color: #777;
}
