.nav_panel {
  position: relative;
  height: 100%;
  padding: 0 1rem;
  font-family: 'sans';
  font-size: 0.75rem;
  color: grey;
}

/* Upload */
.choose_file {
  grid-area: details;
  position: relative;
  padding: 2rem 0.5rem 0.5rem;
}

.btn {
  composes: btn from './Util.css';
  width: 100%;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 2rem;
  text-align: left;
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
}

.btn_upload {
  composes: btn;
  background-image: url(../../ui/img/icon_fileupload.svg);
}

.btn_new {
  composes: btn;
  background-image: url(../../ui/img/icon_filenew.svg);
}

.file {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.title {
  font-size: 1rem;
  line-height: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0;
}

/* Connect */

.connection_toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.btn_connect {
  composes: btn;
  padding-left: 0;
  text-align: center;
}
