.pipette_group {
  margin: 0 auto;
  min-width: 40rem;
  max-width: 45rem;
  padding: 2rem 1rem;
  display: grid;
  grid-column-gap: 0.25rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'left right';
}

.pipette {
  display: grid;
  vertical-align: top;
}

.left {
  grid-area: left;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    'toggle toggle'
    'info img';
}

.right {
  grid-area: right;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    'toggle toggle'
    'img info';
}

.inactive,
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pipette_toggle {
  grid-area: toggle;
  width: 100%;
  height: 4rem;
  border-radius: 0.25rem;
  background-color: #777;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 4rem;
  cursor: pointer;
}

.pipette_info {
  grid-area: info;
  min-height: 375px;
}

.pipette_icon {
  grid-area: img;
  text-align: center;
}

.pipette_icon img {
  height: 75%;
}

.title {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 2rem 0 0.25rem;
}

.info {
  border: 2px solid silver;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  min-height: 7.1rem;
}

/* this will move up to utils for imports across components */
.alert {
  background-color: silver;
  color: white;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  display: block;
  float: left;
}

.btn_probe {
  background-color: #777;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 1rem;
  font-family: 'trons';
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
