.pipette_group {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'left right';
}

.left {
  grid-area: left;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas:
    'toggle toggle'
    'info img';
  opacity: 0.5;
}

.right {
  grid-area: right;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'toggle toggle'
    'img info';
  opacity: 0.5;
}

.left:hover,
.right:hover {
  opacity: 1;
  pointer-events: all;
}

.active {
  opacity: 1;
}

.active button {
  cursor: pointer;
}

.pipette_toggle {
  grid-area: toggle;
  width: 100%;
  height: 4rem;
  border-radius: 0.25rem;
  background-color: #777;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 4rem;
  cursor: pointer;
}

.pipette_info {
  grid-area: info;
}

.pipette_icon {
  grid-area: img;
}

.title {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 2rem 0 0.25rem;
}

.info {
  border: 2px solid silver;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

/* this will move up to utils for imports across components */
.alert {
  background-color: silver;
  color: white;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  display: block;
  float: left;
}

.btn_probe {
  background-color: #777;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 1rem;
  font-family: 'trons';
  text-transform: uppercase;
  color: white;
}

h3 {
  text-transform: capitalize;
}
