.pipette_group {
  padding: 2rem 1rem;
}

.pipette_wrapper {
  width: 50%;
}

.pipette_toggle {
  width: 100%;
  height: 4rem;
  background-color: #777;
  text-transform: uppercase;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
  border-radius: 0.25rem;
}

.title {
  font-size: 0.75rem;
  text-transform: uppercase;
}
