.btn_wrapper {
  background-color: #777;
  display: grid;
  height:4rem;
  grid-template-areas: "file  . pause run";
  grid-template-columns: auto 10rem 10rem 10rem;
}

.file_info {
  margin-left: 1rem;
  grid-area: file;
  font-family: 'trons';
  line-height: 4rem;
  color: white;
}

.btn_run {
  composes: btn from './Util.css';
  grid-area: run;
  margin: 1rem;
}

.btn_pause {
  composes: btn from './Util.css';
  grid-area: pause;
  margin: 1rem;
}

.btn_cancel {
  composes: btn from './Util.css';
  grid-area: run;
  margin: 1rem;
}

.controls{
  background-color: #EEE;
  height: 8rem;
}

.notifications{
  height: 4rem;
}

.timer {
  height: 2rem;
  color: grey;
  font-family: 'sans';

}

.time_elapsed, .start_time {
  height: 2rem;
  width: 50%;
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
}

.time_elapsed{
  font-size: 1.75rem;
  line-height:2.25rem;
  text-align: right;
}

.progress{
  height:2rem;
}

