.run_log_wrapper {
  font-family: 'sans';
  overflow-y: scroll;
  padding: 1rem 1rem 3rem;
  background: linear-gradient(to left, rgba(245, 245, 245, 1) 185px, #fff 185px, #fff 100%);
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

.indent-1 p::before,
.indent-2 p::before {
  content: '\21b3';
}

p::after {
  font-size: 0.75rem;
  content: '';
  display: inline-block;
  width: 125px;
  float: right;
}

p::after {
  padding-right: 1rem;
  content: attr(data-timestamp);
}

li.current {
  color: #006fff;
}

li.current > ol {
  color: black;
}

.indent-1 p {
  padding-left: 2rem;
}

.indent-2 p {
  padding-left: 3rem;
}
