.run_log_wrapper {
  box-sizing: border-box;
  font-family: 'sans';
  overflow-y: scroll;
  border: 1rem solid white;
  max-height: 34rem;
}

.run_log_wrapper ol {
  list-style-type: none;
  padding: 0;
  color: #999;
}

.run_log_wrapper li {
  margin: 0.5rem 0;
}

.indent-1 p::before,
.indent-2 p::before {
  content: '\21b3';
}

.indent-1 p {
  padding-left: 2rem;
}

.indent-2 p {
  padding-left: 3rem;
}

li.executed {
  color: black;
}

li.current {
  background-color: rgba(150, 150, 150, 0.1);
}

li.last_current {
  color: #006fff;
}
