.no_notification {
  height: 4rem;
}

.tip_wrapper {
  height: 2rem;
  padding: 0.5rem 0;
  vertical-align: middle;
}

.tip {
  display: inline-block;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid grey;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'trons';
  vertical-align: middle;
}

.tip_text {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  padding-left: 1rem;
  font-family: 'sans';
  font-size: 0.75rem;
}

.notification_wrapper {
  display: grid;
  height: 2rem;
  padding: 0.75rem 1rem 1rem;
  line-height: 2rem;
  grid-template-columns: 2rem auto;
  font-family: 'sans';
  font-size: 0.75rem;
}

.notification_icon {
  border: 1px solid grey;
  text-align: center;
}

.notification_message {
  padding-left: 0.5rem;
  border: 1px solid grey;
  border-left: none;
}

.type {
  font-family: 'trons';
  text-transform: uppercase;
}

