.bar_wrapper {
  box-sizing: border-box;
  height: 2rem;
  border: 1px solid grey;
  width: 100%;
  overflow: hidden;
}

.bar {
  background-color: blue;
  height: 100%;
}

.paused_bar {
  background-color: grey;
}

.error_bar {
  background-color: red;
}

