.bar_wrapper{
	border:1px solid grey;
	height:2rem;
	width:100%;
	overflow:hidden;
}

.bar{
	background-color: lime;
	height:2rem;
}

.error_bar{
	background-color: red;
}

.paused_bar{
	background-color: grey;
}