.setup_panel {
  display: grid;
  height: 100%;
  padding: 0 1rem;
  grid-template:
    'title' 75px
    'details' 38rem
    'btn_bottom' auto;
  font-family: 'sans';
  font-size: 14px;
  line-height: 2rem;
  color: grey;
}

h1 {
  grid-area: title;
  line-height: 4rem;
  padding: 0;
  margin: 0 1rem;
}

.links {
  grid-area: details;
}

.pipette_group > a,
.labware_group > a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  background-color: #eee;
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
}

.pipette_group li,
.labware_group li {
  list-style-type: none;
  margin: 0;
}

.labware_group {
  margin-top: 2rem;
}

.unavailable {
  opacity: 0.2;
  pointer-events: none;
}

.step_list li a {
  color: black;
  text-decoration: none;
  background-color: #efefef;
  display: block;
  padding: 0.5rem 0;
  line-height: 1rem;
  font-size: 0.75rem;
}

.step_list li button::before {
  display: block;
  float: left;
  content: '';
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem 0.5rem 1rem 1rem;
}

.step_list button {
  background-color: #eee;
  width: 100%;
  display: block;
  height: 3rem;
  padding: 0.5rem;
  text-align: left;
  line-height: 1.5rem;
}

.step_list button:hover,
.step_list a:hover {
  background-color: #ccc;
}

button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

button.btn_labware {
  line-height: 2rem;
}

.step_list .alert::before {
  content: '!';
  background-color: silver;
  color: white;
  line-height: 1rem;
}

.step_list .confirmed::before {
  content: '✓';
  background-color: #05c1b3;
  color: white;
  line-height: 1rem;
}

.axis {
  text-transform: uppercase;
  display: block;
  line-height: 1rem;
}

.type {
  display: block;
  line-height: 1rem;
}

.run_link {
  grid-area: btn_bottom;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #777;
  font-family: 'trons';
  color: white;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pipette_group a.active {
  background-color: #bbb;
  color: white;
}
