.setup_panel {
  display: grid;
  width: 275px;
  height: 100%;
  padding: 0 1rem;
  grid-template:
    'title' 75px
    'details' 40rem
    'btn_bottom' auto;
  font-family: 'sans';
  font-size: 14px;
  line-height: 2rem;
  color: grey;
}

h1 {
  grid-area: title;
  line-height: 4rem;
  padding: 0;
  margin: 0 1rem;
}

.links {
  grid-area: details;
}

.pipette_group > a,
.labware_group > a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  background-color: #eee;
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
}

.pipette_group li,
.labware_group li {
  list-style-type: none;
  margin: 0;
}

.labware_group {
  margin-top: 2rem;
}

.labware_alert {
  width: 100%;
  padding: 0 1rem;
  background-color: #eee;
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
  height: 3rem;
}

.labware_alert.tiprack {
  height: 2rem;
  line-height: 2rem;
}

.unavailable {
  opacity: 0.1;
  pointer-events: none;
}

.step_list li a {
  color: black;
  text-decoration: none;
  background-color: #efefef;
  display: block;
  padding: 0.5rem 0;
  line-height: 1rem;
  font-size: 0.75rem;
}

.step_list button {
  background-color: #eee;
  width: 100%;
  display: block;
  height: 3rem;
  padding: 0.5rem;
  text-align: left;
  line-height: 1.5rem;
}

.step_list button:hover,
.step_list a:hover {
  background-color: #ccc;
}

button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

button.btn_labware {
  line-height: 2rem;
}

.alert,
.confirmed {
  position: relative;
  display: block;
  float: left;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem 0.5rem 1rem 1rem;
  background-color: silver;
  line-height: 1rem;
}

.alert::before {
  content: '!';
}

.confirmed {
  visibility: hidden;
}

.axis {
  text-transform: uppercase;
  display: block;
  line-height: 1rem;
}

.type {
  display: block;
  line-height: 1rem;
}

.run_link {
  composes: btn from './Util.css';
  text-align: center;
  width: 100%;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #777;
  color: white;
  position: relative;
}

.inactive {
  background-color: transparent;
  border: 1px solid silver;
  color: silver;
}

.pipette_group a.active {
  background-color: #bbb;
  color: white;
}
