@value grey from './App.global.css';

.sidebar {
  overflow: hidden;
  width: 275px;
  border-right: 2px solid grey;
  transition: all 0.5s ease-in-out;
}

.sidebar.closed {
  width: 0;
  border-right-width: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  color: silver;
  z-index: 100;
}

.nav_info {
  position: relative;
  width: 275px;
}
