@value colors: './Util.css';
@value green, red, blue from colors;

* {
  box-sizing: border-box;
}

.sidebar {
  width: 325px;
  display: grid;
  grid-template-columns: 75px 250px;
}

.nav_icons,
.nav_info {
  border-right: 1px solid silver;
}

.nav_icon_list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav_icon_list li {
  height: 4rem;
  line-height: 4rem;
}

.nav_icon {
  display: block;
  width: 100%;
  background-color: inherit;
  border-bottom: solid 2px rgba(151, 151, 151, 0.1);
  text-align: center;
  height: 4rem;
  transition: all 100 linear;
  cursor: pointer;
}

.nav_icon[disabled] {
  opacity: 0.5;
  cursor: default;
}

.connection_status {
  cursor: pointer;
  height: 74px;
  border-bottom: solid 2px rgba(151, 151, 151, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.connected {
  width: 25px;
  height: 25px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.disconnected {
  width: 25px;
  height: 25px;
  background-color: silver;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
