@value colors: './Util.css';
@value green, red, blue from colors;

* {
  box-sizing: border-box;
}

.sidebar {
  display: grid;
  grid-template-columns: 75px 275px;
  width: 75px;
  transition: width 0.5s ease-in-out;
}

.sidebar.open {
  width: 350px;
}

.close {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  cursor: pointer;
  color: silver;
  z-index: 100;
}

.sidebar .nav_info {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  position: relative;
}

.sidebar.open .nav_info {
  width: 275px;
}

.nav_icons {
  position: relative;
  border-right: 1px solid silver;
}

.nav_icon_list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav_icon_list li {
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  position: relative;
}

.nav_icon {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.75rem;
  background-color: inherit;
  border-bottom: solid 2px rgba(151, 151, 151, 0.1);
  text-align: center;
  transition: all 100 linear;
  cursor: pointer;
}

.nav_icon[disabled] img {
  filter: opacity(40%);
  cursor: default;
}

.active {
  background-color: #ddd;
}

.nav_icon img {
  height: 2.5rem;
}

.connection_status {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  width: 75px;
  height: 70px;
  border-top: solid 2px rgba(151, 151, 151, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: #bbb;
}

.connected {
  width: 25px;
  height: 25px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.disconnected {
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
