.probe_msg {
  border: 2px solid silver;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.alert {
  background-color: silver;
  color: white;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  display: block;
  float: left;
}

.btn_probe {
  background-color: #777;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 0 3rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 1rem;
  font-family: 'trons';
  text-transform: uppercase;
  color: white;
}
