.upload_panel {
  grid-area: upload;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 40px auto;
}

.upload_icon {
  border-radius: 2px;
  border: solid 2px rgba(151, 151, 151, 0.1);
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  transition: all 100 linear;
}

.upload_icon img {
  width: 100%;
  height: auto;
}

.open_file {
  position: relative;
  padding: 0.5rem;
  border-left: 1px solid silver;
}

.upload_btn {
  composes: btn from './Util.css';
  display:block;
  text-align: center;
}

.file {
  position: fixed;
  clip: rect( 1px 1px 1px 1px );
}


.recent_files {
  grid-row: 2;
  grid-column: 2;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
