.upload{
	padding: 24px 0 0 20px;
	display: grid;
	grid-template-columns:50px 100px;
}

.btn{
  composes: btn from './Util.css';
  background-color: #d8d8d8;
  border: solid 1px rgba(151, 151, 151, 0.1);
  height: 45px;
  width: 45px;
  padding:5px;
  transition: all 100 linear;
}


.file{
  position: relative;
  top: -72px;
  left: -30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  height:90px;
  width:340px;
  filter: alpha(opacity=0);
}

.file_label{
  line-height: 16px;
  text-transform: uppercase;
  font-size: 12px;
  color: #9b9b9b;
  padding-top: 6px;
}

.icon{
  height: 34px;
}
