.upload_panel {
  grid-area: upload;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 40px auto;
}

.upload_icon {
  border-radius: 2px;
  border: solid 2px rgba(151, 151, 151, 0.1);
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  transition: all 100 linear;
}

.upload_icon img {
  width: 100%;
  height: auto;
}
