@value blue: #006FFF;
@value teal: #05C1B3;
@value mustard: #FFD252;
@value green: #7ed321;
@value red: #F00000;
@value small: (max-width: 599px);
@value medium: (min-width: 600px) and (max-width: 959px);
@value large: (min-width: 960px);

@font-face {
  font-family: 'trons';
  src: url('../fonts/Geogtq-Rg-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('../fonts/OpenSans-Regular-webfont.woff');
  font-weight: 300;
  font-style: normal;
}

button {
  border: none;
}

button:focus { outline: 0; }

/*************************
          Globals
*************************/
.well {
  background-color: #ecebeb;
  border-radius: 3px;
}

.btn {
  border-radius: 2px;
  border: 1px solid silver;
  background-color: #fff;
  color: #666;
  font-family: 'sans';
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #eee;
}

.btn:active {
  outline: none;
  border: none;
}

.disabled {
  color: #888;
  background-color: #aaa;
  pointer-events: none;
}

.title {
  font-family: 'sans';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 20px;
  color: #9b9b9b;
}
