.welcome{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2px;
}

.jog{
  composes: well from './Util.css';
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(2, [row] 1fr );
}