[flake8]

# max cyclomatic complexity
max-complexity = 9

extend-ignore =
    # defer formatting concerns to black
    # E203: space around `:` operator
    # E501: maximum line length
    E203,
    E501,
    # do not require type annotations for self nor cls
    ANN101,
    ANN102
    # do not grammar pedant me any more
    D400,
    D401,
    D403,
    D404,
    D415,
    # there's no need to mandate docstrings in like __add__ (note that __init__
    # is covered separately by D107)
    D105,

# configure flake8-docstrings
# https://pypi.org/project/flake8-docstrings/
docstring-convention = google

noqa-require-code = true
