[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-can = "==3.3.4"
pyserial = "==3.5"
typing-extensions = ">=4.0.0,<5"
numpy = "==1.21.2"
pydantic = "==1.8.2"

[dev-packages]
pytest = "==7.0.1"
pytest-lazy-fixture = "==0.6.3"
pytest-cov = "==2.10.1"
mypy = "==0.910"
black = "==22.3.0"
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.2.1"
mock = "~=4.0.2"
types-mock = "==4.0.1"
hypothesis = "~=6.36.1"
pytest-asyncio = "~=0.18"
matplotlib = "*"
opentrons-shared-data = { editable = true, path = "../shared-data/python" }

[requires]
python_version = "3.7"
