@import '@opentrons/components';

.review_deck {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.review_message {
  height: 10rem;
  text-align: center;
  color: white;
  max-width: 36rem;
  margin: 0 auto;
}

.deck {
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 38rem;
  height: 33rem;
}

.prompt {
  text-align: center;
  margin-top: 1rem;
}

.centered_prompt {
  position: relative;
  border-bottom: 1px solid black;
  cursor: pointer;
}

a.btn_calibrate,
button.btn_calibrate {
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  padding: 0 3rem;
  background-color: var(--c-blue);
  color: white;
}
