.label {
  display: inline-block;
  cursor: pointer;
}

.label input[type='file'] {
  display: none;
}

.button_text {
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-24);
}

.nav_link {
  color: var(--white);
  text-decoration: none;
}

.button_container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);
}

.hidden_input {
  display: none;
}

.landing_page {
  display: flex;
  width: 100%;
  height: calc(100vh - 9rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-10);
  row-gap: var(--spacing-32);
}

.content_section {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-16);
}

.text_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-8);
}

.content_container {
  display: flex;
  width: 100%;
  height: calc(100vh - 9rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-10);
  gap: var(--spacing-32);
}

.image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8);
  text-align: center;
}
