@import '..';

.fallback_plate_text {
  height: 100%;
  width: 100%;
  font-size: var(--fs-body-1);
  font-style: italic;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.labware_outline {
  fill: var(--c-white);
  stroke: var(--c-black);
}

.tiprack_outline {
  fill: var(--c-plate-bg);
  stroke: var(--c-charcoal);
}
