@import '..';

.name_overlay {
  width: 100%;
  font-size: 0.5rem;
  color: var(--c-font-light);
  background-color: color-mod(var(--c-black) alpha(0.75));
  padding: 0.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.display_name {
  font-weight: var(--fw-semibold);
  color: var(--c-font-light);
  text-transform: uppercase;
}

.deck_slot:active {
  cursor: grabbing;
}
