@import '..';

/*
NOTE: available defs are:
  #roundSlotClipPath
*/

:root {
  --round-slot: {
    clip-path: url(#roundSlotClipPath);
  };

  --slot-overlay: {
    @apply --round-slot;

    fill: black;
  };
}

.highlighted {
  fill: none;
  stroke: var(--c-highlight);
  stroke-width: 2.5;
}

.empty_slot {
  @apply --round-slot;

  fill: var(--c-plate-bg);
}

.empty_slot text {
  fill: white;
  font-size: 2rem;
}

/* Clickable text / icons */
.clickable {
  cursor: pointer;
}

.clickable:hover {
  fill: var(--c-light-gray);
}

/* ----------- */

/* shows container name on deck */
.name_overlay {
  @apply --round-slot;

  font-size: 0.5rem;
  fill: white;
}

.name_overlay rect {
  fill: black;
  opacity: 0.75;
}

.name_overlay .container_type {
  font-weight: var(--fw-bold);
}
