@import '@opentrons/components';

.module {
  color: var(--c-black);
  background-color: var(--c-black);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.module_review_icon {
  color: var(--c-white);
  margin-right: 1rem;
  height: 16px;
  width: 16px;
}

.module_review_icon_missing {
  color: var(--c-orange);
}

.module_review_icon_present {
  color: var(--c-green);
}

.module_review_text {
  fill: currentColor;
  font-size: 0.5rem;
  font-weight: var(--fw-semibold);
  color: var(--c-white);
  text-transform: uppercase;
  white-space: pre;
}

.module_name_overlay {
  color: var(--c-black);
  opacity: 0.7;
}

.module_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.module_name_text {
  fill: currentColor;
  color: var(--c-white);
  font-size: 0.5rem;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}
