@import '@opentrons/components';

.plate_label {
  pointer-events: none;
  font-size: 0.325rem;
  text-anchor: middle;
}

.tiny_labels {
  /* For 384 plate */
  font-size: 0.2rem;
}

.tiny_labels:nth-child(odd) {
  fill: gray;
}

.fallback_plate {
  font-size: 0.75rem;
  font-style: italic;
  fill: gray;
}
