@import '..';

.plate_label {
  pointer-events: none;
  font-size: var(--fs-caption);
  text-anchor: middle;
}

.tiny_labels {
  font-size: 0.2rem;
}

.tiny_labels:nth-child(odd) {
  fill: gray;
}

.fallback_plate {
  font-size: 0.75rem;
  font-style: italic;
  fill: gray;
}
