@import '@opentrons/components';

/* Well fill contents, the "bottom layer" */

.well_fill {
  fill: currentColor;
}

/* Styles for border + overlay, the "top layer" */

.well_border {
  stroke-width: 0.4;
  stroke: var(--c-near-black);
  fill: transparent;
}

.selected {
  stroke-width: 1;
  stroke: var(--c-highlight);
  fill: color(var(--c-highlight) alpha(20%));
}

.highlighted {
  stroke-width: 1;
  stroke: var(--c-highlight);
}

.error {
  stroke-width: 1;
  stroke: var(--c-red);
}

/* Tip-specific */

.empty_tip {
  fill: color(var(--c-charcoal) alpha(40%));
}

.tip_fill {
  fill: var(--c-white);
}
