@import '..';

:root {
  --list-padding-large: 1rem;
  --list-padding-small: 0.75rem;

  --list-disabled: {
    color: var(--c-font-disabled);
    border-color: #eee;
    fill: var(--c-font-disabled);
  }
}

.clickable {
  @apply --clickable;
}

.titled_list_selected {
  border: 2px solid var(--c-blue);
}

.title_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: var(--list-padding-large) var(--list-padding-small);
}

.title {
  @apply --font-body-2-dark;

  margin: 0;
  text-transform: uppercase;
}

.title_bar_icon {
  color: var(--c-font-dark);
  height: 1.5rem;
  margin-right: 0.5rem;
}

.title_bar_carat {
  margin-left: auto;
  margin-right: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list_item {
  @apply --font-body-1-dark;

  display: block;
  width: 100%;
  line-height: 1.25;
  border-bottom: 2px solid var(--c-light-gray);
  margin: 0;
  padding: var(--list-padding-small);

  &:hover,
  &.active {
    background-color: var(--c-bg-selected-light);
  }
}

.list_alert {
  @apply --font-body-1-dark;

  width: 100%;
  padding: var(--list-padding-small);
  background-color: var(--c-bg-light);
  font-style: italic;
}

.item_icon {
  height: calc(1.25 * var(--fs-body-1));
  color: var(--c-dark-gray);
  padding-right: 0.5rem;
}

.info {
  width: calc(100% - 1.5rem);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}

.disabled {
  pointer-events: none;

  & * {
    @apply --list-disabled;
  }
}
