@import '../index.module.css';

:root {
  --list-padding-large: 1rem;
  --list-padding-small: 0.75rem;
}

.clickable {
  cursor: pointer;
}

.disabled {
  background-color: transparent;

  & * {
    color: var(--c-font-disabled);
    outline-color: #eee;
    fill: var(--c-font-disabled);
    background-color: transparent;
  }
}

.panel_group,
.titled_list,
.list_item {
  background-color: white;
}

.panel_group {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
}

.hover_border {
  outline: var(--bd-width-default) solid var(--c-highlight);
}

.header_text {
  text-transform: uppercase;
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  color: var(--c-font-disabled);
}

/*
  TODO(IL, 2021-07-30): when consumers of this class are migrated to CSS-in-JS, keep in mind
  the meaning of .title_bar is vague, it is widely used by several unrelated components.
  Also, it's almost the same as .titled_list_title_bar -- they are the same
  except for flex-related rules.
*/
.title_bar {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: var(--list-padding-large) var(--list-padding-small);
  flex-direction: column;
}

/* Specifically for TitledList */
.titled_list_title_bar {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: var(--list-padding-large) var(--list-padding-small);
  flex-direction: row;
  align-items: center;
}

.titled_list_selected {
  & .title_bar {
    background-color: var(--c-bg-selected);

    & * {
      color: var(--c-selected-dark);
      font-weight: var(--fw-semibold);
    }
  }
}

.title {
  font-size: var(--fs-body-2);
  font-weight: var(--fw-regular);
  margin: 0;
  text-transform: uppercase;
}

.title_enabled {
  color: var(--c-font-dark);
}

.title_disabled {
  color: var(--c-font-disabled);
}

.title_bar_icon {
  color: var(--c-font-dark);
  height: 1.5rem;
}

.title_bar_error {
  background-color: var(--c-error-light);
}

.icon_left_of_title {
  margin-right: 0.5rem;
  height: 1.2rem;
}

.icon_left_of_title_container {
  display: flex;
  justify-content: flex-start;
}

.title_bar_carat {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: calc(var(--list-padding-small) - var(--bd-width-default));
  padding-top: 1rem;

  &:hover {
    background-color: color-mod(var(--c-black) alpha(5%));
  }
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list_item {
  font-size: var(--fs-body-1); /* from legacy --font-body-1-dark */
    font-weight: var(--fw-regular); /* from legacy --font-body-1-dark */
    color: var(--c-font-dark); /* from legacy --font-body-1-dark */

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  line-height: 1.25;
  margin: 0;
  padding: var(--list-padding-small);

  &:hover {
    background-color: var(--c-bg-hover);
  }

  &.active {
    background-color: var(--c-bg-selected);
  }
}

a.list_item {
  text-decoration: none;
}

.list_alert {
  font-size: var(--fs-body-1); /* from legacy --font-body-1-dark */
    font-weight: var(--fw-regular); /* from legacy --font-body-1-dark */
    color: var(--c-font-dark); /* from legacy --font-body-1-dark */

  width: 100%;
  padding: var(--list-padding-small);
  background-color: var(--c-bg-light);
  font-style: italic;
}

.item_icon {
  flex: none;
  height: calc(1.25 * var(--fs-body-1));
  margin-right: 0.5rem;
}
