@import '..';

:root {
  --list-padding-large: 1rem;
  --list-padding-small: 0.75rem;

  --list-disabled: {
    color: var(--c-font-disabled);
    border-color: #eee;
    fill: var(--c-font-disabled);
    background-color: transparent;
  }
}

.clickable {
  @apply --clickable;
}

.panel_group,
.titled_list,
.list_item {
  background-color: white;
}

.titled_list {
  border: var(--bd-width-default) solid transparent;
}

.titled_list_selected {
  border-color: var(--c-blue);
}

.title_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: var(--list-padding-large) var(--list-padding-small);
}

.title {
  @apply --font-body-2-dark;

  margin: 0;
  text-transform: uppercase;
}

.title_bar_icon {
  color: var(--c-font-dark);
  height: 1.5rem;
  margin-right: 0.5rem;
}

.title_bar_carat {
  margin-left: auto;
  margin-right: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list_item {
  @apply --font-body-1-dark;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  line-height: 1.25;
  margin: 0;
  padding: var(--list-padding-small);

  &:hover {
    background-color: var(--c-bg-hover);
  }

  &.active {
    background-color: var(--c-bg-selected);
  }
}

a.list_item {
  text-decoration: none;
}

.list_alert {
  @apply --font-body-1-dark;

  width: 100%;
  padding: var(--list-padding-small);
  background-color: var(--c-bg-light);
  font-style: italic;
}

.item_icon {
  flex: none;
  height: calc(1.25 * var(--fs-body-1));
  margin-right: 0.5rem;
}

.disabled {
  pointer-events: none;
  background-color: transparent;

  & * {
    @apply --list-disabled;
  }
}
