@import '@opentrons/components/styles';

.close_icon {
  & > svg {
    width: 100%;
    max-height: 1rem;
  }

  &:hover {
    color: var(--c-red);
  }
}

.ingredient_row_header {
  font-weight: var(--fw-bold);
}
