[flake8]

# set line-length for future black support
# https://github.com/psf/black/blob/master/docs/compatible_configs.md
max-line-length = 100

# max cyclomatic complexity
# NOTE: (andy s) increasing this from 9 to 15 b/c test scripts often handle all logic in main
max-complexity = 15

extend-ignore =
    # ignore E203 because black might reformat it
    E203,
    # do not require type annotations for self nor cls
    ANN101,
    ANN102

# configure flake8-docstrings
# https://pypi.org/project/flake8-docstrings/
docstring-convention = google

noqa-require-code = true

per-file-ignores =
    tests/hardware_testing/drivers/*:ANN,D
    tests/hardware_testing/drivers/radwag*:ANN,D
    tests/hardware_testing/execute/*:ANN,D
    tests/hardware_testing/liquid/*:ANN,D
