[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentrons = {editable = true, path = "./../api"}
opentrons-shared-data = {editable = true, path = "./../shared-data/python"}
pyserial = "==3.5"
# force to ot3 version
idna = "==3.3"
click = "==8.0.1"
numpy = "==1.21.2"
zipp = "==3.5.0"
typing-extensions = "==4.1.1"

[dev-packages]
pytest = "==7.0.1"
pytest-cov = "==2.10.1"
mypy = "==0.910"
black = "==22.3.0"
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.2.1"

[requires]
python_version = "3.8"
