[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]

[packages]
uvicorn = "==0.11.3"
fastapi = "==0.49.0"
python-multipart = "==0.0.5"
