@import '@opentrons/components/styles';
@import '../../styles/spacing.css';

.gallery_main {
  @apply --aspect-4-3;
}

.gallery_image_container {
  @apply --aspect-item;
  display: flex;
  /* from legacy --center-children */
  justify-content: center;
  /* from legacy --center-children */
  align-items: center;
  /* from legacy --center-children */
}

.gallery_thumbnail_row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var(--spacing-5);
}

.gallery_thumbnail_container {
  cursor: pointer;

  width: calc(var(--size-third) - var(--spacing-5) * 2 / 3);
  margin-right: var(--spacing-5);

  &:last-of-type {
    margin-right: 0;
  }
}

.gallery_thumbnail {
  @apply --aspect-1-1;
}

.load_name {
  display: flex;
}

.load_name_label {
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-5);
  background-color: var(--c-lightest-gray);
}

.load_name_input {
  font-size: var(--fs-body-1);
  line-height: var(--lh-title);
  width: calc(100% + 2 * var(--spacing-2));
  margin-left: -var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-2);
  border: var(--bd-light);
  color: var(--c-font-dark);
}

/*
 * TODO(mc, 2019-04-02): production bundle breaks CSS order, so for now make
 * this rule more specific
 */
button.load_name_button {
  flex: none;
  width: var(--size-2);
  border-radius: 0;
  background-color: var(--c-dark-gray);

  /*
   * perceived center of the copy icon is a few pixels off center, so
   * adjust padding accordingly
   */
  padding-left: var(--spacing-5);
  padding-right: calc(var(--spacing-5) - 0.25rem);

  & svg {
    stroke: none;
  }
}

.manufacturer_stats:not(:last-child) {
  margin-bottom: var(--spacing-7);
}

.manufacturer_brand_id {
  line-height: var(--lh-copy);
}

.tags_data {
  display: flex;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-5);
  background-color: var(--c-bg-light);

  & .value {
    font-size: var(--fs-body-1);
  }
}

.well_count_data {
  display: flex;
  /* from legacy --flex-between */
  justify-content: space-between;
  /* from legacy --flex-between */
  align-items: center;
  /* from legacy --flex-between */

  width: 100%;
  padding: 0 var(--spacing-1);
}

.well_properties {
  display: flex;
  /* from legacy --flex-between */
  justify-content: space-between;
  /* from legacy --flex-between */
  align-items: center;
  /* from legacy --flex-between */

  flex-wrap: wrap;
  margin-top: var(--spacing-5);
  padding: var(--spacing-5) var(--spacing-5) 0;
  border: var(--bd-light);
}

.well_properties_title {
  font-size: var(--fs-body-2); /* from legacy --font-body-2-dark */
    font-weight: var(--fw-regular); /* from legacy --font-body-2-dark */
    color: var(--c-font-dark); /* from legacy --font-body-2-dark */

  width: 100%;
  margin-bottom: var(--spacing-5);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
}

.well_properties_column {
  flex: none;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-5);

  &:first-child {
    margin-right: auto;
    padding-right: var(--spacing-5);
  }
}

.well_bottom_shape {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-5);
}

.well_bottom_icon {
  align-self: flex-end;
  width: var(--spacing-6);
  margin-left: var(--spacing-5);
  padding-bottom: calc(var(--spacing-1));
  overflow: visible;
  color: var(--c-font-icon);
}
