@import '@opentrons/components';

.labware_controls {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
}

.labware_controls.can_edit {
  cursor: grab;
}

.slot_overlay {
  @apply --absolute-fill;

  z-index: 1;
  padding: 0.5rem;
  background-color: color-mod(var(--c-black) alpha(0.75));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  font-size: var(--fs-body-1);
  border-radius: 0.5rem;
}

.slot_overlay.with_form {
  background-color: color-mod(var(--c-black) alpha(1));
}

.slot_overlay.disabled {
  background-color: color-mod(var(--c-light-gray) alpha(0.9));
  color: var(--c-font-dark);
}

.name_input_wrapper {
  flex: 1;
}

.name_input {
  padding: 0 0 0 0.25rem;
  width: 7rem;
}

.overlay_button {
  flex: 1;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.overlay_button:active {
  opacity: 0.5;
}

.overlay_button.drag_text {
  color: var(--c-font-dark);
}

.button_spacer {
  flex: 1;
}

.overlay_icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.appear_on_mouseover {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.appear {
  opacity: 1;
}

.drag_preview {
  position: absolute;
  cursor: grabbing;
}

.highlighted_border_div {
  @apply --absolute-fill;

  border-color: var(--c-highlight);
  border-width: 3px;
  border-style: solid;
  border-radius: 0.5rem;
}

.highlight_fill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mod(var(--c-highlight) alpha(0.5));
}

.thermocycler_icon {
  height: 60%;
  color: var(--c-selected-dark);
}

.blocked_slot_background {
  fill: rgba(200, 115, 0, 0.75);
  stroke: var(--c-red);
  rx: 6;
}

.blocked_slot_content {
  height: 100%;
  margin: -1.5rem 0.5rem;
  color: var(--c-white);
  font-size: var(--fs-caption);
  text-align: center;
  line-height: 1.5;
}
