@import '@opentrons/components';

/* TODO Ian 2018-02-16: this is copied from LabwareContainer.css in complib -- should it be imported in index.css? */
:root {
  --round-slot: {
    clip-path: url(#roundSlotClipPath);
  };
}

.slot_overlay {
  @apply --round-slot;

  fill: var(--c-black);

  & text {
    font-size: var(--fs-caption);
  }

  & .overlay_panel {
    width: 100%;
    height: 100%;
  }
}

.pass_thru_mouse {
  pointer-events: none;
}

.appear_on_mouseover {
  opacity: 0;

  &:hover {
    opacity: 0.75;
  }
}

.clickable_text {
  fill: currentColor;
  color: var(--c-white);
  cursor: pointer;
  transform: translate(20%, 0);
  text-transform: uppercase;
  dominant-baseline: text-before-edge;

  & .icon {
    transform: translate(-60%, 0);
  }
}

.clickable_area {
  cursor: pointer;
  fill: transparent;
}

.name_input {
  width: 100%;
  border: none;
  border-radius: var(--bd-radius-default);
  padding-left: 0.25rem;
  background-color: var(--c-light-gray);
  color: var(--c-font-dark);
  font-size: var(--fs-body-1);
}
