@import '@opentrons/components/styles';

.slot_overlay {
  clip-path: url(#roundSlotClipPath);

  fill: var(--c-black);
}

.slot_overlay.disabled {
  fill: var(--c-light-gray);
}

.slot_overlay.disabled .overlay_panel {
  opacity: 0.9;
}

.slot_overlay text {
  font-size: var(--fs-caption);
}

.slot_overlay.disabled text {
  color: var(--c-font-dark);
}

.pass_thru_mouse {
  pointer-events: none;
}

.appear_on_mouseover {
  opacity: 0;

  &:hover {
    opacity: 0.75;
  }
}

.clickable_text {
  fill: currentColor;
  color: var(--c-white);
  cursor: pointer;
  transform: translate(20%, 0);
  text-transform: uppercase;
}

.clickable_text_text {
  dominant-baseline: text-before-edge;
}

.clickable_text_icon {
  transform: translate(-60%, 0);
}

.clickable_area {
  cursor: pointer;
  fill: transparent;
}

.name_input {
  width: 100%;
  border: none;
  border-radius: var(--bd-radius-default);
  padding-left: 0.25rem;
  background-color: var(--c-light-gray);
  color: var(--c-font-dark);
  font-size: var(--fs-body-1);
}

.modal_instructions {
  user-select: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  color: var(--c-white);
}

.tooltip_box {
  font-size: var(--fs-body-1); /* from legacy --font-body-1-light */
  font-weight: var(--fw-regular); /* from legacy --font-body-1-light */
  color: var(--c-font-light); /* from legacy --font-body-1-light */

  background-color: var(--c-bg-dark);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  padding: 8px;
  cursor: pointer;
  z-index: 10001;
  position: absolute;
}

.virtual_reference {
  position: absolute;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -0.5em;
  width: 1em;
  height: 0.5em;

  &::before {
    border-width: 0.5em 0.5em 0 0.5em;
    content: '';
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: var(--c-bg-dark) transparent transparent transparent;
  }
}

.arrow.bottom {
  top: 0;
  left: 0;
  margin-top: -0.5em;
  width: 1em;
  height: 0.5em;

  &::before {
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent var(--c-bg-dark) transparent;
  }
}

.arrow.right {
  top: 0;
  left: 0;
  margin-left: -0.5em;
  height: 1em;
  width: 0.5em;

  &::before {
    border-width: 0.5em 0.5em 0.5em 0;
    border-color: transparent var(--c-bg-dark) transparent transparent;
  }
}

.arrow.left {
  top: 0;
  right: 0;
  margin-right: -0.5em;
  height: 1em;
  width: 0.5em;

  &::before {
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent var(--c-bg-dark);
  }
}
