@import '@opentrons/components';

.suppress_exit_button {
  display: none;
}

.success_status_icon {
  width: 2.5rem;
  margin-right: 0.75rem;
  color: var(--c-success);
}

.error_status_icon {
  width: 2.5rem;
  margin-right: 0.75rem;
  color: var(--c-error);
}

.calcheck_intro_div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.intro_header {
  @apply --modal-contents;

  font-weight: bold;
  margin-bottom: 1rem;
  font-size: var('--fs-body-2');
}

.intro_content {
  @apply --modal-contents;

  margin-bottom: 1rem;
  font-size: var('--fs-body-2');
}

.modal_header {
  display: flex;
  text-transform: uppercase;
}

.modal_icon_wrapper {
  display: flex;
  align-items: center;
}

.terminal_modal_contents,
.modal_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 48rem;
  min-height: 14rem;
  padding: 1rem;
}

.terminal_modal_contents {
  padding: 1rem 3.5rem;
}

.complete_summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.summary_page_header {
  margin-bottom: 1.75rem;
}

.summary_section {
  margin-bottom: 1.25rem;
}

.summary_icon {
  height: 1.25rem;
  width: 1.25rem;
}

.summary_page_contents {
  width: 100%;
}

.download_summary_button {
  align-self: flex-end;
  width: 18rem;
  margin-bottom: 1rem;
}

.summary_bad_outcome_header{
  @apply --font-header-dark;
  margin-bottom: 0.5rem
}

.summary_bad_outcome_body {
  @apply --font-body-2-dark;
  margin-bottom: 0.25rem;
}

.summary_bad_outcome_body:last-child {
  margin-bottom: 0.75rem;
}

.summary_exit_button {
  margin-bottom: 0;
}

.pipette_data_wrapper {
  align-self: stretch;
}

.pipette_data_table {
  @apply --font-body-1-dark;

  font-size: 0.75rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.pipette_data_table > thead > tr > th {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

.pipette_data_table > tbody > tr > td {
  height: 2rem;
}

.pipette_data_table:not(.individual_data) > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}

.pipette_data_header {
  @apply --font-body-2-dark;

  font-weight: var(--fw-semibold);
  display: flex;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  align-items: baseline;
}

.pipette_serial {
  font-size: var(--fs-body-1);
  font-weight: var(--fw-regular);
}

.individual_step_comparison_wrapper {
  max-width: 66%;
}

.inline_step_status {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.difference_value_data_cell {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data_axis_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  max-width: 4rem;
}

.compare_axis_label {
  font-weight: var(--fw-semibold);
  margin-right: 1rem;
}

.data_axis_label:not(:last-child) {
  margin-right: 1rem;
}

.copy_icon {
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
}

.error_explanation {
  @apply --font-body-2-dark;

  margin: 0.75rem 0;
}

.error_explanation_list {
  list-style-position: inside;
}

.padded_contents_wrapper {
  margin: 1rem 3rem;
}

.bad_cal_body {
  margin: 0 0 2rem 0;
}

.button_row {
  width: 100%;
  display: flex;
}

.button_stack {
  margin: 1rem 0;
}

.button_stack > button {
  margin: 0.5rem 0;
}

.continue_button {
  margin: 2rem 5rem;
}

.required_tipracks_wrapper {
  width: 100%;
  display: flex;
}

.required_tiprack {
  width: 50%;
  border: 1px solid var('--c-med-gray');
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.required_tiprack:not(:last-child) {
  margin-right: 0.625rem;
}

.tiprack_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.tiprack_image {
  height: 100%;
  max-height: 15rem;
  max-width: 15.25rem;
}

.tiprack_display_name {
  font-size: var('--fs-body-2');
}

/*
TODO: BC 2020-04-01 consider abstracting this to a shared place
 these styles were mostly copped from PD's VIEW MEASUREMENTs button
 ideally these would both use the same component
*/
.tiprack_measurements_link {
  padding: 1rem 0.5rem;
  flex: 0.6;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: var('--fs-body-2');

  &:hover {
    background-color: var(--c-bg-hover);
  }
}

.tipracks_note_header {
  text-transform: uppercase;
}

.tipracks_note_body {
  font-size: var('--fs-body-1');
}

/* end copped styles */

.prompt {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt_text {
  @apply --font-header-light;

  font-weight: normal;
  margin: 0.5rem 0;
  text-align: center;
}

.prompt_button {
  display: block;
  width: auto;
  margin: 0.5rem 0 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

.page_content_dark {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 100%;
}

.deck_map_wrapper {
  flex: 1 1 0;
  align-self: stretch;
  display: flex;
  background-color: var(--c-bg-light);
  border-radius: 6px;
}

.deck_map {
  flex: 1;
}

.labware_ui_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.labware_ui_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name_overlay {
  font-size: 0.5rem;
  color: var(--c-font-light);
  background-color: color-mod(var(--c-black) alpha(0.75));
  padding: 0.25rem;
  border-radius: 0 0 3px 3px;
}

.display_name {
  @apply --truncate;

  font-weight: var(--fw-semibold);
  color: var(--c-font-light);
  text-transform: uppercase;
}

.tip_pick_up_demo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--c-lightest-gray);
  padding: 1rem 0;
  margin-top: 1rem;
  text-align: center;
}

.step_check_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--c-lightest-gray);
  padding: 1rem 0;
  margin-top: 1rem;
}

.tip_pick_up_demo_body {
  @apply --font-body-2-dark;

  margin: 0 1rem;
}

.step_check_body_wrapper {
  max-width: 49%;
}

.command_button {
  margin: 0 5rem;
}

.tip_pick_up_confirmation_wrapper {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.pick_up_tip_confirmation_body {
  margin: 1rem 0;
}

.pick_up_tip_confirmation_button {
  margin-top: 1rem;
  width: 80%;
}

.step_check_video_wrapper {
  margin-top: 1rem;
}

.step_check_video {
  max-width: 100%;
  max-height: 15rem;
}

.loading_spinner {
  width: 7.5rem;
  margin-bottom: 3rem;
}

.difference_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--bd-radius-default);
  border-width: var(--bd-width-default);
  border-style: solid;
  padding: 0.5rem;
  max-width: 18rem;
  margin: 1rem 0 2rem 0;
}

.difference_values {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 8rem;
}

.difference_value_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  margin-left: 2rem;
}

.difference_value.difference_good {
  color: var(--c-success);
}

.difference_value.difference_bad {
  color: var(--c-error);
}

.difference_wrapper.difference_good {
  border-color: var(--c-success);
}

.difference_wrapper.difference_bad {
  border-color: var(--c-error);
}

.difference_body {
  @apply --font-body-2-dark;

  margin: 1rem 0;
}
