@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.details_box {
  border: var(--bd-light);
  margin-bottom: var(--spacing-5);
}

.details_box_contents {
  padding: var(--spacing-5);
}

.details_box_aside {
  padding: var(--spacing-5);
  background-color: var(--c-light-gray);
}

.label_text {
  flex: none;
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--c-font-icon);

  &.top {
    margin-bottom: var(--spacing-2);
  }

  &.left {
    margin-right: var(--spacing-3);
  }
}

.lowercase_text {
  text-transform: lowercase;
}

.value {
  @apply --font-body-2-dark;

  line-height: var(--lh-title);
}

.table_entry {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--spacing-2) 0;
  width: 100%;
}

.table {
  width: 100%;

  &.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > .table_entry {
      width: auto;
    }
  }
}

@media (--medium) {
  .details_box {
    display: flex;
    margin-bottom: var(--spacing-7);
  }

  .details_box_contents {
    width: var(--size-two-thirds);
  }

  .details_box_aside {
    width: var(--size-third);
    align-self: stretch;
  }
}

@media (--large) {
  .details_box_contents,
  .details_box_aside {
    padding: var(--spacing-5) var(--spacing-7);
  }
}
