@import '@opentrons/components/styles';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.clickable_icon {
  flex: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

.external_link {
  @apply --flex-start;
  @apply --transition-color;

  margin-top: var(--spacing-3);
  font-size: var(--fs-body-2);
  font-weight: var(--fw-semibold);
  color: var(--c-blue);

  &:hover,
  &:active {
    color: color-mod(var(--c-blue) alpha(0.6));
  }

  & .icon {
    padding-left: var(--spacing-1);
    width: var(--size-1);
  }
}

.info_button {
  width: 2rem;
  color: var(--c-med-gray);
  padding: var(--spacing-1);

  &.active,
  &:hover {
    background-color: var(--c-lightest-gray);
    color: var(--c-dark-gray);
    border-radius: var(--bd-radius-default);
  }
}

.table_title {
  padding-bottom: var(--spacing-1);
  border-bottom: var(--bd-light);

  @apply --flex-between;

  align-items: center;
}

.expandable_content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;

  &.open {
    /* TODO: investigate react handling dynamic max height */
    max-height: 800px;
  }
}

.details_box {
  border: var(--bd-light);
  margin-bottom: var(--spacing-5);
}

.details_box_contents {
  padding: var(--spacing-5);
}

.details_box_aside {
  padding: var(--spacing-5);
  background-color: var(--c-light-gray);
}

.label_text {
  @apply --truncate;

  /* flex: none; */
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--c-font-icon);

  &.top {
    margin-bottom: var(--spacing-2);
  }

  &.left {
    margin-right: var(--spacing-3);
  }
}

.lowercase_text {
  text-transform: lowercase;
}

.value {
  @apply --font-body-2-dark;

  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
}

.table_entry {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--spacing-2) 0;
  padding-left: var(--spacing-5);
  width: 100%;
}

.table {
  width: 100%;

  &.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > .table_entry {
      width: auto;
    }
  }
}

@media (--medium) {
  .details_box {
    display: flex;
    margin-bottom: var(--spacing-7);
  }

  .details_box_contents {
    width: var(--size-two-thirds);
  }

  .details_box_aside {
    width: var(--size-third);
    align-self: stretch;
  }
}

@media (--large) {
  .details_box_contents,
  .details_box_aside {
    padding: var(--spacing-5) var(--spacing-7);
  }
}
