/* stylelint-disable */

.simple-keyboard.oddTheme1.hg-theme-default .hg-layout-default {
  width: 100%;
  height: 100%;
  background-color: #cbcccc; /* grey35 */
  font-family: 'Public Sans', sans-serif;
  padding: 8px;
}

.hg-layout-default .hg-row .hg-button,
.hg-layout-shift .hg-row .hg-button,
.hg-layout-numbers .hg-row .hg-button {
  color: #16212d;
  height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: #ffffff;
  padding: 10px 22px;
}

/* first row and second row */
.hg-layout-default .hg-row:not(:last-child),
.hg-layout-shift .hg-row:not(:last-child) {
  grid-column: 8px;
}
.hg-row:not(:last-child) .hg-button {
  width: 94px;
}

/* third row first button and last button are the same size
the rest is the same */
.hg-layout-default .hg-row:last-child,
.hg-layout-shift .hg-row:last-child,
.hg-layout-numbers .hg-row:last-child {
  /* adding 3px because package's css add margin-right:5px */
  grid-gap: 3px;
}
.hg-layout-default .hg-row:last-child .hg-button,
.hg-layout-shift .hg-row:last-child .hg-button {
  width: 98px;
  /* margin: 0 !important; */
}
.hg-layout-default .hg-row:last-child .hg-button:first-child,
.hg-layout-default .hg-row:last-child .hg-button:last-child,
.hg-layout-shift .hg-row:last-child .hg-button:first-child,
.hg-layout-shift .hg-row:last-child .hg-button:last-child {
  width: 132px;
}

.hg-layout-numbers .hg-row .hg-button {
  width: 330px;
}
