.button {
  border: none;
  border-radius: var(--border-radius-8);
  background-color: var(--blue-30);
  color: var(--black-90);
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-50);
  color: white;
}

.button_active {
  background-color: var(--blue-50);
  color: white;
}

.button_container {
  display: flex;
  align-items: center;
  padding: var(--spacing-12) var(--spacing-16);
  gap: var(--spacing-4);
}
