@import '..';

.navbar {
  flex: none;
  width: 4rem;
  display: flex;
  flex-direction: column;
}

.navbar > * {
  flex: 1;
}

/* TODO(mc, 2018-03-21): @apply --button-default? */
.tab {
  display: inline-block;
  cursor: pointer;
  background-color: var(--c-white);
  color: var(--c-med-gray);
  outline: none; /* button reset? */
  border: none; /* button reset >:( */
  border-right: var(--bd-light);
}

.top_section > *,
.bottom_section > *,
.filler {
  width: 100%;
  border-right: var(--bd-light);
}

.top_section > .tab {
  border-bottom: var(--bd-light);
}

.bottom_section > .tab {
  border-top: var(--bd-light);
}

.filler {
  flex-grow: 9999;
}

.title {
  display: block;
  color: var(--c-font-dark);
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
}

.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.75;
}

.selected {
  background-color: var(--c-bg-light);
  border-right-color: transparent;

  & > svg {
    fill: var(--c-dark-gray);
  }
}

.icon {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem 0;
  color: var(--c-charcoal);
}

.no_link {
  text-decoration: none;
  color: inherit;
}
