/* common styling for tooltips */
@import '../index.module.css';

.tooltip_box {
  font-size: var(--fs-body-1); /* from legacy --font-body-1-light */
  font-weight: var(--fw-regular); /* from legacy --font-body-1-light */
  color: var(--c-font-light); /* from legacy --font-body-1-light */

  background-color: var(--c-bg-dark);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  padding: 8px;
  cursor: pointer;
  z-index: 9001;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -0.5em;
  width: 1em;
  height: 0.5em;

  &::before {
    border-width: 0.5em 0.5em 0 0.5em;
    content: '';
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: var(--c-bg-dark) transparent transparent transparent;
  }
}

.arrow.bottom {
  top: 0;
  left: 0;
  margin-top: -0.5em;
  width: 1em;
  height: 0.5em;

  &::before {
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent var(--c-bg-dark) transparent;
  }
}

.arrow.right {
  top: 0;
  left: 0;
  margin-left: -0.5em;
  height: 1em;
  width: 0.5em;

  &::before {
    border-width: 0.5em 0.5em 0.5em 0;
    border-color: transparent var(--c-bg-dark) transparent transparent;
  }
}

.arrow.left {
  top: 0;
  right: 0;
  margin-right: -0.5em;
  height: 1em;
  width: 0.5em;

  &::before {
    border-width: 0.5em 0 0.5em 0.5em;
    border-color: transparent transparent transparent var(--c-bg-dark);
  }
}
