[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest = "==7.4.4"
pytest-asyncio = "~=0.23.0"
black = "==23.11.0"
mypy = "==1.7.1"
flake8 = "==7.0.0"
flake8-annotations = "~=3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
hypothesis = "==6.96.1"
opentrons-shared-data = {file = "../shared-data/python", editable = true}
opentrons = { editable = true, path = "../api"}
test-data-generation = {file = ".", editable = true}
astor = "0.8.1"
pytest-xdist = "*"

[requires]
python_version = "3.10"
