/* stylesheet for RobotSettings components */
@import '@opentrons/components';

.configure_form {
  width: 100%;
  margin-top: 1rem;
}

.configure_label {
  @apply --font-body-2-dark;

  margin-bottom: 0.5rem;
  font-weight: var(--fw-semibold);
}

.configure_input {
  margin-top: 0.25rem;

  /* TODO(mc, 2018-02-22): refactor so these nested styles aren't needed */
  & input,
  & select {
    @apply --font-body-2-dark;
  }
}

.configure_button {
  float: right;
  margin-top: 0.5rem;
}

/* TODO (ka 2018-5-14): temporariliy hide last calibrated labeled value without affecting card layout */
.hidden_value {
  visibility: hidden;
}

.update_message {
  margin-bottom: 1rem;
}

.banner {
  @apply --font-body-1-dark;

  & > p {
    margin-bottom: 0.5rem;
  }

  & > ol {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
}

.connection_status {
  @apply --font-body-1-dark;

  padding: 1rem;
  border-bottom: var(--bd-light);
  line-height: 2;
}

.connection_label {
  font-size: var(--fs-body-1);
  font-weight: var(--fw-semibold);
  padding-bottom: 0.25rem;
}

.wireless_info,
.wired_info {
  @apply --font-body-1-dark;

  text-align: left;
  line-height: 2;
}

.wireless_info {
  padding-top: 1rem;
}

.disabled {
  color: var(--c-font-disabled);
}

.restart_banner_message {
  display: flex;

  & > p {
    max-width: 24rem;
    margin-right: auto;
  }
}

.confirm_start_deck_cal_modal {
  padding: 4rem 2rem;
}
