/* stylesheet for RobotSettings components */
@import '@opentrons/components';

.configure_form {
  width: 100%;
  margin-top: 1rem;
}

.configure_label {
  @apply --font-body-2-dark;

  margin-bottom: 0.5rem;
  font-weight: var(--fw-semibold);
}

.configure_input {
  margin-top: 0.25rem;

  /* TODO(mc, 2018-02-22): refactor so these nested styles aren't needed */
  & input,
  & select {
    @apply --font-body-2-dark;
  }
}

.configure_button {
  float: right;
  margin-top: 0.5rem;
}

/* TODO (ka 2018-5-14): temporariliy hide last calibrated labeled value without affecting card layout */
.hidden_value {
  visibility: hidden;
}

.update_message {
  margin-bottom: 1rem;
}

.banner {
  @apply --font-body-1-dark;

  & > p {
    margin-bottom: 0.5rem;
  }

  & > ol {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
}

.connection_status {
  @apply --font-body-1-dark;

  padding: 1rem;
  border-bottom: var(--bd-light);
  line-height: 2;
}

/* TODO(mc, 2018-10-15): switch wifi select/options to flex ASAP */
.wifi_dropdown {
  max-width: 75%;

  /* TODO(ka, 2018-10-19): This is needed to address an inaccessible positioning element from react-select */
  & > div:not(:first-child) {
    box-shadow: none;
    background-color: transparent;
  }
}

.wifi_option {
  @apply --font-body-1-dark;

  width: 100%;
  padding: 0.25rem 0.5rem;
}

.wifi_option_icon,
.wifi_option_icon_right {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  line-height: 0;
}

.wifi_option_icon {
  float: left;
  padding-right: 0.25rem;
}

.wifi_option_icon_right {
  float: right;
  padding-left: 0.25rem;
}

.dropdown_icon {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
  width: 1.25rem;
  pointer-events: none;

  & svg {
    color: var(--c-dark-gray);
  }
}

.options_menu {
  background-color: var(--c-light-gray);
  position: relative;
  top: -2.5rem;
  border-radius: 3px;
  padding: 0.25rem 0 0.5rem;
}

.connection_label {
  @apply --font-body-1-dark;

  font-weight: var(--fw-semibold);
  padding-bottom: 0.25rem;
}

.wireless_info,
.wired_info {
  @apply --font-body-1-dark;

  text-align: left;
  line-height: 2;
}

.wireless_info {
  padding-top: 1rem;
}
