**/node_modules/**
**/coverage/**
**/dist/**/*
**/lib/**/*
**/build/**
**/venv/**
.opentrons_config
**/tsconfig*.json
**/vite.config.mts
# prettier
**/package.json
**/CHANGELOG.md

# components library
storybook-static

# python projects and tools
**/.mypy_cache/**
**/.pytest_cache/**

python/**
