[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "==1.11.0"
flake8 = "~=7.0.0"
flake8-annotations = "~=3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
twine = "==4.0.0"
wheel = "==0.37.1"
pytest = "<9,>=8.4.0"
pytest-cov = "==4.1.0"
pytest-xdist = "~=3.5.0 "
typeguard = "~=4.1.5"
# specify typing-extensions explicitly to force lockfile inclusion on Python >= 3.8
typing-extensions = ">=4.0.0,<5"
# pytest dependencies on windows, spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
atomicwrites = { version = "==1.4.0", markers="sys_platform=='win32'" }
colorama = { version = "==0.4.4", markers="sys_platform=='win32'" }
black = "==22.3.0"
pytest-clarity = "~=1.0.0"
build = "~=1.2.0"

[packages]
opentrons-shared-data = { editable = true, path = "." }
jsonschema = "==4.21.1"
pydantic = "==2.11.7"
numpy = "==1.22.3"
# transitive dependency. 3.22 introduces a build plugin called coherent.licensed that
# is not safe to have installed when another project is being built.
zipp = "==3.21.0"
