.modal_body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.modal_body_select_tiprack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.modal_body_select_tips {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-12);
}

.modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--spacing-24) var(--spacing-24);
  gap: var(--spacing-8);
}

.modal_footer_continue {
  align-self: flex-end;
}

.modal_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.select_tips_deck_container {
  display: flex;
  width: 100%;
  height: 536px;
  align-self: center;
}

.slot_fill {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-4);
}

.tip_select_legend_container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-24);
}

.tip_select_legend_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
}

.well_legend_item {
  transform: rotate(90deg);
}

.shadow_overlay {
  pointer-events: none;
}

.legend_box {
  display: flex;
  width: 10rem;
}
