.step_group_container {
  border-radius: var(--border-4);
}

.step_group_header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-8);
  gap: var(--spacing-4);
}

.step_group_icon {
  display: flex;
  align-items: center;
}
