.feature_flag_button {
  display: flex;
  width: 100%;
  margin-bottom: var(--spacing-8);
  background-color: var(--grey-35);
  padding: var(--spacing-20) var(--spacing-24);
  border-radius: var(--border-radius-16);
  flex-direction: row;
  gap: var(--spacing-24);
  justify-content: space-between;
  align-items: center;
}

.feature_flag_content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
  align-items: center;
}

.feature_flag_text_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  align-items: flex-start;
  justify-content: center;
  width: 46.25rem;
}

.feature_flag_title {
  font-weight: 600;
}

.icon_large {
  width: 3rem;
  height: 3rem;
}

.main_content {
  display: flex;
  flex-direction: column;
}

.settings_content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-40);
}

.right_element_with_icon {
  display: flex;
  gap: var(--spacing-40);
  align-items: center;
}
