.feature_flag_button {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #cbcccc;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.feature_flag_content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.feature_flag_text_content {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: center;
  width: 46.25rem;
}

.feature_flag_title {
  font-weight: 600;
}

.icon_large {
  width: 3rem;
  height: 3rem;
}

.main_content {
  display: flex;
  flex-direction: column;
}

.settings_content {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.right_element_with_icon {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
