@import '@opentrons/components';

.upload {
  width: 100%;
  margin: 1rem 0 1.5rem;
  padding: 0 1rem;
}

.file_input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.upload_button {
  display: block;
}

.file_drop {
  @apply --font-body-2-dark;

  display: block;
  padding: 1rem;
  border: 2px dashed silver;
  border-radius: 6px;
  color: var(--c-med-gray);
  text-align: center;
}

.file_drop_icon {
  display: block;
  margin: 3rem auto;
  width: 4rem;
}

.menu_list {
  list-style: none;
  margin: 1rem 0 0;
}

.menu_item {
  text-transform: uppercase;
  font-size: var(--fs-body-2);
  margin-bottom: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  & > span {
    width: 100%;
  }
}

.menu_icon {
  width: 1.5rem;
}

.active {
  color: #0ec9eb;
  fill: #0ec9eb;
  background-color: #f0f3ff;
}
