@import '@opentrons/components';

.advanced_settings_panel {
  background-color: #f6f6f6; /* TODO Ian 2019-03-15 add to colors.css? */
  margin: -0.5rem -0.75rem 0 -0.75rem;
  padding: 0 0.75rem 0 0.75rem;
}

.form_wrapper {
  max-width: 55rem; /* 'breakpoint' for gutter */
}

.disposal_vol_wrapper,
.form_row,
.checkbox_column {
  margin: 1rem 0;
}

.form_row {
  min-height: 2.25rem;
  display: flex;
  align-items: flex-start;
}

.wrap_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.field,
.small_field,
.large_field {
  margin-right: 0.5rem;
}

.large_field {
  width: 12rem;
}

.small_field {
  width: 5.75rem;
}

.full_width_field {
  width: 100%;
}

/* TODO: Ian 2019-03-25 make this a component library input? */
.textarea_field {
  font-size: var(--fs-body-1);
  background-color: var(--c-light-gray);
  border-radius: var(--bd-radius-form-field);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  height: 100%;
  width: 100%;

  /* resets */
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
}

.orphan_field {
  margin: 0;
}

.checkbox_row {
  margin-top: 0.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
}

.checkbox_field {
  text-transform: capitalize;
}

.captioned_field {
  margin-bottom: 1rem;
}

.no_label {
  margin-top: 0.5rem;
}

.form_button {
  width: 6.25rem;
}

.form_button:not(:last-child) {
  margin-right: 0.625rem;
}

.sub_label_no_checkbox {
  @apply --font-body-1-dark;

  width: 5rem;
  display: flex;
  align-items: center;
  line-height: 1;
  flex: 0 0 auto;
  padding: 0 0.5rem;
  margin: 0.5rem 0 0.5rem 1.4rem;
}

.advanced_settings_button_wrapper {
  float: right;
  height: 2.25rem;
  width: 2.25rem;
}

.advanced_settings_button {
  padding: 0.375rem;
}

.section_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  min-height: 4rem;
}

.section_column {
  flex: 1;
  max-width: 20rem;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 1.25rem; /* Same height with and without gear icon */
  border-bottom: 1px solid var(--c-light-gray);
  width: 100%;
  padding-top: 0.25rem;
}

.section_header_text {
  /* TODO: Ian 2019-03-20: if it's reused, do typography.css entry for the below?
  And add this color to colors.css? */
  color: #666;
  letter-spacing: 1px;
  font-size: var(--fs-body-2);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.path_option {
  width: 2.275rem;
  height: 1.55rem;
  margin-right: 0.25rem;
  border-radius: 2px;
  border: 1px solid var(--c-med-gray);
  cursor: pointer;
}

.path_option.selected {
  background-color: var(--c-light-gray);
}

.path_option.disabled {
  color: var(--c-light-gray);
  opacity: 0.16;
  cursor: default;
}

.path_options {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.tooltip {
  line-height: 1rem;
  max-width: 18rem;
}

.path_tooltip_image {
  padding: 0.5rem;
}

.path_tooltip_image.disabled {
  opacity: 0.5;
}

.path_tooltip_title {
  font-size: var(--fs-header);
  text-align: center;
}

.path_tooltip_title.disabled {
  opacity: 0.5;
}

.path_tooltip_subtitle {
  font-size: var(--fs-body-2);
  text-align: center;
}

.disposal_vol_wrapper {
  min-height: 3.5rem;
  margin-bottom: 1rem;
}

.magnet_section_wrapper {
  display: flex;
  justify-content: flex-start;
  min-height: 4rem;
}

.magnet_form_group {
  flex-basis: 0 1 11rem;
  margin: 1rem 4.25rem 1rem 0;
}

.temperature_section_wrapper {
  margin-bottom: 2rem;
}

.temperature_form_group {
  margin: 1rem 0;
}

.module_labware_text {
  max-width: 11rem;
  margin-top: 0.5rem;
  font-size: var(--fs-body-1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select_module_message {
  font-size: var(--fs-body-1);
}

/*
TODO (ka 2020-1-30): This is a workaround since component library
RadioGroup does not support a disabled option. Should revisit if
and when that is implemented.
*/
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.diagram_row {
  display: flex;
  margin: 1rem 0 2rem 14rem;
}

.engage_height_diagram {
  width: 90%;
  padding-top: calc(40 / 540 * 90%);
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}

.engage_height_diagram_gen1 {
  background-image: url('../../images/modules/engage_height_static_gen1.png');

  &:hover {
    background-image: url('../../images/modules/engage_height_animation_gen1.gif');
  }
}

.engage_height_diagram_gen2 {
  background-image: url('../../images/modules/engage_height_static_gen2.png');

  &:hover {
    background-image: url('../../images/modules/engage_height_animation_gen2.gif');
  }
}
