@import '@opentrons/components';

.form_row {
  min-height: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.end_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wrap_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fixed_width {
  width: 17rem;
}

.large_field {
  font-size: var(--fs-body-1);
  width: 14rem;
  margin-right: 0.5rem;
}

.medium_field {
  font-size: var(--fs-body-1);
  width: 12em;
  margin-right: 0.5rem;
}

.small_field {
  font-size: var(--fs-body-1);
  width: 5rem;
  margin-right: 0.5rem;
}

.orphan_field {
  margin: 0;
}

.checkbox_row {
  margin-top: 0.25rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox_field {
  font-size: var(--fs-body-1);
}

.captioned_field {
  margin-bottom: 1rem;
}

.hidden_fields {
  margin: 0 1rem 0 2.5rem;
  min-width: 14.5rem;
}

.mix_hidden_fields {
  margin: 0 0 0 1rem;
  min-width: 0;
  width: 14rem;
}

.no_label {
  margin-top: 0.5rem;
}

.form_footer {
  margin: 2rem 0 1rem 0;
}

.form_button {
  width: 6.25rem;
}

.form_button:not(:last-child) {
  margin-right: 0.625rem;
}

.sub_select_label {
  @apply --font-body-1-dark;

  display: flex;
  align-items: center;
  line-height: 1;
  flex: 0 0 auto;
  padding: 0 0.5rem;
  margin: 0.5em 0 0.5em 20px;
}

.advanced_settings_button_wrapper {
  height: 2.25rem;
  width: 2.25rem;
  margin-top: 0.375rem;
}

.advanced_settings_button {
  padding: 0.375rem;
}

.section_divider {
  height: 1px;
  width: 100%;
  background-color: var(--c-light-gray);
  margin: 1em 0;
}

.path_option {
  width: 2.275rem;
  height: 1.55rem;
  margin-right: 0.25rem;
  border-radius: 2px;
  border: 1px solid var(--c-med-gray);
  cursor: pointer;
}

.path_option.selected {
  background-color: var(--c-light-gray);
}

.path_option.disabled {
  color: var(--c-light-gray);
  opacity: 0.16;
  cursor: default;
}

.path_options {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.path_tooltip_image {
  padding: 0.5rem;
}

.path_tooltip_title {
  font-size: var(--fs-header);
  text-align: center;
}

.path_tooltip_subtitle {
  font-size: var(--fs-body-2);
  text-align: center;
}

.disposal_vol_wrapper {
  min-height: 3.5rem;
}

.multi_dispense_options {
  min-width: 14.25rem;
}

@media screen and (max-width: 1279px) {
  .form_row {
    flex-wrap: wrap;
  }
}
