@import '@opentrons/components';

.instrument {
  position: relative;
}

.instrument_info {
  padding: 1rem 1.5rem;
}

.wrong_pipette_message {
  @apply --font-body-2-dark;

  margin-top: 1.5rem;
}

.alert {
  @apply --absolute-fill;

  bottom: auto;
}
