.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-8);
}
