@import '@opentrons/components';

.deck_wrapper {
  flex: 1;
}

.deck_header {
  @apply --font-header-dark;

  text-align: center;
  padding: 1rem 0;
}

.deck_row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: calc(100vh - 3rem);
  overflow-y: hidden;
}

.deck_instructions {
  font-size: var(--fs-body-1);
  font-weight: var(--fw-semibold);
  color: var(--c-font-dark);
  background-color: white;
  height: 1rem;
}
