@import '@opentrons/components/styles';

.deck_wrapper {
  flex: 1;
  margin-top: 1rem;
}

.deck_header {
  font-size: var(--fs-header); /* from legacy --font-header-dark */
    font-weight: var(--fw-semibold); /* from legacy --font-header-dark */
    color: var(--c-font-dark); /* from legacy --font-header-dark */

  text-align: center;
  padding: 1rem 0;
}

.deck_row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: calc(100vh - 3rem);
  overflow-y: hidden;
}
