@import '@opentrons/components';

.deck_wrapper {
  flex: 1;
  z-index: -10;
}

.deck_header {
  @apply --font-header-dark;

  text-align: center;
  padding: 1rem 0;
}

.deck_row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: calc(100vh - 3rem);
  overflow-y: hidden;
}

.robot_workspace {
  width: 100%;
  height: 100%;
}
