@import '@opentrons/components';

.slot_warning {
  rx: 6;
  fill: transparent;
  stroke: var(--c-plate-bg);
  stroke-width: 2;
  stroke-dasharray: 8 4;
}

.warning_text {
  padding: 1.3rem 0.5rem 0 0.5rem;
  font-size: 0.52rem;
  font-weight: var(--fw-semibold);
  color: var(--c-med-gray);
  line-height: var(--lh-title);
}
