.alert_primary_button {
  padding: var(--spacing-8) var(--spacing-16);
  border: none;
  border-radius: var(--border-radius-8);
  background-color: var(--red-50);
  box-shadow: 0 0 0;
  color: var(--white);
  cursor: pointer;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-20);
  text-transform: none;
}

.alert_primary_button:focus-visible {
  outline: 2px solid var(--blue-50);
  outline-offset: 0.125rem;
}

.alert_primary_button:hover {
  background-color: var(--red-55);
  box-shadow: 0 0 0;
}

.alert_primary_button:disabled {
  background-color: var(--grey-30);
  color: var(--grey-40);
}
