/* common styling for modals */
@import '../index.module.css';

.modal {
  position: absolute;
  /* from legacy --absolute-fill */
  top: 0;
  /* from legacy --absolute-fill */
  right: 0;
  /* from legacy --absolute-fill */
  bottom: 0;
  /* from legacy --absolute-fill */
  left: 0;
  /* from legacy --absolute-fill */
  display: flex;
  /* from legacy --center-children */
  justify-content: center;
  /* from legacy --center-children */
  align-items: center;
  /* from legacy --center-children */

  align-items: flex-start;
  position: fixed;
  z-index: 1;
  padding: 4rem;
}

.modal_page {
  position: absolute;
  /* from legacy --absolute-fill */
  top: 0;
  /* from legacy --absolute-fill */
  right: 0;
  /* from legacy --absolute-fill */
  bottom: 0;
  /* from legacy --absolute-fill */
  left: 0;
  /* from legacy --absolute-fill */

  display: flex;
  /* from legacy --flex-start */
  justify-content: flex-start;
  /* from legacy --flex-start */
  align-items: center;
  /* from legacy --flex-start */

  flex-direction: column;
  padding: 4.5rem 3rem 1rem 3rem;
}

.overlay {
  position: absolute;
  /* from legacy --absolute-fill */
  top: 0;
  /* from legacy --absolute-fill */
  right: 0;
  /* from legacy --absolute-fill */
  bottom: 0;
  /* from legacy --absolute-fill */
  left: 0;
  /* from legacy --absolute-fill */

  background-color: rgba(0, 0, 0, 0.9);
}

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.modal_contents {
  z-index: 1;
  /* from legacy --modal-contents */
  width: 100%;
  /* from legacy --modal-contents */
  max-width: 38rem;
  /* from legacy --modal-contents */
  margin: 0 auto;
  /* from legacy --modal-contents */
  padding: 1rem;
  /* from legacy --modal-contents */
  border-radius: 0.5rem;
  /* from legacy --modal-contents */

  background-color: white;
}

.modal_page_contents {
  z-index: 1;
  /* from legacy --modal-contents */
  width: 100%;
  /* from legacy --modal-contents */
  max-width: 38rem;
  /* from legacy --modal-contents */
  margin: 0 auto;
  /* from legacy --modal-contents */
  padding: 1rem;
  /* from legacy --modal-contents */
  border-radius: 0.5rem;
  /* from legacy --modal-contents */

  background-color: white;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 1rem;
}

.modal_heading {
  font-size: var(--fs-header);
  /* from legacy --font-header-dark */
  font-weight: var(--fw-semibold);
  /* from legacy --font-header-dark */
  color: var(--c-font-dark);
  /* from legacy --font-header-dark */

  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.alert_modal_wrapper {
  position: relative;
  max-height: 100%;
  padding-top: 4rem;
  border-radius: 0;
}

.alert_modal_heading.no_icon_heading {
  padding-left: 2rem;
}

.no_alert_header {
  padding-top: 1.5rem;
}

.spinner_modal_contents {
  z-index: 1;
  /* from legacy --modal-contents */
  width: 100%;
  /* from legacy --modal-contents */
  max-width: 38rem;
  /* from legacy --modal-contents */
  margin: 0 auto;
  /* from legacy --modal-contents */
  padding: 1rem;
  /* from legacy --modal-contents */
  border-radius: 0.5rem;
  /* from legacy --modal-contents */
  font-size: var(--fs-body-2);
  /* from legacy --font-body-2-light */
  font-weight: var(--fw-regular);
  /* from legacy --font-body-2-light */
  color: var(--c-font-light);
  /* from legacy --font-body-2-light */
  @apply center-content;

  max-width: 30rem;
  padding-top: 3rem;
  background-color: transparent;
  flex-direction: column;
  font-style: italic;
  text-align: center;
  z-index: 4;
}

.spinner_modal_icon {
  width: 7.5rem;
  margin-bottom: 3rem;
}

.clickable {
  @apply --clickable;
}

.alert_modal {
  z-index: 10;
}

.alert_modal_overlay {
  background-color: rgba(115, 115, 115, 0.9);
}

.alert_modal_contents {
  font-size: var(--fs-body-2);
  /* from legacy --font-body-2-dark */
  font-weight: var(--fw-regular);
  /* from legacy --font-body-2-dark */
  color: var(--c-font-dark);
  /* from legacy --font-body-2-dark */

  width: 100%;
  max-height: 100%;
  padding: 1rem;

  &>p {
    padding-bottom: 1rem;
  }
}

.alert_modal_heading {
  font-size: var(--fs-header);
  /* from legacy --font-header-dark */
  font-weight: var(--fw-semibold);
  /* from legacy --font-header-dark */
  color: var(--c-font-dark);
  /* from legacy --font-header-dark */

  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #e0e0e0;
}

.alert_modal_icon {
  height: 1.125rem;
  margin-right: 0.75rem;
}

.alert_modal_buttons {
  float: right;
  margin-top: 1rem;
}

.alert_button {
  margin-left: 1rem;
}