@import './colors.module.css';

#root {
  /* borders */
  --bd-radius-default: 2px;
  --bd-radius-form-field: 3px;
  --bd-radius-pill: 12px;
  --bd-width-default: 1px;
  --bd-light: var(--bd-width-default) solid var(--c-light-gray);

  /* outlines */
  --outline-highlight: {
    border-color: transparent;
    outline: 2px solid var(--c-highlight);
    outline-width: 2px 0;
  }

  /* dropshadows */

  /* TODO: Ian 2018-07-26 consolidate all shadows here (eg from buttons) */
  --shadow-lvl-1:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --shadow-lvl-2:
    0 3px 6px 0 rgba(0, 0, 0, 0.13),
    0 3px 6px 0 rgba(0, 0, 0, 0.23);
}
