:root {
  /* ot brand */
  --c-mustard: #ffd252;
  --c-blue: #006fff;
  --c-light-blue: color(var(--c-blue) lightness(85%));
  --c-teal: #05c1b3;

  /* grays */
  --c-dark-gray: #4a4a4a;
  --c-med-gray: #9b9b9b;
  --c-light-gray: #e5e2e2;

  /* background colors */
  --c-bg-dark: #4a4a4a;
  --c-bg-light: #fafafa;
  --c-bg-selected: #d1d1d1;
  --c-bg-selected-light: #f1f1f1;

  /* Misc */
  --c-overlay: rgba(0, 0, 0, 0.7);
  --c-plate-bg: #ccc;
  --c-green: #7ed321;
  --c-red: #f00000;
  --c-orange: #f5a623;
}
