:root {
  /* ot brand */
  --c-mustard: #ffd252;
  --c-blue: #006fff;
  --c-teal: #05c1b3;
  --c-mustard: #ffd252;

  /* grays */
  --c-dark-gray: #4a4a4a;
  --c-med-gray: #9b9b9b;
  --c-light-gray: #e5e2e2;

  /* background colors */
  --c-bg-dark: #4a4a4a;
  --c-bg-light: #fcfcfc;
  --c-bg-selected: #d1d1d1;

  /* Misc */
  --c-overlay: rgba(0, 0, 0, 0.7);
  --c-plate-bg: #9b9b9b;
}
