/* this is global CSS for the components package and all other opentrons projects */
:root {
  /* colors */

  /* currently we follow the order of colors.ts file */

  /* green */
  --green-60: #03683e;
  --green-35: #afedd3;
  --green-20: #e8f7ed;
  --green-50-non-touchscreen: #04aa65;
  --green-50-touchscreen: #1ca850;
  --green-50: var(--green-50-non-touchscreen);
  --green-40-non-touchscreen: #91e2c0;
  --green-40-touchscreen: #8ef3a8;
  --green-40: var(--green-40-non-touchscreen);
  --green-30-non-touchscreen: #c4f6e0;
  --green-30-touchscreen: #8afbab;
  --green-30: var(--green-30-non-touchscreen);

  /* red */
  --red-60: #941313;
  --red-55: #c71a1b;
  --red-50: #de1b1b;
  --red-40: #f5b2b3;
  --red-35: #f8c8c9;
  --red-30: #fad6d6;
  --red-20: #fce9e9;

  /* yellow */
  --yellow-60: #825512;
  --yellow-50: #f09d20;
  --yellow-40: #fcd48b;
  --yellow-35: #ffe1a4;
  --yellow-30: #ffe9be;
  --yellow-20: #fdf3e2;

  /* purple */
  --purple-60-non-touchscreen: #562566;
  --purple-60-touchscreen: #612367;
  --purple-60: var(--purple-60-non-touchscreen);
  --purple-55-non-touchscreen: #713187;
  --purple-55-touchscreen: #822e89;
  --purple-55: var(--purple-55-non-touchscreen);
  --purple-50-non-touchscreen: #893ba4;
  --purple-50-touchscreen: #9e39a8;
  --purple-50: var(--purple-50-non-touchscreen);
  --purple-40-non-touchscreen: #cea4df;
  --purple-40-touchscreen: #e2a9ea;
  --purple-40: var(--purple-40-non-touchscreen);
  --purple-35-non-touchscreen: #dbbce7;
  --purple-35-touchscreen: #ecc2f2;
  --purple-35: var(--purple-35-non-touchscreen);
  --purple-30-non-touchscreen: #e6d5ec;
  --purple-30-touchscreen: #f4def7;
  --purple-30: var(--purple-30-non-touchscreen);
  --purple-20-non-touchscreen: #f3e9f6;
  --purple-20-touchscreen: #fff3fe;
  --purple-20: var(--purple-20-non-touchscreen);

  /* blue */
  --blue-60: #004196;
  --blue-55: #0056c8;
  --blue-40: #a9cefd;
  --blue-35: #bfdcfd;
  --blue-30: #d0e6fe;
  --blue-20: #e1efff;
  --blue-10: #f1f8ff;

  /* gray */
  --grey-60: #4a4c4e;
  --grey-55: #626467;
  --grey-50: #737578;
  --grey-40: #b7b8b9;
  --grey-35: #cbcccc;
  --grey-30: #dedede;
  --grey-20: #e9e9e9;
  --grey-10: #f3f3f3;

  /* core */
  --black-90: #16212d;
  --black-80: #24313f;
  --black-70: #39495b;
  --white: #fff;
  --blue-50: #006cfa;

  /* semi-opaques */
  --transparent-white-80: #fffc;
  --transparent-white-50: #ffffff80;
  --transparent-black-10: #16212d1a;
  --transparent-black-60: #16212d60;
  --transparent-black-80: #16212d80;

  /* flex */
  --flex-60: #0b6f96;
  --flex-55: #0297cc;
  --flex-50: #00bdff;
  --flex-40: #aae3fc;
  --flex-35: #b2ebff;
  --flex-30: #ccf2ff;
  --flex-20: #d9f5ff;

  /* extras */
  --transparent: #0000;

  /* spacing */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-6: 0.375rem; /* 6px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-10: 0.625rem; /* 10px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-20: 1.25rem; /* 20px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-44: 2.75rem; /* 44px */
  --spacing-48: 3rem; /* 48px */
  --spacing-60: 3.75rem; /* 60px */
  --spacing-68: 4.25rem; /* 68px */
  --spacing-80: 5rem; /* 80px */
  --spacing-120: 7.5rem; /* 120px */

  /* border-radius */
  --border-radius-2: 0.125rem; /* 2px */
  --border-radius-4: 0.25rem; /* 4px */
  --border-radius-8: 0.5rem; /* 8px */
  --border-radius-12: 0.75rem; /* 12px */
  --border-radius-16: 1rem; /* 16px */
  --border-radius-40: 2.5rem; /* 40px */

  /* Round to a pill or full circle. The exact value here is arbitrary and might
  change. It just needs to be greater than the element's width and height. */
  --border-radius-full: 50rem;

  /* font-size */
  --font-size-80: 5rem; /* 80px */
  --font-size-38: 2.375rem; /* 38px */
  --font-size-32: 2rem; /* 32px */
  --font-size-28: 1.75rem; /* 28px */
  --font-size-22: 1.375rem; /* 22px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-h1: 1.1875rem; /* H1 19px */
  --font-size-h2: 0.9375rem; /* H2 15px */
  --font-size-h3: 0.875rem; /* H3 14px */
  --font-size-h4: 0.8125rem; /* H4 13px */
  --font-size-h6: 0.5625rem; /* H6 9px */
  --font-size-p: 0.8125rem; /* P 13px */
  --font-size-label: 0.6875rem; /* Label 11px */
  --font-size-caption: 0.625rem; /* Caption 10px */

  /* line-height */
  --line-height-96: 6rem; /* 96px */
  --line-height-48: 3rem; /* 48px */
  --line-height-42: 2.625rem; /* 42px */
  --line-height-36: 2.25rem; /* 36px */
  --line-height-28: 1.75rem; /* 28px */
  --line-height-24: 1.5rem; /* 24px */
  --line-height-20: 1.25rem; /* 20px */
  --line-height-18: 1.125rem; /* 18px */
  --line-height-16: 1rem; /* 16px */
  --line-height-12: 0.75rem; /* 12px */

  /* font-weight */

  /* this might be removed. that depends on what StyledText looks like */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

.enable_touchscreen_colors {
  /* green */
  --green-50: var(--green-50-touchscreen);
  --green-40: var(--green-40-touchscreen);
  --green-30: var(--green-30-touchscreen);

  /* purple */
  --purple-60: var(--purple-60-touchscreen);
  --purple-55: var(--purple-55-touchscreen);
  --purple-50: var(--purple-50-touchscreen);
  --purple-40: var(--purple-40-touchscreen);
  --purple-35: var(--purple-35-touchscreen);
  --purple-30: var(--purple-30-touchscreen);
  --purple-20: var(--purple-20-touchscreen);
}
