:root {
  /* ot brand */
  --c-mustard: #ffd252;
  --c-blue: #006cfa;
  --c-light-blue: color-mod(var(--c-blue) lightness(85%));

  /*
   * grays
   * TODO(mc, 2019-03-22): align with style guide
   */
  --c-near-black: #a4a4a4; /* style guide: n/a */
  --c-dark-gray: #4a4a4a; /* style guide: near-black */
  --c-charcoal: #979797;
  --c-med-gray: #9b9b9b; /* style guide: n/a */
  --c-light-gray: #e5e2e2; /* style guide: smoke, should be e6e6e6 */
  --c-lightest-gray: #ededed; /* style guide: n/a */

  /*
   * background colors
   * TODO(mc, 2019-03-22): combine with colors
   */
  --c-bg-dark: #4a4a4a;
  --c-bg-light: #fafafa;
  --c-bg-selected: #f0f3ff;
  --c-bg-hover: #f1f1f1;
  --c-bg-success: #b6febc;

  /* general UI */
  --c-highlight: #5fd8ee;
  --c-selected-dark: #00c3e6;
  --c-warning-dark: #9e5e00;
  --c-warning: #e28200;
  --c-warning-light: #ffd58f;
  --c-error-dark: #ac0505;
  --c-error: #d12929;
  --c-error-light: #ffc0c0;
  --c-success: #60b120;
  --c-blue-enabled: #006cfa;
  --c-light-grey-hover: #c6c6c6;

  /* Misc */
  --c-selection-overlay: color-mod(var(--c-highlight) alpha(0.3));
  --c-plate-bg: #ccc;
  --c-white: #fff;
  --c-black: #000;
  --c-green: #7ed321;
  --c-red: #f00000;
  --c-orange: #f5a623;

  --transition-color: {
    transition: color 0.15s ease-in-out;
  }

  --transition-background-color: {
    transition: background-color 0.15s ease-in-out;
  }
}
