#root {
  --absolute-fill: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  --center-children: {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  --flex-between: {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  --flex-start: {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  --flex-end: {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  --modal: {
    @apply --absolute-fill;
    @apply --center-children;
  }
}
