:root {
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-6: 0.375rem; /* 6px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-10-5: 0.625rem; /* 10px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-20: 1.25rem; /* 20px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-44: 2.75rem; /* 44px */
  --spacing-48: 3rem; /* 48px */
  --spacing-60: 3.75rem; /* 60px */
  --spacing-68: 4.25rem; /* 68px */
  --spacing-80: 5rem; /* 80px */
  --spacing-120: 7.5rem; /* 120px */
}
