/* common typography styles */

:root {
  /* colors */
  --c-font-dark: #4a4a4a;
  --c-font-light: white;

  /* sizes */
  --fs-huge: 3rem;
  --fs-header: 1.125rem;
  --fs-body-2: 0.875rem;
  --fs-body-1: 0.75rem;
  --fs-caption: 0.635rem;

  /* weights */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
}

/* font colors */
@value color_font_dark: #4a4a4a;
@value color_font_light: white;
@value color_font_disabled: #9c9c9c;

/* font sizes */
@value font_size_huge: 3rem;
@value font_size_header: 1.125rem;
@value font_size_body_2: 0.875rem;
@value font_size_body_1: 0.75rem;
@value font_size_caption: 0.625rem;

/* font weights */
@value font_weight_bold: 800;
@value font_weight_semibold: 500;
@value font_weight_regular: 400;

.font_huge_dark {
  font-size: font_size_huge;
  font-weight: font_weight_bold;
  color: color_font_dark;
}

.font_huge_light {
  font-size: font_size_huge;
  font-weight: font_weight_bold;
  color: color_font_light;
}

.font_header_dark {
  font-size: font_size_header;
  font-weight: font_weight_semibold;
  color: color_font_dark;
}

.font_header_light {
  font-size: font_size_header;
  font-weight: font_weight_semibold;
  color: color_font_light;
}

.font_body_2_dark {
  font-size: font_size_body_2;
  font-weight: font_weight_regular;
  color: color_font_dark;
}

.font_body_2_light {
  font-size: font_size_body_2;
  font-weight: font_weight_regular;
  color: color_font_light;
}
