@import '@opentrons/components';

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.info_box {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  border: var(--bd-light);
}

.info_box_left {
  margin-right: 1rem;
}

.info_box_title {
  @apply --font-header-dark;

  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.info_box_description {
  @apply --font-body-2-dark;
}

.info_box_icon {
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.info_box_button {
  flex: none;
  width: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modal_contents {
  background-color: white;
}

.in_progress_contents {
  background-color: transparent;

  & h3 {
    display: none;
  }
}

.position_diagram,
.jog_container {
  width: 100%;
  margin: 0.5rem 0;
}

.position_diagram {
  padding: 0.5rem 2rem;
}

.diagram_title {
  @apply --font-header-dark;

  margin: 0 1rem 0.5rem;
}

.diagram_instructions {
  @apply --font-body-2-dark;

  margin: 0 1rem;
}

.diagram_image {
  max-width: 100%;
}

.confirm_pickup {
  width: 25rem;
  margin: auto;
  text-align: center;
}

.confirm_pickup_text {
  @apply --font-header-dark;

  margin-bottom: 1.5rem;
}

.confirm_pickup_button {
  margin-bottom: 0.75rem;
}

.spinner {
  width: 6rem;
  display: block;
  margin: 35vh auto auto;
  color: var(--c-font-light);
}

.calibrate_labware_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.deck_map {
  width: 100%;
  height: 100%;
}

.wizard_title {
  text-transform: none;
}

.place_seal_instructions {
  @apply --font-body-2-dark;

  font-weight: var(--fw-semibold);
  padding: 0;
}

.place_seal_explanation {
  @apply --font-body-2-dark;
}

.modal_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.place_seal_image {
  max-width: 21rem;
}
