/* stylesheet for Resources page components */
@import '@opentrons/components';

:root {
  --resources_card_spacing: 0.75rem;
  --mw-labeled-button: 25rem;
}

.card_content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_label {
  @apply --font-body-1-dark;

  max-width: var(--mw-labeled-button);
}

.link_button {
  flex-shrink: 0;
  margin-left: var(--resources_card_spacing);
}
