/* stylesheet for Resources page components */
@import '@opentrons/components';

:root {
  --resources_card_spacing: 0.75rem;
  --mw-labeled-button: 25rem;
}

.card_content {
  padding: 1rem;
}

.link_label {
  @apply --font-body-1-dark;

  max-width: var(--mw-labeled-button);
  display: inline-block;
  line-height: 2.25rem;
}

.link_button {
  float: right;
}
