[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentrons = { editable = true, path = "./../api" }
robot-server = { editable = true, path = "./../robot-server" }
server-utils = { editable = true, path = "./../server-utils" }
opentrons-shared-data = { editable = true, path = "../shared-data/python" }
opentrons_hardware = { editable = true, path = "../hardware" }
g-code-testing = { editable = true, path = "." }
anyio = "==3.7.1"
pydantic = "==1.10.12"
# opentrons dependency on linux, spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
systemd-python = { version = "==234", markers="sys_platform=='linux'" }

[dev-packages]
diff-match-patch = "==20230430"
pytest = "~=7.4.4"
pytest-aiohttp = "==1.0.5"
pytest-cov = "==4.1.0"
pytest-xdist = "~=2.5.0"
mock = "~=5.1.0"
types-mock = "~=5.1.0"
mypy = "==1.8.0"
flake8 = "~=7.0.0"
flake8-annotations = "~=3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
black = "==22.3.0"
decoy = "~=2.1.1"

[requires]
python_version = "3.10"
