/* TODO(mc, 2018-02-09): fix lint errors and remove this ignore */
/* stylelint-disable font-family-no-missing-generic-family-keyword  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'sans';
  position: fixed;
}
