/* TODO(mc, 2018-02-09): fix lint errors and remove this ignore */
/* stylelint-disable font-family-no-missing-generic-family-keyword  */
@import '@opentrons/components';

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--c-font-dark);
}

a {
  text-decoration: none;
}

/*** BUTTONS ***/
button {
  border: none;
}

button:focus,
button:active {
  outline: 0;
}
