/* TODO(mc, 2018-02-09): fix lint errors and remove this ignore */
/* stylelint-disable font-family-no-missing-generic-family-keyword  */

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'sans';
  position: fixed;
}
