@import '@opentrons/components';

.info_box {
  border: 2px solid var(--c-light-gray);
  margin: 1rem;
}

.info_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 1rem 0;
}

.info_header_icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;
}

.info_header_title {
  @apply --font-header-dark;

  text-transform: uppercase;
  padding-left: 1rem;
  max-width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info_wrapper {
  display: flex;
}

.info_left,
.info_right {
  flex: 0 0 50%;
  padding: 1rem 1rem;

  & p {
    @apply --font-body-2-dark;
  }

  & p:not(:last-child) {
    margin-bottom: 1rem;
  }

  & img {
    width: 100%;
  }
}

.info_right {
  margin-top: -1.75rem;
}
