.btn_wrapper {
  background-color: #777;
  display: grid;
  height: 4rem;
  grid-template-areas: "file  . pause run";
  grid-template-columns: auto 10rem 10rem 10rem;
}

.file_info {
  margin-left: 1rem;
  grid-area: file;
  font-family: 'trons';
  line-height: 4rem;
  color: white;
}

.btn_run {
  grid-area: run;
  margin: 0.75rem 1rem;
}

.btn_pause {
  grid-area: pause;
  margin: 0.75rem 1rem;
}

.btn_cancel {
  grid-area: run;
  margin: 0.75rem 1rem;
}

.controls {
  background-color: #eee;
  height: 9rem;
}

.notifications {
  height: 4rem;
}

.timer {
  height: 3rem;
  color: grey;
  font-family: 'sans';
}

.time_elapsed,
.start_time {
  height: 2rem;
  width: 50%;
  display: inline-block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 1rem;
}

.time_elapsed {
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: right;
}

.progress {
  height: 2rem;
}

