/* Upload component styles */
@import '@opentrons/components';

.status_bar {
  display: flex;
  align-items: center;
}

.spinner {
  width: 8rem;
}

.results {
  max-width: 32rem;
}

.status_icon {
  line-height: 1;
  font-size: 4rem;
  padding: 1rem;
  width: 6rem;
  height: 6rem;
}

.status_message {
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--c-med-gray);
}

.error {
  color: red;
}

.details {
  margin-bottom: 1.5rem;
  padding-left: 8rem;
  font-size: 1rem;
  color: var(--c-med-gray);
}

.error {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--c-red);
}

.file_details_title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.open_setup_link {
  cursor: pointer;
  color: var(--c-blue);
}
