@import '@opentrons/components';

.deck {
  padding: 1rem;
  max-width: 100%;
  width: 100vh;
}

.deck_header {
  @apply --font-header-dark;

  text-align: center;
  padding: 1rem 0;
}

.deck_row {
  @apply --center-children;
}
