@import '@opentrons/components';

.nav_bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.top_buttons > * {
  border-bottom: 2px solid var(--c-light-gray);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.bottom_buttons > * {
  border-top: 2px solid var(--c-light-gray);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
