@import '@opentrons/components';

.icon {
  vertical-align: middle;
  height: 1.25rem;
  margin-right: 2rem;
}

.icon_inline_text {
  display: inline-block;
  vertical-align: middle;
}

.sticky_bar {
  position: sticky;
  top: 0;
}

.title_wrapper {
  display: flex;
  align-items: center;
}

.beta_tag {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.75rem;
  padding: 0.4rem 0.5rem;
  color: var(--c-font-light);
  background-color: var(--c-med-gray);
  letter-spacing: 0.5px;
  border-radius: 0.3125rem;
}
