@import '@opentrons/components';

.icon {
  vertical-align: middle;
  height: 1.25rem;
  margin-right: 2rem;
}

.icon_inline_text {
  display: inline-block;
  vertical-align: middle;
}

.sticky_bar {
  position: sticky;
  top: 0;
}

.title_wrapper {
  display: flex;
  align-items: center;
}
