.heading_small_bold {
  @media not (height: 600px) and (width: 1024px) {
    font: 700 1.125rem/1.5rem 'Public Sans', sans-serif;
  }
}

.caption_bold {
  @media not (height: 600px) and (width: 1024px) {
    font: 700 0.8125rem/1rem 'Public Sans', sans-serif;
  }
}

.body_default_semi_bold {
  @media not (height: 600px) and (width: 1024px) {
    font: 600 0.875rem/1.25rem 'Public Sans', sans-serif;
  }
}

.small_body_text_bold {
  @media (height: 600px) and (width: 1024px) {
    font-size: var(--font-size-20);
    line-height: var(--font-height-24);
    font-weight: var(--font-weight-bold);
  }
}
