[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentrons-shared-data = { editable = true, path = "../../shared-data/python" }
opentrons-hardware = { editable = true, path = "../../hardware" }
opentrons = { editable = true, path = "../../api" }
pytest = ">=7.0.1,<8"
coverage = ">=5.1,<7"
pandas = ">=0.25.3,<=1.4.3"
pytest-asyncio = ">=0.18,<1"
pytest-cov = ">=2.10.1,<5"
pytest-lazy-fixture = ">=0.6.3,<1"
pytest-xdist = ">=2.2.1,<4"
mock = ">=4.0.3,<5"
decoy = ">=1.11.1,<2"
typeguard = ">=2.12.1,<3"
