.page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  width: 100%;
}

.section {
  width: 100%;
}

.user_management_section {
  padding: var(--spacing-24) var(--spacing-16);
  border-radius: var(--border-radius-8);
  box-sizing: border-box;
}
