@import '@opentrons/components';

.description {
  padding: 2rem 0;
}

/* TODO: Ian 2018-08-24 use some `title` prop of a yet-to-be-built modal component
   (AlertModal gets us 90% there) */
.header {
  @apply --font-header-dark;
}

.flow_rate_type_label {
  font-weight: var(--fw-semibold);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
