@import '@opentrons/components/styles';

.description {
  padding: 2rem 0;
}

/* TODO: Ian 2018-08-24 use some `title` prop of a yet-to-be-built modal component
   (AlertModal gets us 90% there) */
.header {
  font-size: var(--fs-header); /* from legacy --font-header-dark */
    font-weight: var(--fw-semibold); /* from legacy --font-header-dark */
    color: var(--c-font-dark); /* from legacy --font-header-dark */
}

.flow_rate_type_label {
  font-weight: var(--fw-semibold);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
