@import '@opentrons/components';

.card {
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

.list_column_titles {
  @apply --font-body-1-dark;

  padding: 1rem 1rem 0.5rem;
  text-transform: uppercase;
}

.item {
  @apply --font-body-2-dark;

  border-top: var(--bd-light);
  padding: 1rem;
}

.item_category_column,
.item_name_column,
.item_date_column {
  display: inline-block;
  vertical-align: top;
}

.item_category_column {
  text-align: right;
  width: 6rem;
}

.item_name_column {
  width: calc(100% - 14rem);
  padding-left: 1rem;
}

.item_date_column {
  width: 8rem;
}

.item_display_name,
.item_load_name {
  @apply --truncate;
}

.item_display_name {
  font-weight: var(--fw-semibold);
}
