.close_icon {
  border-radius: 50%;
}

.close_icon:hover {
    background: var(--grey-30);
}

.close_icon:active {
    background: var(--grey-35);
}

.copy_icon {
  transform: translateY(var(--spacing-4));
}

.copy_icon:hover {
  color: var(--blue-50);
}

.copy_icon:active,
.copy_icon:focus {
    color: var(--black-90);
}
