.footer {
  display: flex;
  padding: 0 var(--spacing-24) var(--spacing-24);
  gap: var(--spacing-8);
  justify-content: flex-end;
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  padding: var(--spacing-40);
  align-items: center;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: center;
  text-align: center;
}
