[flake8]

# max cyclomatic complexity
max-complexity = 9

extend-ignore =
    # defer formatting concerns to black
    # E203: space around `:` operator
    # E501: maximum line length
    E203,
    E501,
    # do not require type annotations for self nor cls
    ANN101,
    ANN102
    # do not require docstring for __init__, put them on the class
    D107,

# configure flake8-docstrings
# https://pypi.org/project/flake8-docstrings/
docstring-convention = google

noqa-require-code = true

# TODO(mc, 2021-04-12): this config ignores type annotation and doc
# string lints in these modules; remove entries as they are fixed
per-file-ignores =
    setup.py:ANN,D
    robot_server/settings.py:ANN,D
    robot_server/robot/*:D
    robot_server/service/*:D
    tests/integration/*:ANN,D
    tests/robot/*:ANN,D
    tests/service/*:ANN,D
    tests/conftest.py:ANN,D

# Ignore Python Protocol API files that are used as opaque test input.
extend-exclude =
    tests/integration/persistence_snapshots/
