[Unit]
Description=Opentrons Robot HTTP Server
Requires=nginx.service
After=nginx.service

[Service]
Type=notify
ExecStart=uvicorn robot_server.service.app:app --uds /run/aiohttp.sock --ws wsproto
# Stop the button blinking
ExecStartPost=systemctl stop opentrons-gpio-setup.service
Environment=OT_SMOOTHIE_ID=AMA RUNNING_ON_PI=true

[Install]
WantedBy=opentrons.target
