[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
c445fee = {editable = true,path = "./../api"}
pytest = "==6.1.0"
pytest-watch = "~=4.2.0"
pytest-cov = "*"
atomicwrites = {version = "*",sys_platform = "== 'win32'"}
requests = "*"
tavern = "==1.6.0"
pykwalify = "==1.7.0"
"289f143" = {editable = true, path = "./../shared-data/python"}
pytest-aiohttp = "*"
graphviz = "*"
mock = "~=4.0.2"
mypy = "==0.790.0"
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.1.0"

[packages]
uvicorn = "==0.11.3"
fastapi = "==0.54.1"
python-multipart = "==0.0.5"
python-dotenv = "*"
pydantic = "==1.4"
wsproto = "==0.15.0"
typing-extensions = "==3.7.4.3"
notify-server = {editable = true, path = "./../notify-server"}
