[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[dev-packages]
# pytest dependencies on windows, spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
atomicwrites = { version = "==1.4.0", markers="sys_platform=='win32'" }
colorama = { version = "==0.4.4", markers="sys_platform=='win32'" }
# pytest 7.3.0 dropped attrs, and tavern up to at least 2.x has some pytest hooks
# that implicitly require the use of attrs in pytest internals
pytest = "==7.2.2"
tavern = "==2.9.1"
pytest-asyncio = "~=0.23.0"
pytest-cov = "==4.1.0"
pytest-lazy-fixture = "==0.6.3"
pytest-xdist = "~=2.5.0"
hypothesis = ">=6.128,<7"
requests = "==2.27.1"
graphviz = "==0.19"
mock = "~=5.0.1"
mypy = "==1.11.0"
flake8 = "==7.0.0"
flake8-annotations = "~=3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
decoy = "==2.1.1"
httpx = "==0.26.0"
black = "==22.3.0"
types-requests = "~=2.27.1"
types-mock = "~=5.1.0"
sqlalchemy2-stubs = "==0.0.2a21"
# limited by tavern
python-box = "==6.1.0"
types-paho-mqtt = "==1.6.0.20240106"
pyusb = "==1.2.1"

[packages]
anyio = "==3.7.1"
aiohttp = "==3.8.1"
fastapi = "==0.100.0"
python-dotenv = "==1.0.1"
python-multipart = "==0.0.6"
pydantic = "==2.9.0"
typing-extensions = ">=4.0.0,<5"
uvicorn = "==0.27.0.post1"
wsproto = "==1.2.0"
systemd-python = { version = "==234", markers="sys_platform == 'linux'" }
idna = "==3.3"
click = "==8.1.2"
numpy = "==1.22.3"
zipp = "==3.5.0"
# breaking changes above this version of sqlalchemy
sqlalchemy = "==1.4.51"
opentrons-hardware = {editable = true, path='../hardware', extras=['FLEX']}
opentrons = { editable = true, path = "../api"}
opentrons-shared-data = { editable = true, path = "../shared-data/python" }
server-utils = {editable = true, path = "./../server-utils"}
performance-metrics = {editable = true, path = "../performance-metrics" }
robot-server = { editable = true, path = "."}
pydantic-settings = "==2.4.0"
# this is a dependency of jsonschema (which requires just >0.7.0).
# versions above 0.18.1 require a version of triomphe that requires a version of
# rust too new for openembedded
rpds-py = "==0.18.1"
