.main_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 6.25rem var(--spacing-40);
}

.main_wrapper--with_top_margin {
  margin-top: 7.75rem;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.input_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-24);
  align-items: center;
}

.input_field_wrapper {
  width: 42.625rem;
}

.keyboard_wrapper {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
