@import "vars";

@font-face {
	font-family: "trons";
	src: url("../fonts/Geogtq-Rg-webfont.woff2");
	font-weight: normal;
  	font-style: normal;
}

body {
	font-size: $basesize;
	line-height: $baseline;
	font-family: "trons" , sans-serif;
	margin: 0;
	color:$primary-text;
}

h1 {
	margin-top: 0;
	font-size: $basesize*2;
	font-weight: 100;
	line-height: $baseline*2;
	margin-bottom: $baseline;
}

h2 {
	margin-top: 0;
	font-weight: 100;
	font-size: $basesize*1.5;
	line-height: $baseline;
	margin-bottom: $baseline;
}

h3 {
	font-weight: 100;
	font-size: $basesize*1.5;
	margin-bottom: $baseline;
	line-height: $baseline*1.5;
}

//Wizard specific/////
h1.title {
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
}

h3.title {
    margin-top: 0;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 0;
}

h2.title {
    margin-top: 0;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
}
///////////////////////

p,li,blockquote,pre {
	font-family   : $stack-sans;
	font-size     : $basesize;
	line-height   : $baseline;
	margin: 0;
	padding: 0;
	//margin-bottom : $baseline;
}

p, label{
	margin-top    : 0;
	//margin-bottom : $gutter-width*2;
	line-height   : $baseline+ $gutter-width*2;
}

a {
	text-decoration: none;
	color: $primary-link;
}

button{
	padding:0;
	line-height: 40px;
}

ol {
	padding-left: 1.5em;
	list-style-type: decimal;
}

input, textarea{
	font-family: "trons" , sans-serif;
}