/* Typography */

$baseline: 30px;
$basesize: 12px;
$stack-sans: "trons", sans-serif;


/* Color Scheme */
$primary-black:rgba(40, 40, 50, 1); //black
$primary-brand: rgba(75, 97, 218, 1); //navy
$secondary-brand: rgba(10, 179, 186, 1); //teal
$call-to-action: rgba(250, 175, 66, 1); //mustard

/* Typography Specific*/

$primary-text: rgba(41, 30, 38, 1); //black
$primary-link: $secondary-brand;

/* Buttons */

$primary-btn: lighten( $primary-brand, 15%);
$secondary-btn: lighten( $secondary-brand, 15%);

/* Responsive Breakpoints */

$break-small: 768px;
$break-medium: 1024px;
$break-large: 1200px;