.container {
  padding: var(--spacing-16);
}

.heading_text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-28);
}

.play_button {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 12.5rem;
  background-color: var(--blue-50);
  cursor: pointer;
}

.play_button:active,
.play_button:hover {
  background-color: var(--blue-60);
}

.fast_button {
  width: 3rem;
  height: 3rem;
  border-radius: 12.5rem;
  background-color: var(--blue-30);
  cursor: pointer;
}

.fast_button:active,
.fast_button:hover {
  background-color: var(--blue-40);
}

.buttons {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
}

.controls_info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.all_controls_info {
  padding: var(--spacing-20);
  display: flex;
  justify-content: space-between;
}

.controls_container {
  padding: 0 var(--spacing-16);
  background-color: var(--white);
  width: 100%;
  border-radius: var(--border-radius-8);
}

.max_content_size {
  width: max-content;
}

.range_input {
  display: block;
  appearance: none;
  width: 100%;
  height: var(--spacing-4);
  background: transparent;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.range_input::-webkit-slider-runnable-track {
  height: var(--spacing-4);
  border-radius: var(--border-radius-2);
  background:
    linear-gradient(
      to right,
      var(--blue-50) 0%,
      var(--blue-50) var(--progress, 0%),
      #ccc var(--progress, 0%),
      #ccc 100%
    );
}

/* Hide thumb initially */
.range_input::-webkit-slider-thumb {
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--blue-50);
  margin-top: -4px;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Show thumb on hover/focus */
.range_input:hover::-webkit-slider-thumb,
.range_input:focus::-webkit-slider-thumb,
.range_input:active::-webkit-slider-thumb {
  opacity: 1;
}

.deck_view_container {
  width: 34.75rem;
  height: 100%;
  padding: 28px 32px;
  gap: var(--spacing-20);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
}

.detail_container {
  padding-right: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

.slot_container {
  padding-right: var(--spacing-16);
  width: 100%;
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
}

.command_step {
  background-color: var(--white);
  border-radius: var(--border-radius-8);
}

.command_step_header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-16);
}

.command_step_groups {
  overflow-y: scroll;
  height:
    calc(
      100vh - 248px
    ); /* 248px is height of the controls container + timeline header */
}

.slot_details {
  background-color: var(--white);
  border-radius: var(--border-radius-8);
  height: 100vh;
  overflow-y: scroll;
}

.preview_container {
  display: flex;
  height: calc(100vh - 170px); /* 170px is height of the controls container */
  padding-bottom: var(--spacing-16);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* fills the viewport */
}

.deck_view_padding {
  padding: 0 var(--spacing-12);
}

.align_deck_modules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module_copy {
  margin-bottom: 6rem;
}

.slot_details_active_step {
  padding: 0 var(--spacing-12) var(--spacing-12) var(--spacing-12);
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
}

.command_text_container {
  padding: 0 var(--spacing-16) var(--spacing-16) var(--spacing-16);
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
  height: 6.25rem;
}

.command_text {
  border-radius: var(--border-radius-4);
  background-color: #f4def7;
  padding: var(--spacing-8);
}

.loading_icon {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.slot_detail_header {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.module_details_status {
  display: flex;
  justify-content: space-between;
  padding-left: var(--spacing-16);
}

.module_details_status_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-4);
}

.labware_details_labware_display {
  justify-content: center;
  display: flex;
  background-color: var(--grey-20);
  padding: var(--spacing-16);
  border-radius: var(--border-radius-4);
}

.labware_details_liquid_info {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
}

.labware_details_liquid_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.well_details_speed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labware_details_all_liquids {
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
}

.labware_details_all_liquids_container {
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-16) var(--spacing-16) var(--spacing-16);
}

.well_details_speed_container {
  gap: var(--spacing-8);
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-16) var(--spacing-16) var(--spacing-16);
  height: 2rem;
}

.labware_details_padding {
  padding: 0 var(--spacing-16) var(--spacing-16) var(--spacing-16);
}

.labware_details_container {
  justify-content: center;
  display: flex;
  background-color: var(--grey-20);
  padding: var(--spacing-16);
  border-radius: var(--border-radius-4);
  flex-direction: column;
}

.slot_box {
  border: 3px solid black;
  border-radius: var(--border-radius-8);
  width: 127.76px; /* STANDARD_X_WIDTH */
  height: 85.48px; /* STANDARD_Y_HEIGHT */
  padding: var(--spacing-8);
  background-color: var(--grey-50);
}

.hovered_inactive_slot_box {
  background-color: var(--grey-60);
}

.active_slot_box {
  background-color: var(--purple-50-touchscreen);
}

.hovered_active_slot_box {
  background-color: var(--purple-60-touchscreen);
}

.well_details_caption_bottom {
  position: absolute;
  bottom: 0.7rem;
  right: 3.6rem;
}

.well_details_caption_side {
  position: absolute;
  bottom: 4rem;
  right: 0.8rem;
}

.well_detail_svg_container {
  position: relative;
  width: 10rem;
  height: 11rem;
  border-radius: var(--border-radius-4);
  background-color: var(--grey-20);
  overflow: hidden;
}

.well_detail_svg_positioning {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: var(--spacing-6);
}

.empty_state_box {
  width: 100%;
  height: 8.330625rem;
  background-color: var(--grey-10);
  border-radius: var(--border-radius-4);
}

.empty_state_box_container {
  padding: 0 var(--spacing-12);
}
