{
  "presets": [
    ["env", {"modules": false}],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    }
  }
}
