/* stylesheet for InstrumentSettings components */
@import '@opentrons/components';

.pipette_diagram {
  height: 100%;
  padding: 0 0 0.5rem;
  text-align: center;

  & * {
    height: 100%;
    width: auto;
  }
}
