.main_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-12);
}

.header_container {
  display: flex;
  justify-content: flex-start;
}

.header_container_user {
  justify-content: flex-end;
}

.header_container_ai {
  justify-content: flex-start;
}

.message_container {
  position: relative;
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: var(--spacing-24);
  border-radius: var(--spacing-12);
  gap: var(--spacing-24);
  overflow-y: auto;
}

.message_container_user {
  align-self: flex-end;
  background-color: var(--blue-30);
}

.message_container_ai {
  align-self: flex-start;
  background-color: var(--grey-30);
}

.actions_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: var(--spacing-12);
  gap: var(--spacing-20);
}

.hover_shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-8);
  border-radius: var(--border-radius-8);
  transition: box-shadow 0.3s ease;
}

.hover_shadow:hover {
  border-radius: var(--border-radius-8);
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.styled_icon {
  color: var(--blue-50);
}

.open_in_new_icon {
  padding: var(--spacing-2) 0 0 var(--spacing-4);
}

.external_link {
  color: var(--blue-50);
}

.list_item {
  margin-left: var(--spacing-16);
}

.outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-16);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
}

.file_container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: var(--border-radius-12);
  background-color: var(--grey-20);
}

.badge_container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-30);
  gap: var(--spacing-12);
}

.icon_wrapper {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.button_container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.file_name {
  font-size: var(--font-size-13);
}

.code_wrapper {
  display: inline-flex;
  overflow: auto;
  padding: var(--spacing-4);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-20);
  color: var(--black-80);
  font-family: monospace;
}

.content_wrapper {
  width: 100%;
}

.attachments_container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-8);
}
