@import '../..';

.labware_detail_group {
  fill: none;
  stroke: var(--c-black);
  stroke-width: 1;
}

.labware_outline {
  fill: var(--c-white);
  stroke: var(--c-black);
}

.tiprack_outline {
  fill: var(--c-plate-bg);
  stroke: var(--c-charcoal);
}

.tip {
  fill: var(--c-white);
  stroke: var(--c-near-black);
  stroke-width: 0.6;
}
