@import '../..';

.default_well {
  fill: var(--c-white);
  stroke: var(--c-black);

  /*
   * TODO(mc, 2019-03-28): align this value with components library; 0.4 looks
   *   a little too small on retina at labware library sizes and especially too
   *   small in the thumbnails
   */
  stroke-width: 0.6;
}
