@import '@opentrons/components';

.system_update_modal {
  padding: 0 1rem;

  & > p {
    margin-bottom: 1rem;
  }
}

.system_update_warning {
  font-weight: var(--fw-semibold);
}

.view_update_button {
  width: auto;
  min-width: 10rem;
  padding: 0.5rem 1.5rem;
}

.version_list {
  @apply --font-body-1-dark;

  margin: 0 0 1.5rem 2rem;
}

.sync_message {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.reinstall_message {
  margin-left: 1rem;
}

.download_message,
.update_title {
  font-weight: var(--fw-semibold);
}

.download_error,
.update_message {
  font-style: italic;
}

.progress_bar_container {
  position: relative;
  height: 1.75rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: solid 2px var(--c-dark-gray);
  text-align: right;
}

.progress_bar {
  position: absolute;
  top: 0;
  height: 100%;
  border: solid 2px var(--c-white);
  border-radius: 3px;
  background-color: #006cfa;
  transition: width ease-in-out 0.5s;
}

.progress_text {
  line-height: 1.75;
  padding: 0.5rem 0.25rem;
  position: relative;
  z-index: 99;
  color: var(--c-med-gray);
}

.progress_spinner {
  height: 2rem;
  margin-bottom: -0.5rem;
}

.progress_spinner span {
  transition: all 500ms ease;
  background: #006cfa;
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  animation: wave 2s ease infinite;
  margin-right: 0.5rem;
}

.progress_spinner span:nth-child(1) {
  animation-delay: 0;
}

.progress_spinner span:nth-child(2) {
  animation-delay: 100ms;
}

.progress_spinner span:nth-child(3) {
  animation-delay: 200ms;
}

.progress_spinner span:nth-child(4) {
  animation-delay: 300ms;
}

.progress_spinner span:nth-child(5) {
  animation-delay: 400ms;
}

.progress_spinner span:nth-child(6) {
  animation-delay: 500ms;
}

.progress_spinner span:nth-child(7) {
  animation-delay: 600ms;
}

.progress_spinner span:nth-child(8) {
  animation-delay: 700ms;
}

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(0, -1rem);
  }
}
