@import '@opentrons/components';

.connect_modal_copy {
  margin: 0 1rem 1rem;
}

.wifi_dropdown {
  max-width: 16.875rem;
}

.wifi_option {
  @apply --font-body-1-dark;

  width: 100%;
  display: flex;
}

.wifi_name,
.wifi_join_other {
  flex-basis: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wifi_option_icon,
.wifi_option_icon_right {
  flex: none;
  height: 1rem;
  width: 1rem;
}

.wifi_option_icon {
  padding-right: 0.25rem;
}

.wifi_option_icon_right {
  padding-left: 0.25rem;
}

.wifi_join_other {
  padding-left: 1rem;
}

.form_table {
  display: table;
  width: 80%;
  margin-top: 0.5rem;

  & input,
  & label,
  & select {
    font-size: var(--fs-body-1);
  }
}

.form_table_row {
  display: table-row;
}

.form_table_input,
.form_table_label {
  display: table-cell;
}

.form_table_input {
  padding-bottom: 0.75rem;
}

.form_table_input_no_label {
  margin-top: -0.325rem;
  padding-bottom: 0.5rem;
}

.form_table_label {
  padding-right: 1rem;
  font-weight: var(--fw-semibold);
  text-align: right;
}

.wifi_add_key_input {
  /* copied from components/src/forms/forms.css > .accessibly_hidden */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form_field_select {
  min-width: 12rem;
}
