body{
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  height: 768px;
}

@font-face {
    font-family: 'trons';
    src: url('./fonts/Geogtq-Rg-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sans';
    src: url('./fonts/OpenSans-Regular-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}
