<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta name='description' content='{{htmlWebpackPlugin.options.description}}'>
  <meta name='author' content='{{htmlWebpackPlugin.options.author.name}}'>
  <title>{{htmlWebpackPlugin.options.title}}</title>

  <script src="http://cdn.auth0.com/js/lock/10.14.0/lock.min.js"></script>

  {{! Google Tag Manager }}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2569M8');</script>
  {{! End Google Tag Manager }}

  {{! Intercom }}
  <!-- <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/bsgvg3q7';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script> -->
  {{! End Intercom }}
</head>

<body>
  {{! Google Tag Manager (noscript) }}
  <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-T2569M8' height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
  {{! End Google Tag Manager (noscript) }}

  <div id='root'></div>
</body>
</html>
