@import '@opentrons/components';

.inverted_text {
  font-size: var(--fs-body-2);
  color: var(--c-white);
}

.top_row {
  lost-utility: clearfix;
  padding: 0 1rem;

  & > * {
    lost-column: 1/3;

    &:last-child {
      lost-offset: 1/3;
    }
  }
}

.bottom_row {
  padding-top: 2rem;
  text-align: center;
}
