.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.content_container {
  display: flex;
  gap: var(--spacing-24);
}

.controls_section_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.controls_section_text_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.save_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-10);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-10);
}

.footer_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.settings_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--spacing-16);
  border: 1px solid var(--grey-30);
  border-radius: var(--border-radius-4);
  gap: var(--spacing-16);
}

.zoom_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.zoom_text_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.zoom_btn_container {
  display: flex;
  gap: var(--spacing-8);
}

.zoom_btn {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-8);
  border-radius: var(--border-radius-8);
  background: white;
  cursor: pointer;
  gap: var(--spacing-2);
}

.zoom_btn_txt {
  color: var(--grey-60);
}

.zoom_btn_txt_active {
  color: var(--blue-50);
}

.zoom_btn_txt_inactive {
  color: var(--black-90);
}

.zoom_btn_inactive {
  border: 1px solid var(--grey-30);
}

.zoom_btn_active {
  border: 1px solid var(--blue-50);
}
