.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_container {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: var(--spacing-4);
}

.title_row {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
