@import '@opentrons/components/styles';

.alert_inner_wrapper {
  display: flex;
  align-items: center;
  max-width: calc(55rem - 2.25rem); /* max width matches StepEditForm form_wrapper */
}

.alert_body {
  flex: 1;
  margin: 0 1.5rem;
}

.alert_title {
  font-weight: var(--fw-semibold);
}

.alert_description {
  font-weight: var(--fw-regular);
  line-height: var(--lh-copy);
  padding-top: 0.5rem;

  &:empty {
    /* do not add padding when there is no description */
    display: none;
  }
}

.icon_label {
  flex: 1;
  max-width: 4rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.dismiss_button {
  flex: 1;
  max-width: 6rem;
  color: currentColor;
  border-color: currentColor;
}
