/* top navbar styles */
@import '@opentrons/components/styles';
@import '../../styles/breakpoints.module.css';
@import '../../styles/shadows.module.css';
@import '../../styles/spacing.module.css';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

/* TODO (ka 20194-16): Keeping wrapper and containers separate
from individual navigation components so that responsive margins and padding
are project specific  */

.subdomain_nav_wrapper {
  display: none;
}

.main_nav_wrapper {
  width: 100%;
  height: var(--size-mobile-nav);
  background-color: var(--c-white);
  border-bottom: var(--bd-light);
}

.nav_container {
  width: 100%;
  height: 100%;
  padding: var(--spacing-1) var(--spacing-2);
}

.breadcrumbs {
  position: fixed;
  top: var(--size-mobile-nav);
  left: 0;
  right: 0;
  z-index: 888;
  width: 100%;
  font-size: var(--fs-default);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-copy);
  background-color: var(--c-lightest-gray);
}

.breadcrumbs_contents {
  display: flex;
  align-items: center;
  height: var(--size-2);
  padding: 0 var(--spacing-5);
  overflow: visible;
}

.breadcrumbs_link {
  @apply --transition-color;

  color: var(--c-blue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:active {
    color: color-mod(var(--c-blue) alpha(0.6));
  }
}

.breadcrumbs_separator {
  flex: none;
  margin: 0 var(--spacing-2);
}

@media (--medium) {
  .breadcrumbs {
    top: var(--size-main-nav);
  }

  .main_nav_wrapper {
    height: var(--size-main-nav);
  }

  .nav_container,
  .breadcrumbs_contents {
    padding-left: var(--spacing-7);
    padding-right: var(--spacing-7);
  }
}

@media (--large) {
  .subdomain_nav_wrapper {
    display: block;
    width: 100%;
    height: var(--size-subdomain-nav);
    background-color: var(--c-white);
    border-bottom: var(--bd-light);
  }

  .main_nav_wrapper {
    border: none;
    box-shadow: var(--shadow-1);
  }

  .breadcrumbs {
    top: var(--size-total-nav);
  }

  .nav_container,
  .breadcrumbs_contents {
    margin: auto;
    max-width: var(--screen-width-xlarge);
  }
}
