/* top navbar styles */
@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/shadows.css';
@import '../../styles/spacing.css';

.nav {
  position: fixed;
  width: 100%;
  height: var(--size-2);
  z-index: 999;
  background-color: var(--c-white);
  box-shadow: var(--shadow-1);
}

.nav_contents {
  width: 100%;
  height: 100%;
  padding: var(--spacing-1) var(--spacing-2);
}

.logo {
  height: 100%;
}

@media (--large) {
  .nav_contents {
    margin: auto;
    width: var(--screen-width-large);
  }
}
