@import '@opentrons/components';

.setup_panel {
  & > * {
    margin: 0.5rem 0 1.5rem;
  }
}

.labware_item {
  display: flex;
  align-items: flex-start;
}

.item_info {
  flex: 1;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.active {
  color: var(--c-highlight);
  background-color: var(--c-bg-selected);
}

.item_info_location {
  flex: none;
  width: 2.5rem;
  margin-right: 1rem;
}

.tiprack_item_mount {
  flex: none;
  font-weight: var(--fw-semibold);
  margin-right: 1rem;
}

.labware_item_name {
  @apply --truncate;

  width: 100%;
}

.module_name {
  @apply --truncate;

  width: 100%;
  text-transform: uppercase;
}

.slot_contents_names {
  @apply --truncate;

  display: flex;
  flex-direction: column;
}

/*
 * TODO(mc, 2019-07-11): Copy-pasted from components/src/lists/lists.css
 * as a workaround to fix HoverTooltip not working on ListItems due to
 * pointer-events: none
 */

.disabled * {
  color: var(--c-font-disabled);
}

.item_info_tooltip {
  @apply --font-body-1-light;

  & > p:first-child {
    font-weight: var(--fw-semibold);
    margin-bottom: 0.5rem;
  }
}
