.new_secondary_btn {
  display: inline-block;
  padding: var(--spacing-8) var(--spacing-16);
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: var(--border-radius-2);
  background-color: var(--white);
  color: var(--blue-50);
  cursor: pointer;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.new_secondary_btn:hover,
.new_secondary_btn:focus {
  border-width: 2px;
  background-color: var(--white);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  color: var(--blue-50);
}

.new_secondary_btn:active {
  border-width: 2px;
  background-color: var(--white);
  box-shadow: none;
  color: #004aaa;
}

.new_secondary_btn:disabled,
.new_secondary_btn.disabled {
  border-width: 2px;
  background-color: var(--white);
  box-shadow: none;
  color: #9c9c9c;
}
