{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "flow",
    ["env", {"modules": "commonjs"}]
  ]
}
