.navbar {
  display: flex;
  width: 5.625rem;
  height: 100vh;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-90);
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: var(--line-height-20);
}

.nav_container {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.logo_img {
  align-self: center;
  padding: var(--spacing-24) 0;
}

.navbar_link {
  display: block;
  height: 2.25rem;
  align-self: stretch;
  background-color: var(--black-90);
  color: var(--white);
  text-decoration: none;
}

.navbar_link:hover {
  background-color: var(--black-80);
}

.navbar_link:focus-visible {
  background-color: var(--grey-60);
  box-shadow: inset 0 0 0 3px var(--blue-50);
  outline: none;
}

.navbar_link:active {
  background-color: var(--black-90);
}

/* Use global selector for React Router's active class */
.navbar_link:global(.active) {
  background-color: var(--black-70);
}

.navbar_link:global(.active):focus-visible {
  box-shadow: none;
  outline: none;
}

.navbar_link.active:has(svg) {
  background-color: var(--black-90);
}

.nav_link_text {
  padding: var(--spacing-8) 0 var(--spacing-8) var(--spacing-12);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height-20);
}

.bottom_container {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
  margin-bottom: var(--spacing-8);
}

.nav_icon_link {
  display: inline-block;
}

.icon_link {
  display: inline-block;
}

.navbar_icon {
  width: 2rem;
  height: 2rem;
  padding: var(--spacing-6);
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--grey-30);
  cursor: pointer;
}

.navbar_icon:hover {
  background-color: var(--black-80);
}

.navbar_icon:focus-visible {
  background-color: var(--grey-60);
  box-shadow: inset 0 0 0 3px var(--blue-50);
  outline: none;
}

.navbar_icon:active {
  background-color: var(--black-90);
  color: var(--grey-30);
}

.navbar_icon.active {
  background-color: var(--black-70);
  color: var(--grey-30);
}

.nav_icon_link.active > .navbar_icon {
  background-color: var(--black-70);
  color: var(--grey-30);
}

.icon_link.active > .navbar_icon {
  background-color: var(--black-70);
  color: var(--grey-30);
}
