.submitButton {
  background-color: var(--blue-50);
  border-radius: var(--border-radius-8);
  padding: var(--spacing-8) var(--spacing-16);
  color: var(--white);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-16);
  width: 100%;
  border: none;
}

.submitButton:focus-visible {
  box-shadow: 0 0 0 3px var(--yellow-50);
}

.submitButton:hover {
  background-color: var(--blue-55);
  box-shadow: 0 0 0;
}

.submitButton:active {
  background-color: var(--blue-60);
}

.submitButton:disabled {
  background-color: var(--grey-30);
  color: var(--grey-40);
}
