@import '@opentrons/components/styles';

.liquid_icon_container {
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  border-radius: 4px;
  background-color: var(--c-white);
  height: 2.25rem;
  padding: 0.5rem;
}
