@import '@opentrons/components';

.module_review_icon {
  color: var(--c-white);
  margin: 0 0.25rem 0 0;
  height: 12px;
  width: 12px;
}

.module_review_icon_missing {
  color: var(--c-red);
  margin-top: 0.2rem;
}

.module_review_icon_present {
  color: var(--c-green);
  margin-top: 0.2rem;
}

.module_name_overlay {
  color: var(--c-black);
  opacity: 0.7;
}

.module_connect_info_wrapper {
  display: flex;
  flex-direction: row;
  font-size: 0.5rem;
  color: var(--c-white);
}
