[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[dev-packages]
server-utils = { editable = true, path = "." }
# pytest dependencies on windows, spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
atomicwrites = { version = "==1.4.0", markers="sys_platform=='win32'" }
colorama = { version = "==0.4.4", markers="sys_platform=='win32'" }
pytest = "==7.4.4"
pytest-asyncio = "~=0.23.0"
pytest-cov = "==4.1.0"
pytest-lazy-fixture = "==0.6.3"
pytest-xdist = "~=2.5.0"
requests = "==2.31.0"
mock = "==5.1.0"
mypy = "==1.8.0"
flake8 = "==7.0.0"
flake8-annotations = "==3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
decoy = "==2.1.1"
httpx = "==0.18.*"
black = "==22.3.0"
types-requests = "~=2.31.0"
types-mock = "~=5.1.0"
sqlalchemy2-stubs = "==0.0.2a21"
# the same version as robot-server, which is limited by tavern
python-box = "==6.1.0"

[packages]
idna = "==3.3"
