@import url('@fontsource/public-sans');
@import url('@fontsource/public-sans/600.css');
@import url('@fontsource/public-sans/700.css');

:root {
  --font-family-main: 'Public Sans', 'DejaVu Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-main);
  color: var(--black-90);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:focus,
button:active {
  outline: 0;
}
