/* from createGlobalStyle */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main), 'DejaVu Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--black-90);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:focus,
button:active {
  outline: 0;
}
