.deck_map {
  flex: 1;
}

.labware_ui_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.confirm_crash_modal {
  max-width: 64rem;
  padding: 1rem;
}

.select_tiprack_menu :global(.ot_select__menu) {
  overflow: scroll;
  max-height: 200px;
}
