@import '@opentrons/components';

.continue_button {
  margin-left: 1rem;
}

.cause {
  font-weight: var(--fw-semibold);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.cause_effect_item {
  margin: 1rem 0;
}

.cause_effect_list {
  margin-left: 2rem;
}
