/* This file intentionally left blank. */
div.body p{
	line-height: 20pt;
}

div.body h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 2.4em;
    min-height: 78px;
    
}

div.body h1 + p{
	padding-top: 24px;
}

div.sphinxsidebar h2, 
div.sphinxsidebar h3, 
div.sphinxsidebar h4,
div.sphinxsidebar h5,
div.sphinxsidebar h6,
div.body h2, 
div.body h3, 
div.body h4, 
div.body h5 {
	font-family: Open Sans;
}

div.sphinxsidebar h3 a,  
div.sphinxsidebar h3 a:hover,
div.body h2{
	font-size: 22px;
}

@media screen and (max-width: 875px), (max-device-width: 768px) {

    body {
        margin: 0;
        padding: 20px 30px;
    }

    div.documentwrapper {
        float: none;
        background: #fff;
        text-align: center;
    }

    div.sphinxsidebar {
        display: block;
        float: none;
        width: 102.5%;
        margin: -20px -30px 20px -30px;
        padding: 10px 20px;
        background: #FFF;
        color: #111;
    }

    div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p,
    div.sphinxsidebar h3 a {
        color: #111;
    }

    div.sphinxsidebar a {
        color: #111;
    }

    div.sphinxsidebar p.logo {
        display: inline-block;
    }

    div.document {
        width: 100%;
        margin: 0;
    }

    div.footer {
        display: none;
    }

    div.bodywrapper {
        margin: 0;
    }

    div.body {
        min-height: 0;
        padding: 0;
    }

    .rtd_doc_footer {
        display: none;
    }

    .document {
        width: auto;
    }

    .footer {
        width: auto;
    }

    .footer {
        width: auto;
    }

    .github {
        display: none;
    }
}
