@import '@opentrons/components';

.deck {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 100%;
}

.disabled {
  opacity: 0.4;
}

.labware_wrapper {
  /* reflect horizontally about the center of the DOM elem */
  transform: scale(1, -1);
}

.highlighted {
  fill: none;
  stroke: var(--c-highlight);
  stroke-width: 2.5;
}

.labware_ui_wrapper {
  height: 100%;
  width: 100%;
}

.labware_ui_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.highlighted_border_div {
  border-color: var(--c-highlight);
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
}

.labware_spinner_wrapper {
  background-color: color-mod(var(--c-black) alpha(0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  border-radius: 3px;
}

.spinner {
  color: var(--c-font-light);
  width: 60%;
}

.name_overlay {
  font-size: 0.5rem;
  color: var(--c-font-light);
  background-color: color-mod(var(--c-black) alpha(0.75));
  padding: 0.25rem;
  border-radius: 0 0 3px 3px;
}

.display_name {
  @apply --truncate;

  font-weight: var(--fw-semibold);
  color: var(--c-font-light);
  text-transform: uppercase;
}

.subtitle {
  @apply --truncate;

  color: var(--c-font-light);
}
