.detail_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  container-type: inline-size;
  container-name: detail-container;
}

.command_step {
  border-radius: var(--border-radius-8);
  background-color: var(--white);
}

.command_step_header {
  display: flex;
  padding: var(--spacing-16);

  flex-direction: column;
  gap: var(--spacing-8, 8px);
}

@container detail-container (min-width: 273px) {
  .command_step_header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset; /* reset the gap */
  }
}

.command_step_groups {
  height: 39rem;
  min-height: 0;
  flex: 1;
  overflow-y: auto;
}
