@import '@opentrons/components/styles';

.error_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.error_text {
  color: var(--c-med-gray);
  font-size: 60%;
  padding: 0 1rem;
  text-align: center;
}
