@import '@opentrons/components/styles';

.option_row {
  display: flex;
  align-items: center;
  height: 2rem;
}

.option_image {
  flex: 1;
  object-fit: contain;
  padding-right: 1rem;
}

.option_label {
  flex: 2;
}
