@import '@opentrons/components/styles';

.disabled {
  color: var(--c-font-disabled);
}

.field_wrapper {
  margin: 1rem 0;
}

.field_label {
  margin-bottom: 0.375rem;
  font-size: var(--fs-body-1);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-copy);
}
