@import '@opentrons/components';

.upload_group {
  width: 75%;
  margin: 0 auto;
}

.upload {
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
}

.file_input {
  position: fixed;
  clip: rect(1px 1px 1px 1px);
}

.upload_button {
  display: block;
  margin: 0 auto;
  width: 17rem;
}

.file_drop {
  @apply --font-body-1-dark;

  display: block;
  width: 11rem;
  padding: 1rem 2rem 2rem;
  margin: 0 auto;
  border: 2px dashed silver;
  border-radius: 6px;
  color: var(--c-med-gray);
  text-align: center;
}

.file_drop_icon {
  display: block;
  margin: 2rem auto 1rem;
  width: 2rem;
}
