@import '@opentrons/components/styles';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.analytics_modal {
  @apply --font-body-2-dark;

  /* NOTE: this z-index must beat the Nav z-index! */
  z-index: 9999;

  & h2 {
    @apply --font-default-dark;

    line-height: var(--lh-title);
    font-weight: var(--fw-semibold);
    padding-bottom: 1rem;
  }

  & p {
    line-height: var(--lh-copy);
  }
}

.page_wrapper {
  height: 100%;

  /* nav height plus breadcrumbs */
  padding-top: calc(var(--size-mobile-nav) + var(--size-breadcrumb-nav));

  & h2 {
    font-size: var(--fs-header); /* from legacy --font-header-dark */
    font-weight: var(--fw-semibold); /* from legacy --font-header-dark */
    color: var(--c-font-dark); /* from legacy --font-header-dark */
  }
}

@media (--medium) {
  .page_wrapper {
    padding-top: calc(var(--size-main-nav) + var(--size-breadcrumb-nav));
  }
}

@media (--large) {
  .page_wrapper {
    padding-top: calc(var(--size-total-nav) + var(--size-breadcrumb-nav));
  }
}
