@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/spacing.css';

.page_wrapper {
  height: 100%;

  /* nav height plus breadcrumbs */
  padding-top: calc(var(--size-mobile-nav) + var(--size-breadcrumb-nav));

  a,
  a:visited {
    color: var(--c-blue);
  }
}

@media (--medium) {
  .page_wrapper {
    padding-top: calc(var(--size-main-nav) + var(--size-breadcrumb-nav));
  }
}

@media (--large) {
  .page_wrapper {
    padding-top: calc(var(--size-total-nav) + var(--size-breadcrumb-nav));
  }
}
