@import '@opentrons/components';

.diagrams {
  display: flex;
  align-items: baseline;
}

.tiprack_labware {
  flex: 3;
  margin: 0;
}

.left_pipette,
.right_pipette {
  flex: 1;
}

.left_pipette {
  text-align: right;
  padding-right: 1rem;
}

.new_file_modal {
  line-height: 1.5;
  height: 100%;
  padding: 2rem;
  min-height: 38rem;

  /* override default modal top/bottom to allow scroll */
  bottom: auto;
}

.new_file_modal_contents {
  /* override the position relative of default modal style to allow another modal's overlay to take up entire space */
  position: static;
  border-radius: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new_file_modal_title {
  @apply --font-header-dark;

  margin-bottom: 1rem;
}

.beta_restrictions {
  @apply --font-body-2-dark;

  margin: 1rem 0;
}

.button {
  margin: 0 0 0 1rem;
}

.protocol_file_group {
  margin-bottom: 2rem;
}

.mount_fields_row {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-body-1);
}

.mount_column {
  flex-grow: 1;
}

.mount_column:first-child {
  margin-right: 0.5rem;
}

.protocol_modules_group {
  margin-top: 2rem;
}

.modules_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hide_thermo {
  justify-content: flex-start;
}

.module_form_group {
  width: 30%;
  margin: 0.5rem;

  & img {
    max-width: 6rem;
    width: 100%;
    height: auto;
  }
}

.module_model {
  height: 3rem;
}
