/* style sheet for module settings card on instrument settings page */
@import '@opentrons/components';

.modules_description {
  @apply --font-body-2-dark;

  margin: 0.5rem 0;
}

.module_item {
  padding: 1.5rem 1rem 0;
  border-bottom: 1px solid var(--c-light-gray);

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.module_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.module_image_wrapper {
  flex-basis: 25%;
  padding-right: 0.5rem;
}

.module_image {
  width: 100%;
}

.module_info {
  flex-basis: 65%;
}

.grid_50 {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 2rem);
  margin: 0 1rem;

  & > div {
    margin-bottom: 2rem;
  }
}

.module_update_wrapper {
  flex-basis: 20%;
  padding-top: 4.5rem;
}

.module_update_button {
  width: 8rem;
}