/* stylesheet for AppSettings components */
@import '@opentrons/components';

:root {
  --app_settings_card_spacing: 0.75rem;
}

.app_settings {
  padding: 1.5rem;
}

.row {
  width: 100%;
  margin-bottom: var(--app_settings_card_spacing);
}
