@import '..';

.navbar {
  flex: none;
  position: relative;
  width: 3.75rem;
  height: 100%;
  background-color: var(--c-bg-light);
  border-right: var(--bd-light);
}

/* TODO(mc, 2018-03-21): @apply --button-default? */
.button {
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
  border-bottom: var(--bd-light);
  cursor: pointer;
  color: var(--c-med-gray);
}

.title {
  display: block;
  color: var(--c-font-dark);
  font-size: var(--fs-caption);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
}

/*
TODO(ka 1-8-2018) this only works for single bottom item,
revisit once we have a need for more than one icon aligned to bottom.
*/
.bottom {
  position: absolute;
  bottom: 0;
  justify-self: flex-end;
  border-bottom-width: 0;
  border-top: var(--bd-light);

  & > .title {
    margin-bottom: 0.5rem;
  }
}

.button[disabled],
.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.active {
  background-color: var(--c-med-gray);
  color: #000;

  & > svg {
    fill: #000;
  }
}

.icon {
  max-width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem 0;
  color: var(--c-med-gray);
}

.no_link {
  text-decoration: none;
  color: inherit;
}
