@import '..';

.navbar {
  flex: none;
  position: relative;
  width: 5rem;
  height: 100%;
  background-color: var(--c-bg-light);
  border-right: var(--bd-light);
}

.button {
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
  border-bottom: var(--bd-light);
  cursor: pointer;
  padding: 1rem;
  color: var(--c-med-gray);
}

.title {
  display: block;
  color: --c-font-dark;
  font-size: --fs-caption;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0.25rem;
}

/*
TODO(ka 1-8-2018) this only works for single bottom item,
revisit once we have a need for more than one icon aligned to bottom.
*/
.bottom {
  position: absolute;
  bottom: 0;
  justify-self: flex-end;
  border-bottom-width: 0;
  border-top: var(--bd-light);
  padding-top: 0.5rem;

  & > .title {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }
}

.button[disabled] {
  opacity: 0.3;
  cursor: default;
}

.active {
  background-color: var(--c-med-gray);
  color: #000;

  & > svg {
    fill: #000;
  }
}

.icon {
  max-width: 100%;
  height: 100%;
  color: var(--c-med-gray);
}
