@import '..';

:root {
  --sidebar-width: 18.25rem;
}

.panel {
  flex-shrink: 0;
  overflow: visible;
  border-right: var(--bd-light);
  background-color: var(--c-bg-light);
  position: relative;
  padding: 0 4px;
}

.title_bar {
  display: flex;
  align-items: center;
  width: var(--sidebar-width);
}

.title {
  @apply --font-header-dark;

  margin: 1rem auto;
}

.panel_contents {
  width: var(--sidebar-width);
  height: calc(100vh - 3.5rem);
  overflow-x: hidden;
  overflow-y: auto;
}
