@import '..';

:root {
  --sidebar-width: 18.25rem;
}

.panel {
  flex-shrink: 0;
  overflow: hidden;
  border-right: var(--bd-light);
  background-color: var(--c-bg-light);
  transition: all 0.5s ease-in-out;
  position: relative;
  padding: 0 4px;
}

.closed {
  width: 0;
  border-right-width: 0;
}

.title_bar {
  display: flex;
  align-items: center;
  width: var(--sidebar-width);
}

.title {
  @apply --font-header-dark;

  margin: 1rem auto;
}

.panel_contents {
  width: var(--sidebar-width);
  height: calc(100vh - 2.625rem);
  overflow-x: hidden;
  overflow-y: auto;
}

/*
 * TODO(mc, 2018-01-16): need a little extra specificity here to survive
 * hot reloads. Try to figure out why that's the case.
 */
button.button_close {
  width: 2.5rem;
}
