@value light_grey, grey from '../App.global.css';
@value border: 2px solid grey;

.navbar {
  flex: none;
  position: relative;
  width: 5rem;
  height: 100%;
  background-color: light_grey;
  border-right: border;
}

