@import '../../..';

.labware_outline {
  fill: var(--c-white);
  stroke: var(--c-black);
}

.tiprack_outline {
  fill: var(--c-plate-bg);
  stroke: var(--c-charcoal);
}

.hover_outline {
  stroke: #006cfa;
  filter: drop-shadow(0 0 3px rgba(0, 108, 250, 1));
}
