/* branded website navbar styles */
@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/shadows.css';
@import '../../styles/spacing.css';

:root {
  --c-nav-gray: #707070;
  --spacing-subdomain: 2.5rem;
  --spacing-nav: 1.75rem;
  --spacing-submenu: 1.75rem;
  --spacing-link: 1.25rem;

  --dropdown-base: {
    position: absolute;
    top: 4.25rem;
    background-color: var(--c-white);
    border-radius: var(--bd-radius-default);
    border: var(--bd-light);
  }

  --dropdown-caret-after: {
    content: '';
    position: absolute;
    bottom: 100%;
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent var(--c-lightest-gray) transparent;
    z-index: 10;
  }

  --dropdown-caret-before: {
    content: '';
    position: absolute;
    bottom: 100%;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent var(--c-white) transparent;
    z-index: 20;
  }

  --link-text: {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-body-2);
    cursor: pointer;
  }

  --bottom-link: {
    height: 3.5rem;
    border-top: var(--bd-light);
    color: var(--c-blue);
    font-weight: var(--fw-semibold);
  }

  --bd-button: var(--bd-width-default) solid var(--c-blue);
}

.subdomain_nav_contents {
  @apply --flex-end;

  width: 100%;
  height: 100%;
}

.subdomain_link {
  margin-left: var(--spacing-subdomain);
  font-size: var(--fs-body-1);
  color: var(--c-nav-gray);
  text-transform: capitalize;
  cursor: pointer;
}

.main_nav_contents {
  @apply --flex-between;

  height: 100%;
  width: 100%;
  padding: var(--spacing-5) 0;
}

.logo {
  height: 100%;
}

.nav_list {
  display: none;
}

.nav_link {
  @apply --link-text;
  @apply --transition-color;

  position: relative;
  padding: 2rem var(--spacing-nav);
  color: var(--c-nav-gray);

  &:hover {
    color: var(--c-black);
  }

  &:last-child {
    padding-right: 0;
  }
}

.active {
  color: var(--c-black);
}

.clickable_icon {
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

.dropdown_small {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  left: 0;
  width: 16rem;

  &::after {
    @apply --dropdown-caret-after;

    left: 10%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 10.7%;
  }
}

.dropdown_medium {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  left: -11rem;
  width: 27rem;

  &::after {
    @apply --dropdown-caret-after;

    left: 47.75%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 48%;
  }
}

.dropdown_large {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  right: -0.125rem;
  width: 46rem;
  display: flex;

  &::after {
    @apply --dropdown-caret-after;

    left: 86.75%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 87%;
  }
}

.dropdown_content {
  display: flex;
  padding: var(--spacing-submenu);
  padding-bottom: var(--spacing-1);
}

.dropdown_col {
  flex: 1 1 var(--size-50p);
}

.link_group {
  line-height: 1.25rem;
  margin: 0 var(--spacing-link) var(--spacing-link) 0;
}

.support_menu {
  padding: var(--spacing-submenu);
  padding-bottom: var(--spacing-1);
  flex: 1 1 var(--size-two-thirds);
}

.support_content {
  display: flex;
}

.sales_menu {
  padding: var(--spacing-submenu);
  border-left: var(--bd-light);
  flex: 1 1 var(--size-third);
}

.submenu_title {
  @apply --font-body-2-dark;

  flex: 0 0 100%;
  margin-bottom: var(--spacing-5);
  text-transform: uppercase;
}

.link_title {
  @apply --link-text;

  color: var(--c-black);

  &:hover {
    color: var(--c-blue);
  }
}

.link_cta {
  color: var(--c-blue);
}

.link_button {
  @apply --center-children;
  @apply --link-text;

  height: 3rem;
  border-radius: var(--bd-radius-default);
  border: var(--bd-button);
  color: var(--c-blue);

  &:hover {
    opacity: 0.5;
  }
}

.link_description {
  font-size: var(--fs-body-1);
  text-transform: none;
}

.bottom_link {
  @apply --flex-start;
  @apply --bottom-link;

  padding-left: var(--spacing-submenu);
}

.bottom_link_center {
  @apply --bottom-link;
  @apply --center-children;
}

.menu_button {
  @apply --transition-color;

  flex: 0 0 5rem;
  color: var(--c-font-dark);

  &:hover {
    color: var(--c-black);
  }
}

.mobile_nav {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 900;
  padding: 1rem;
  background-color: white;

  /* Added this for contrast with page - does not match design */
  box-shadow: var(--shadow-1);
}

.mobile_nav_item {
  @apply --flex-start;

  padding: 2rem;
  height: 3rem;
  font-weight: var(--fw-semibold);
  cursor: pointer;
}

@media (--medium) {
  .mobile_nav_item {
    justify-content: center;
  }
}

@media (--desktop) {
  .menu_button,
  .mobile_nav {
    display: none;
  }

  .nav_list {
    @apply --flex-end;
  }
}
