/* branded website navbar styles */
@import '@opentrons/components/styles';
@import '../../styles/breakpoints.css';
@import '../../styles/shadows.css';
@import '../../styles/spacing.css';

:root {
  --c-nav-gray: #707070;
  --spacing-subdomain: 2.5rem;
  --spacing-nav: 1.75rem;
  --spacing-submenu: 1.75rem;
  --spacing-link: 1.75rem;
  --spacing-mobile-heading: 4.5rem;

  --font-menu-title: {
    font-family: 'AkkoPro-Regular', 'Ropa Sans', 'Open Sans', sans-serif;
    font-size: var(--fs-body-1);
    font-weight: var(--fw-light);
    letter-spacing: 0.7px;
    color: var(--c-nav-gray);
  }

  --dropdown-base: {
    position: absolute;
    top: 4.25rem;
    background-color: var(--c-white);
    border-radius: var(--bd-radius-default);
    border: var(--bd-light);
  }

  --dropdown-caret-after: {
    content: '';
    position: absolute;
    bottom: 100%;
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent var(--c-lightest-gray) transparent;
    z-index: 10;
  }

  --dropdown-caret-before: {
    content: '';
    position: absolute;
    bottom: 100%;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent var(--c-white) transparent;
    z-index: 20;
  }

  --link-text: {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-body-2);
    cursor: pointer;
  }

  --bottom-link: {
    height: 3.5rem;
    border-top: var(--bd-light);
    color: var(--c-blue);
    font-weight: var(--fw-semibold);
  }

  --bd-button: var(--bd-width-default) solid var(--c-blue);
}

/* Subdomain Nav (wrapper and container responsive styles in Nav/) */
.subdomain_nav_contents {
  @apply --flex-end;

  width: 100%;
  height: 100%;
}

a.subdomain_link {
  margin-left: var(--spacing-subdomain);
  font-size: var(--fs-body-1);
  font-weight: var(--fw-semibold);
  color: var(--c-nav-gray);
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    color: var(--c-font-dark);
  }

  &:visited {
    color: var(--c-nav-gray);
  }
}

/* Main Nav (wrapper and container responsive styles in Nav/) */
.main_nav_contents {
  @apply --flex-between;

  height: 100%;
  width: 100%;
  padding: var(--spacing-3) 0;
}

.logo {
  height: 2rem;
}

.nav_list {
  display: none;
}

.nav_link {
  @apply --link-text;

  position: relative;
  padding: 2rem var(--spacing-nav);
  color: var(--c-nav-gray);

  &:last-child {
    padding-right: 0;
  }
}

.active {
  color: var(--c-black);
}

/* Dropdown Containers */
.dropdown_small {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  left: 0;
  width: 16rem;

  &::after {
    @apply --dropdown-caret-after;

    left: 10%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 10.7%;
  }
}

.dropdown_medium {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  left: -11rem;
  width: 27rem;

  &::after {
    @apply --dropdown-caret-after;

    left: 47%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 47.5%;
  }
}

.dropdown_large {
  @apply --font-body-2-dark;
  @apply --dropdown-base;

  right: -0.125rem;
  width: 46rem;
  display: flex;

  &::after {
    @apply --dropdown-caret-after;

    left: 86.75%;
  }

  &::before {
    @apply --dropdown-caret-before;

    left: 87%;
  }
}

/* Dropdown Content */
.dropdown_content {
  display: flex;
  padding: var(--spacing-submenu);
  padding-bottom: var(--spacing-1);
}

.dropdown_col {
  flex: 1 1 var(--size-50p);
}

.submenu_title {
  @apply --font-menu-title;

  line-height: 1.25rem;
  flex: none;
  width: 7rem;
  padding: 0 var(--spacing-5);
  text-transform: uppercase;
}

/*  Support & Sales Submenu Desktop */
.support_menu {
  padding: var(--spacing-submenu);
  padding-bottom: var(--spacing-1);
  flex: 1 1 var(--size-two-thirds);
}

.sales_menu {
  padding: var(--spacing-submenu);
  border-left: var(--bd-light);
  flex: 1 1 var(--size-third);
}

.support_content {
  display: flex;
}

/* NavLink */
.link_group {
  line-height: 1.25rem;
  text-align: left;
  padding-bottom: var(--spacing-link);
  padding-left: 5rem;

  &.support_nav_link,
  &.product_nav_link {
    padding-bottom: var(--spacing-5);
    text-align: left;
  }

  &.support_nav_link {
    padding-left: 0;
  }

  &.product_nav_link {
    padding-left: var(--spacing-5);
  }
}

.link_title {
  @apply --link-text;

  display: block;
  width: 100%;
  text-align: left;
  color: var(--c-black);

  &:hover {
    color: var(--c-blue);
  }

  /* Only add caret to base NavLinks on Mobile */
  &::after {
    content: ' ›';
  }
}

.link_description {
  font-size: var(--fs-body-1);
  font-weight: var(--fw-regular);
  color: var(--c-nav-gray);
  text-transform: none;
}

/*  Nav Link CTA */
.link_cta {
  color: var(--c-blue);
}

.link_button {
  @apply --center-children;
  @apply --link-text;

  height: 3rem;
  border-radius: var(--bd-radius-default);
  border: var(--bd-button);
  color: var(--c-blue);

  &:hover {
    opacity: 0.5;
  }
}

.bottom_link {
  @apply --flex-start;
  @apply --bottom-link;

  padding-left: var(--spacing-submenu);
}

.bottom_link_center {
  @apply --bottom-link;
  @apply --center-children;
}

/* Mobile Button / Toggle */
.menu_button {
  width: 3rem;
  color: var(--c-font-dark);
}

/* Mobile List */
.mobile_nav {
  position: fixed;
  top: var(--size-mobile-nav);
  left: 0;
  right: 0;
  width: 100%;
  min-height: calc(100vh - var(--size-mobile-nav));
  padding: 0;
  background-color: var(--c-white);
  z-index: 900;
  border-bottom: var(--bd-light);
}

.mobile_nav_item {
  @apply --flex-start;

  padding: var(--spacing-7);
  height: 4.5rem;
  font-weight: var(--fw-semibold);
  cursor: pointer;

  &:first-child {
    padding-top: 2.5rem;
  }
}

/* Mobile Menu container */
.mobile_menu {
  position: fixed;
  top: var(--size-mobile-nav);
  right: 0;
  width: 100%;
  height: calc(100% - var(--size-mobile-nav));
  max-height: calc(100% - var(--size-mobile-nav));
  margin: 0 -105% 0 0;
  background-color: var(--c-white);
  box-shadow: var(--shadow-1);
  z-index: 950;
  transition: margin 0.5s linear;

  &.active {
    margin: 0;
  }
}

/* Top Mobile Menu bar */
.mobile_menu_heading {
  @apply --flex-start;

  height: var(--spacing-mobile-heading);
  border-bottom: var(--bd-light);
}

.mobile_menu_icon {
  position: absolute;
  left: 0;
  width: var(--size-2);
}

/* Top Mobile Menu text */
.mobile_menu_title {
  width: 100%;
  padding-left: 6rem;
  text-align: left;
  font-size: var(--fs-default);
  font-weight: var(--fw-semibold);
}

.mobile_content {
  height: 100%;
  padding: var(--spacing-5);
  padding-bottom: 0;
}

.scrollable_contents {
  max-height:
    calc(
      100vh - var(--size-mobile-nav) - var(--spacing-mobile-heading)
    );
  overflow-y: auto;
}

/*  Product Submenu Mobile */
.product_mobile_content {
  display: flex;
  flex-direction: column;
}

.hardware_group,
.labware_group,
.consumable_group {
  display: flex;
  flex-basis: 100%;
  padding-top: var(--spacing-5);

  & ul {
    flex-grow: 1;
    padding-right: 8rem;
  }
}

/*  Support & Sales Submenu Mobile */

.support_mobile_content {
  display: flex;
  flex-direction: column;
}

.sales_group {
  display: flex;
  flex-basis: 100%;
  padding-top: var(--spacing-6);
  border-bottom: var(--bd-light);
}

.support_group {
  display: flex;
  flex-basis: 100%;
  padding-top: var(--spacing-6);
}

.support_submenu {
  display: flex;
}

.sales_number {
  margin-top: var(--spacing-5);
  font-size: var(--fs-body-2);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-copy);
  color: #808080;
}

@media (--medium) {
  .logo {
    height: 2.5rem;
  }

  .link_group {
    text-align: center;
    padding-left: 0;
  }

  .link_title {
    text-align: center;
  }

  .support_nav_link .link_title {
    text-align: left;
  }

  .mobile_nav {
    top: var(--size-main-nav);
    min-height: auto;
  }

  .mobile_nav_item {
    justify-content: center;
  }

  .mobile_menu_title {
    padding: 0;
    text-align: center;
  }

  .mobile_menu {
    top: var(--size-main-nav);
    height: auto;
    min-height: 29.5rem;
  }

  .support_mobile_content {
    flex-direction: row;
  }

  .submenu_title {
    flex: none;
    max-width: 8rem;
  }

  .support_group {
    flex-basis: 60%;
    display: flex;
  }

  .sales_group {
    flex-basis: 40%;
    display: flex;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (--large) {
  .menu_button,
  .mobile_nav {
    display: none;
  }

  .nav_list {
    @apply --flex-end;
  }

  .active {
    color: var(--c-black);
  }

  .link_group {
    line-height: 1.25rem;
    padding: 0 var(--spacing-link) var(--spacing-link) 0;
    text-align: left;
  }

  .link_title {
    display: block;
    width: 100%;
    padding: 0;
    text-align: left;

    &::after {
      content: '';
    }
  }

  .link_cta::after {
    content: ' ›';
  }

  .submenu_title {
    width: 100%;
    padding: 0;
    margin-bottom: var(--spacing-2);
  }
}
