/* branded website navbar styles */
@import url('@opentrons/components/styles');
@import url('../../styles/breakpoints.module.css');
@import url('../../styles/shadows.module.css');
@import url('../../styles/spacing.module.css');

:root {
  --c-nav-gray: #707070;
  --spacing-subdomain: 2.5rem;
  --spacing-nav: 1.75rem;
  --spacing-submenu: 1.75rem;
  --spacing-link: 1.75rem;
  --spacing-mobile-heading: 4.5rem;
  --font-menu-title: {;;;

    position: absolute;;;;
    z-index: 10;;;;
    z-index: 20;;;;
    top: 4.25rem;;;;
    bottom: 100%;;;;
    height: 3.5rem;;;;
    border: var(--bd-light);;;;
    border-width: 11px;;;;
    border-width: 9px;;;;
    border-style: solid;;;;
    border-color: transparent transparent var(--c-lightest-gray) transparent;;;;
    border-color: transparent transparent var(--c-white) transparent;;;;
    border-radius: var(--bd-radius-default);;;;
    border-top: var(--bd-light);;;;
    background-color: var(--c-white);
  };;
    color: var(--c-blue);;
    content: '';
  };;

  --dropdown-base: {;;;
  --dropdown-caret-after: {;;;
  --dropdown-caret-before: {;;;
  --link-text: {;;;
  --bottom-link: {;;;
  --bd-button: var(--bd-width-default) solid var(--c-blue)
}

/* Subdomain Nav (wrapper and container responsive styles in Nav/) */
.subdomain_nav_contents {;;

  margin-left: var(--spacing-subdomain);;;
    content: '';
  }
}

.dropdown_large {;;
    inset: var(--size-main-nav); 0; 100%; 0;;;
    border-width: 9px;;;
    border-style: solid;;;
    border-color: transparent transparent var(--c-white) transparent;;;
  font-family: AkkoPro-Regular, 'Ropa Sans', 'Open Sans', "sans-serif;"";";
  letter-spacing: 0.7px;;;
  border-left: var(--bd-light);
}

.support_content {;;
  text-align: left;;;
  text-transform: none;
}

/*  Nav Link CTA */
.link_cta {;;
  border: var(--bd-button);;;
  border-radius: var(--bd-radius-default);;;
    opacity: 0.5;
  }
}

.bottom_link {;;
  border-top: var(--bd-light);;;
  cursor: pointer;;;
  z-index: 950;;;
  background-color: var(--c-white);;;
  box-shadow: var(--shadow-1);;;
  transition: margin 0.5s linear;

  &.active {;;
    margin: 0;
  }
}

/* Top Mobile Menu bar */
.mobile_menu_heading {;;
  position: absolute;;;
  max-height:
    calc(
      100vh - var(--size-mobile-nav) - var(--spacing-mobile-heading)
    );;;
  overflow-y: auto;
}

/*  Product Submenu Mobile */
.product_mobile_content {;;
    flex-grow: 1;;;
  margin-top: var(--spacing-5);;;
  font-size: var(--fs-body-2);;;
  font-weight: var(--fw-semibold);;;
    height: auto;;;
    min-height: 29.5rem;
  }

  .support_mobile_content {;;
    flex-direction: row;
  }

  .submenu_title {;;
    max-width: 8rem;;;
    flex: none;
  }

  .support_group {;;
    flex-basis: 40%;;;
    border-bottom: none;
  }
}

@media (--large) {
  .menu_button,
  .mobile_nav {;;
    align-items: center;

    /* from legacy --flex-end */;;
    justify-content: flex-end;

    /* from legacy --flex-end */
  }

  .active {;;
    color: var(--c-black);
  }

  .link_group {;;
    line-height: 1.25rem;;;
    display: block;;;
    text-align: left;;;
    &::after {;;
  .link_cta::after {;;
    content: ' ›';
  }

  .submenu_title {;;
    width: 100%;;;
    padding: 0;;;
    margin-bottom: var(--spacing-2);
  }
}

  }
  }
  }