<!DOCTYPE html>
</body>

</html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Review Calibrations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="nav-full-dark">
        <header class="brand">
            <!-- Logo and Status Text  -->
            <nav class="links">
                <ul>
                    <li> Logo</li>
                </ul>
            </nav>
            <nav class="robot">
                <span>connect to robot</span>
                <input type="text" id="connect_port" value="/dev/tty.usbmodem1421" />
                <a href="#" class="btn-connect" id="connect_serial">Connect Serial</a>
            </nav>
        </header>
    </div>
    <div class="nav-full-light">
        <header class="controls">
            <!-- Home Buttons, Speed Control Slider, Tabs  -->
            <nav class="home">
                <span class="label">HOME: </span>
                <a href="#" class="btn-home">X</a>
                <a href="#" class="btn-home">Y</a>
                <a href="#" class="btn-home">Z</a>
                <a href="#" class="btn-home">A</a>
                <a href="#" class="btn-home">B</a>
                <a href="#" class="btn-home">ALL</a>
            </nav>
            <nav class="tabs">
                <a href="#" class="tab active">Protocol</a>
                <a href="#" class="tab">Debug</a>
            </nav>
    </div>
    </header>
    </div>
    <div class="wrapper">
        <!-- Attach Step List Component Here-->
        <aside id="step-list">
            <!-- Static Placeholder for Component -->
            <ul>
                <li class="completed">
                    <a href="index.html">Connect to Robot</a>
                    <!-- If more than 1 step in Task group, enumerate and render number of steps -->
                    <ul>
                        <!-- for each step in a task group -->
                        <li class="completed"><a href="#">Power On</a></li>
                        <li class="completed"><a href="#">Connect To Serial</a></li>
                        <li class="completed"><a href="#">Optional Homing</a></li>
                    </ul>
                </li>
                <li class="completed"><a href="upload.html">Upload Protocol</a></li>
                <li class="completed">
                    <a href="calibrate_containers.html">Calibrate Containers</a>
                    <!-- If more than 1 step in Task group, enumerate and render number of steps -->
                    <ul>
                        <!-- for each step in a task group -->
                        <li class="completed"><a href="#">p200 Tiprack</a></li>
                        <li class="completed"><a href="#">PCR Source</a></li>
                        <li class="completed"><a href="#">PCR Output</a></li>
                    </ul>
                </li>
                <li class="completed">
                    <a href="calibrate_pipettes.html">Calibrate Pipettes</a>
                    <!-- If more than 1 step in Task group, enumerate and render number of steps -->
                    <ul>
                        <!-- for each step in a task group -->
                        <li class="completed"><a href="#">p200 Single Axis B</a></li>
                        <li class="completed"><a href="#">p200 Multi Axis A</a></li>
                    </ul>
                </li>
                <li class="active"><a href="review_calibrations.html">Review Calibrations</a></li>
            </ul>
        </aside>
        <!-- Attach Step Pane Here -->
        <section id="task-pane">
            <section>
                <h2 class="title">Review and Run</h2>
                <div class="instructions">
                    Generate table with all saved calibrations to test/overwrite. Potential test wells in use?
                </div>
                <div class="step">
                    <table class="container">
                        <tbody>
                            <!-- Loop through all saved containers -->
                            <!-- Data needed - saved calibrations along with id or route to render calibrate step and associated data in case of overwrite -->
                            <tr>
                                <th>Container Name</th>
                                <td class="coords">X: 0</td>
                                <td class="coords">Y: 0</td>
                                <td class="coords">Z: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                            <!-- End loop -->
                            <tr>
                                <th>Container Name</th>
                                <td class="coords">X: 0</td>
                                <td class="coords">Y: 0</td>
                                <td class="coords">Z: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                            <tr>
                                <th>Container Name</th>
                                <td class="coords">X: 0</td>
                                <td class="coords">Y: 0</td>
                                <td class="coords">Z: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="pipette">
                        <tbody>
                            <!-- Loop through all saved pipette calibration data as second step.  -->
                            <tr>
                                <th>Pipette Name</th>
                                <td class="coords">Top: 0</td>
                                <td class="coords">Bottom: 0</td>
                                <td class="coords">Blowout: 0</td>
                                <td class="coords">Drop Tip: 0</td>
                                <td class="coords">Max Vol: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                            <!-- end loop -->
                            <tr>
                                <th>Pipette Name</th>
                                <td class="coords">Top: 0</td>
                                <td class="coords">Bottom: 0</td>
                                <td class="coords">Blowout: 0</td>
                                <td class="coords">Drop Tip: 0</td>
                                <td class="coords">Max Vol: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                            <tr>
                                <th>Pipette Name</th>
                                <td class="coords">Top: 0</td>
                                <td class="coords">Bottom: 0</td>
                                <td class="coords">Blowout: 0</td>
                                <td class="coords">Drop Tip: 0</td>
                                <td class="coords">Max Vol: 0</td>
                                <td><a href="#" class="btn-test">Test</a></td>
                                <td><a href="#" class="btn-overwrite">Overwrite</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End Step -->
                <!-- Nav Will Need Prev/Next Logic -->
                <nav>
                    <a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a>
                </nav>
                <!-- End Nav Component -->
            </section>
            <!-- Info Modal Component-->
            <div id="info" class="infoModal">
                <div> <a href="#close" title="Close" class="close">X</a>
                    <h2>Title</h2>
                    <p>
                        Images would go here along with explanation text.
                    </p>
                </div>
            </div>
            <!-- End Info Modal Component -->
        </section>
        <!-- End Task Pane -->
    </div>
</body>

</html>
