/******************************
Typography
******************************/
h1.title {
    font-size: 14px;
    font-weight: 800;
    line-height: $baseline;
    font-family: "open-sans";
}
h3.title {
    font-size: 12px;
    font-weight: 800;
    line-height: $baseline;
    padding-left: 10px;
}
h2.title {
    font-size: 14px;
    font-weight: 800;
    line-height: $baseline;
    display: inline-block;
}
.label {
    font-size: 14px;
    font-weight: 800;
    line-height: 30px;
    width: 40px;
    flex: 0 0;
}
hr {
    color: #FFF;
    margin-bottom: 5px;
}
