@import '@opentrons/components/styles';

.announcement_modal {
  border-radius: 0;
  position: fixed;
}

.modal_contents {
  @apply --font-body-2-dark;

  border-radius: 0;
  padding: 0;
  max-height: 80vh;
  overflow-y: scroll;
}

.modal_contents p,
.modal_contents li {
  margin-bottom: 1rem;
}

.modal_contents li {
  margin-left: 2rem;
  line-height: 1;
}

.modules_diagrams_row {
  display: flex;
  justify-content: center;
  align-items: center;

  /*
    Keep image height at a specific ratio by shrinking the available space the
    image has to take up
  */
  padding-left: 19.294%;
  padding-right: 19.294%;
}

.modules_diagrams_color_enhancements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6%;
}

.thermocycler_diagram_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 0 25%;
}

.modules_diagram {
  width: 100%;
  height: 100%;
}

.separator {
  color: var(--c-light-gray);
}

.announcement_body {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.announcement_message {
  margin-bottom: 2.5rem;
}

.announcement_heading {
  @apply --font-header-dark;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
