@value slotWidth: 85.47;
@value slotHeight: 127.76;
@value slotScale: 0.125rem;
@value slotGap: 10px;

/*COLORS*/
@value lightgray: #d0d0d0;
@value gray: #9a9a9a;
@value darkgray: #5f5f5f;

/* GLOBAL STYLES! */

body {
  /*font-family: georgia sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  list-style-type: none;
}

div {
  border-radius: 5px;
}

h2 {
  color: gray;
  text-align: center;
}

label {
  display: inline-block;
  text-transform: uppercase;
}

input, textarea {
  border: 1px solid gray;
}

button {
  font-size: 24pt;
  color: lightgray;
  text-transform: uppercase;
  border: 3px solid lightgray;
  padding: 3px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
  color: white;
}

button.disabled {
  background-color: #EEE;
}

textarea {
  resize: none;
}

/* MIXINS */

.disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* General */

.circle {
  display: inline-block;
  border-radius: 1000px;
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
  font-size: 1rem;
  line-height: 2rem;
}

/* WELLS */

.wellRound {
  display: flex;
  position: relative;
  box-sizing: border-box;

  border-radius: 1000px;
  border: 2px solid transparent;
  padding: 2px;
  /*margin: 2px;*/

  /*padding-left: 100%;*/
  height: 100%;
  width: 100%;
  flex: 1;
}

.wellRound.highlighted {
  border: 2px solid blue; /* highlight color */
}

.wellRound .innerWell {
  display: flex;
  box-sizing: border-box;

  background-color: var(--well-fill-color);
  border: 2px solid black;
  /*box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);*/

  content: attr(data-well-number);
  font-size: 10.5rem;
  color: white;

  justify-content: center;
  align-items: center;

  border-radius: 1000px;
  height: 100%;
  width: 100%;
  padding: 5%;
}

.wellRound.selected .innerWell {
  border: 4px solid var(--well-selection-color);
}

/* DECK */

.deck {
  border: 3px solid darkgray;
  display: grid;
  grid-gap: slotGap;
  padding: slotGap;
  margin: auto;
  grid-template-columns: repeat(5, calc(slotWidth * slotScale));
  width: calc((slotWidth * slotScale * 5) + (slotGap * 4))
}

.deckSlot {
  height: calc(slotHeight * slotScale);
  background-color: lightgray;
  position: relative;
  text-align: center;
  composes: disableSelect;
}

.deckSlot img {
  height: calc(slotHeight * slotScale);
  width: calc(slotWidth * slotScale);
}

.deckSlot > label {
  font-size: 30pt;
  color: white;
  position: inherit;
  top: 30pt;
}

.containerOverlay {
  composes: overlay;
  z-index: 100;
  color: lightgray;
  text-transform: uppercase;
}

.containerOverlay > * {
  visibility: hidden;
}

.containerOverlay:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.containerOverlay:hover > * {
  visibility: visible;
  margin-top: 40pt;
  cursor: pointer;
}

.containerOverlay > *:hover {
  font-weight: bold;
}

.containerOverlayAddIngred::after {
  font-size: 30pt;
  display: block;

  content: "+";
}

.containerOverlayRemove::after {
  font-size: 20pt;
  display: block;

  content: "✕";
}

/* -------------------- */

.addLabware {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  font-size: 14pt;
  background-color: gray;
  color: black;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  composes: disableSelect;
}

.addLabware:hover {
  font-weight: bold;
}

.addLabware::after {
  font-size: 20pt;
  display: block;

  content: "+";
}

/* -------------------- */

.labwareDropdown {
  position: absolute;
  top: 0;
  color: black;
  text-align: left;
  font-size: 10pt;
  width: calc(slotWidth * slotScale * 1.5);
  background-color: lightgray;
  border: 3px solid darkgray;
  z-index: 500;
  color: darkgray;
  composes: disableSelect;
}

.labwareDropdown label {
  text-transform: none;
  font-size: 12pt;
  font-weight: bold;
}

.labwareDropdown > ul {
  background-color: white;
  /* Overflowing, even just y, messes with tooltips... */
  /*overflow-y: scroll;*/
}

/*.labwareDropdown > ul li ul li {
  color: gray;
}*/

.labwareDropdown > ul li ul li:hover {
  font-weight: bold;
}

/* TODO: can this be a mixin instead? */
:global(.close) {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* ----- */

.ingredientModal {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 0;
  bottom: 18%;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 1000;
  border-radius: 0;
  border: 3px solid gray;
}

.ingredientModal :global(.close) {
  font-size: 30pt;
  margin: 10pt;
  color: white;
}

.ingredientModal :global(.close):hover {
  color: lightgray;
}

@value ingredientPanelSidebarWidth: 40%;

.ingredientPanelSidebar {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  width: ingredientPanelSidebarWidth;
  border-right: 3px solid gray;
}

.ingredientPanelContent {
  border-radius: 0;
  position: relative;
  display: inline-block;
  height: 100%;
  width: calc(100% - ingredientPanelSidebarWidth - 3px);
}

.containerDetail::after {
  /* Horizontal line */
  content: ' ';
  display: block;
  background-color: lightgray;
  width: 70%;
  height: 3px;
  margin: 30px auto;
}


.ingredientPropertiesEntry {
  background-color: white;
  margin: 1em;
  padding: 0 1.5em;
  border: 3px solid darkgray;
  border-radius: 15px;
}

.ingredientPropertiesEntry h1 {
  font-size: 10pt;
  font-weight: inherit;
  text-transform: uppercase;
  float: left;
  width: 100%;
}

.ingredientPropertiesEntry h1 > * {
  display: inline-block;
  margin: 0;
  color: gray;
}

.ingredientPropertiesEntry h1 div:first-of-type {
  border-bottom: 1px solid gray;
  margin-right: 1em;
  color: black;
}

.ingredientPropertiesEntry span {
  display: inline-block;
  margin: 0.5em 0;
  width: 100%;
}

.ingredientPropertiesEntry form span {
  border: 1px solid gray;
}

.ingredientPropertiesEntry span input {
  float: right;
  border: none;
  border-left: inherit;
}

.ingredientPropertiesEntry form {
  width: 50%;
  color: gray;
  display: inline-block;
}

.ingredientPropertiesEntry form textarea {
  width: 95%;
  height: 5em;
  border: none;
  border-top: inherit;
}

.ingredientPropRightSide {
  display: inline-block;
  float: right;
  width: 40%;
  padding: 5%;
}

.ingredientPropRightSide button:last-child {
  margin-left: 0.4em;
  margin-top: 1em;
}

/* ----- */

.labwareListItem {
  position: relative;
  width: 100%;
}

.labwareListItem:hover::after {
  /*display: none;*/
  content: var(--image-url);
  background-size: 80px 60px;
  border: 2px solid darkgray;
  position: absolute;

  /* Images too large, and need to be cropped from left */
  zoom: 0.5;
  clip-path: inset(0px 0px 0px 360px);

  top: 0;
  /*left: calc(slotWidth * slotScale * 1);*/
  left: 0;
  /*width: 200px;
  height: 200px;*/
  z-index: 5000;
}
