div.container {
  width: 318px;
  background-color: var(--grey-20);
  border-radius: var(--border-radius-4);
  padding: var(--spacing-16) var(--spacing-8);
}

div.subTitle {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
  color: var(--grey-60);
}

div.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 24px;
  background-color: var(--transparent-black-80);
  border-radius: var(--border-radius-4);
}