div.container {
  width: 318px;
  padding: var(--spacing-16) var(--spacing-8);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-20);
}

div.sub_title {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--grey-60);
  gap: var(--spacing-8);
}

div.label {
  display: flex;
  width: 88px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-4);
  background-color: var(--transparent-black-80);
}
