/* LabwareList styles */
@import '@opentrons/components';
@import '../../styles/breakpoints.css';
@import '../../styles/shadows.css';
@import '../../styles/spacing.css';

.card {
  display: block;
  width: 100%;
  margin: 0 auto var(--spacing-7) auto;
  box-shadow: var(--shadow-1);
}

.top_bar {
  @apply --font-body-2-dark;

  padding: var(--spacing-2);
  line-height: var(--lh-copy);
  text-align: right;
  background-color: var(--c-lightest-gray);
}

.title {
  @apply --transition-background-color;

  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-5);
  line-height: var(--lh-title);
  font-size: var(--fs-default);
  font-weight: var(--fw-semibold);
  color: var(--c-blue);
  background-color: var(--c-white);

  &:hover {
    background-color: var(--c-light-gray);
  }
}

.title_icon {
  flex: none;
  height: 1.5rem;
}

.gallery_container,
.stats,
.well_dimensions,
.well_volume {
  display: inline-block;
  vertical-align: top;
}

.gallery_container {
  width: var(--size-40p);
  padding-top: var(--spacing-1);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-6);
}

.gallery {
  width: 100%;
}

.stats {
  width: var(--size-60p);
  padding-right: var(--spacing-4);
}

.gallery_main {
  @apply --aspect-4-3;
}

.image_container {
  @apply --aspect-item;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail_row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: var(--spacing-5);
}

.thumbnail_container {
  @apply --clickable;

  width: calc(var(--size-third) - var(--spacing-5) * 2 / 3);
  margin-right: var(--spacing-5);
}

.thumbnail_container:last-of-type {
  margin-right: 0;
}

.thumbnail {
  @apply --aspect-1-1;
}

.dimensions {
  padding-bottom: var(--spacing-4);
  border-bottom: var(--bd-light);
}

.wells {
  margin-top: var(--spacing-4);
}

.well_group {
  margin-top: var(--spacing-4);
}

.well_dimensions {
  width: var(--size-two-thirds);
  padding-right: var(--spacing-6);
}

.well_volume {
  width: var(--size-third);
}

.stats_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  background-color: var(--c-lightest-gray);
}

.stats_item {
  display: flex;
  align-items: baseline;
}

.top_label,
.left_label {
  flex: none;
  font-size: var(--fs-caption);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-title);
  text-transform: uppercase;
  color: var(--c-font-icon);
}

.left_label {
  margin-right: var(--spacing-3);
}

.top_label {
  margin-bottom: var(--spacing-2);
}

.units {
  text-transform: none;
}

.value {
  @apply --font-body-2-dark;

  line-height: var(--lh-title);
}

.tags_container {
  margin-top: var(--spacing-6);
  background-color: var(--c-bg-light);
}

.tags {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) var(--spacing-5);

  & .value {
    font-size: var(--fs-body-1);
  }
}

.load_name {
  display: flex;
}

.load_name_label {
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-5);
  background-color: var(--c-lightest-gray);
}

.load_name_input {
  font-size: var(--fs-body-1);
  line-height: var(--lh-title);
  width: calc(100% + 2 * var(--spacing-2));
  margin-left: -var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-2);
  border: var(--bd-light);
  color: var(--c-font-dark);
}

/*
 * TODO(mc, 2019-04-02): production bundle breaks CSS order, so for now make
 * this rule more specific
 */
button.load_name_button {
  flex: none;
  width: var(--size-2);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-4);
  border-radius: 0;
  background-color: var(--c-dark-gray);

  & svg {
    stroke: none;
  }
}

.copy_tooltip {
  display: block;
  text-align: center;
}

.no_results {
  @apply --font-header-dark;

  margin-top: var(--spacing-8);
  text-align: center;
}

@media (--medium) {
  .list {
    margin: 0 auto;
    max-width: var(--size-5);
  }

  .card {
    margin-top: 0;
  }

  .no_results {
    /* shift left for perceived centering */
    transform: translateX(calc(-1 * var(--spacing-7)));
  }
}

@media (--large) {
  .list {
    max-width: 100%;
  }

  .card {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 0.5 * var(--spacing-8));
    margin-right: var(--spacing-8);
    margin-bottom: var(--spacing-8);

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .no_results {
    /* increase shift on large for better perceived centering */
    transform: translateX(calc(-2 * var(--spacing-7)));
  }
}
