@import "util";

.calibration-modal {
    &.mode-top {
        .btn-update.top {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
        img.top{
            display:block;
        }
    }
    &.mode-bottom {
        .btn-update.bottom {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
        img.bottom{
            display:block;
        }
    }
    &.mode-blowout {
        .btn-update.blowout{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
        img.blowout{
            display:block;
        }
    }
    &.mode-droptip {
        .btn-update.droptip{
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
        }
        img.droptip{
            display:block;
        }
    }

    .btn-update {
        opacity: 0.1;
        pointer-events: none;
    }
    .well-img{
    	img{
            display:none;
        }
    }
    .pipette-img{
        img{
            display:none;
        }
    }
}
