.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: var(--spacing-16);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  gap: var(--spacing-16);
}

.card_column {
  display: flex;
  flex: 0.5;
  gap: var(--spacing-8);
}

.card_container {
  display: flex;
  flex: 0.5;
  border-radius: var(--border-radius-8);
  background-color: var(--grey-10);
  gap: var(--spacing-8);
}

.card_content_container {
  display: flex;
  flex: 1;
  padding: var(--spacing-16);
  gap: var(--spacing-8);
}

.card_content_text_container {
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing-26);
  gap: var(--spacing-8);
}

.card_text_name_location {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.card_on_deck_text {
  color: var(--grey-60);
}

.card_overflow_btn {
  position: relative;
  padding: var(--spacing-4);
}

.card_overflow_menu_container {
  position: relative;
}

.card_overflow_menu_content_container {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-4);
  background-color: var(--white);
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  white-space: nowrap;
}

.card_photo_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.icon_container {
  width: 16px;
  height: 16px;
  color: var(--grey-50);
}
