@import '@opentrons/components';

.step_subitem {
  & svg {
    /* Subitem group carat */
    flex: 1;
    height: 1.5rem;
    color: var(--c-med-gray);
  }

  & .volume_cell {
    overflow: visible;
  }
}

.emphasized_cell {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

/* Step Subitem Column Header */

.step_subitem_column_header {
  padding-top: 0;

  & > * {
    text-align: left;
    min-height: 1rem;
  }
}

.step_subitem_spacer {
  flex: 0.5;
  height: 1.5rem;
  color: var(--c-med-gray);
}

/* Aspirate / dispense headers */
.aspirate_dispense {
  display: flex;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-align: left;
  font-size: var(--fs-caption);
  text-transform: uppercase;

  & .spacer {
    flex: 1;
  }

  & * {
    flex: 2;
  }
}

.substep_header {
  display: flex;
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-size: var(--fs-caption);
  text-transform: uppercase;
  justify-content: space-between;
}

.substep_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 0;
  font-size: var(--fs-body-1);
  font-weight: var(--fw-semibold);

  &:last-child {
    padding-bottom: 1.25rem;
  }
}

.module_substep_value {
  text-align: right;
  flex: 0.5;
  text-transform: capitalize;
}

/* Multi-channel row representing a single channel */
.step_subitem_channel_row {
  border-top: 0;
  border-bottom: 1px var(--c-med-gray) dashed;
  background-color: var(--c-light-gray);
}

/* Inner collapse carat */

.inner_carat {
  @apply --clickable;
}

.highlighted {
  @apply --outline-highlight;
}

.clear_border {
  border-color: transparent;
}

.error_icon {
  fill: var(--c-error);
}

.warning_icon {
  fill: var(--c-warning);
}

.liquid_circle {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: 1em;
}

.liquid_tooltip_contents {
  margin: 0.5em;
  max-width: 20rem;
}

.ingred_row {
  min-width: 180px;
}

.ingred_row > td {
  flex: 1 1 40px;
}

.ingred_row:not(:last-child) > td {
  padding-bottom: 0.5em;
}

.ingred_name {
  text-align: left;
  padding-right: 1em;
}

.ingred_percentage {
  text-align: right;
  padding-right: 1em;
}

.ingred_partial_volume {
  text-align: right;
}

.total_divider {
  height: 1px;
  width: 100%;
  background-color: var(--c-light-gray);
  margin: 1em 0;
}

.total_row {
  display: flex;
  justify-content: space-between;
}

.ingred_pill {
  cursor: default;
}

.multi_substep_header {
  font-style: italic;
}

.labware_spacer {
  width: 0.5rem;
  height: 0.5rem;
}

.labware_tooltip_contents {
  margin: 0.5rem;
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labware_display_name {
  cursor: default;
}

.context_menu {
  position: absolute;
  color: var(--c-font-light);
  background-color: var(--c-bg-dark);
  box-shadow: 0 2px 6px #999;
  z-index: 100000;
}

.context_menu_item {
  padding: 6px 50px 5px 10px;
  min-width: 160px;
  cursor: default;
  font-size: var(--fs-body-1);
}

.context_menu_item:hover {
  background-color: color-mod(var(--c-bg-dark) shade(30%));
  color: var(--c-font-light);
}

.context_menu_item:active {
  color: white;
  background-color: color-mod(var(--c-bg-dark) shade(30%));
}

.step_drag_preview {
  width: 18.25rem;
  position: absolute;
  cursor: grabbing;
}
