@import '@opentrons/components';

.step_subitem {
  border-top: 2px solid var(--c-light-gray);

  & svg {
    /* Subitem group carat */
    flex: 1;
    height: 1.5rem;
    color: var(--c-med-gray);
  }

  & .volume_cell {
    overflow: visible;
  }
}

.emphasized_cell {
  font-weight: bold;
}

/* Step Subitem Column Header */

.step_subitem_column_header {
  & svg {
    /* Source labware -> Dest Labware arrow icon */
    flex: 1;
    height: 1.5rem;
    color: var(--c-med-gray);
  }

  & > * {
    text-align: left;
  }
}

/* Aspirate / dispense headers */
.aspirate_dispense {
  display: flex;
  margin: 0.5rem;
  text-align: left;
  font-size: var(--fs-body-1);

  & .spacer {
    flex: 1;
  }

  & * {
    flex: 2;
  }
}

/* Multi-channel row representing a single channel */
.step_subitem_channel_row {
  border-bottom: 1px var(--c-med-gray) dashed;
  background-color: var(--c-light-gray);
}

/* Inner collapse carat */

.inner_carat {
  @apply --clickable;
}

.highlighted {
  border-color: transparent;
  outline: 2px solid var(--c-highlight);
  outline-width: 2px 0;
}

.clear_border {
  border-color: transparent;
}

.error_icon {
  fill: var(--c-warning);
}
