.slot_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #16212dcc;
  display: flex;
  align-items: center;
  color: white;
  font-size: var(--fs-body-1);
  border-radius: 0.5rem;
}

.appear_on_mouseover {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
