/* TODO(mc, 2020-03-04): create styled HiddenInput in components library */
.hidden_input {
  /* copied from components/src/forms/forms.css > .accessibly_hidden */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
