/* Colors from the Opentrons color palette on Confluence */

:root {
  --md-primary-fg-color: #006CFA; /* Header and footer color */
  --md-accent-fg-color: #F09D20; /* Accent color */
  /* Creates a dot for stacker color statuses */
  --status-dot-size: 1rem;
}

.md-header {
  background-color: var(--md-primary-fg-color);
}

.md-footer {
  background-color: var(--md-primary-fg-color);
}

.md-footer-meta.md-typeset {
  background-color: transparent;
}
/* stacker status light colors */
.status-dot {
  height: var(--status-dot-size);
  width: var(--status-dot-size);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  margin-right: 5px;
 }

 .status-dot.white {
  background-color: #F8F6F0;
  animation: pulse-white 3s;
  animation-iteration-count: 3;
 }

 .status-dot.green {
  background-color: green;
 }

 .status-dot.blue {
  background-color: #006CFA;
 }

 .status-dot.red {
  background-color: red;
 }

 .status-dot.yellow {
  background-color: #F09D20;
 }

.img-medium {
    width: 70%;
    height: auto; 
}

/* Controls text length for back-matter text*/
.caption-text-block {
  max-width: 35em; /* Adjust length */
}

figure.general > figcaption {
  font-style: normal;
}

figure.screenshot img {
  border: 1px solid #888;
}

.md-content__inner > .figure-end-of-doc {
  padding-top: 150px;
  padding-bottom: 25px;
}

.figure-end-of-doc img {
  width: 70%;
}

/* New class for end-of-doc trademark text */
.trademark-text {
    font-size: 0.85em;
    color: #555;
    display: block;
    margin-top: 2em;
}
