@import '@opentrons/components';

.edit_module_modal {
  width: 100%;
  height: 100%;
  z-index: 9999;
  border-radius: 0;
}

.modal_contents {
  border-radius: 0;
  max-width: 90%;
}

.form_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
}

.option_model {
  flex: 0 1 11rem;
}

.option_slot {
  flex: 0 1 11rem;
  margin-left: 3rem;
  padding: 0 0.25rem 0.25rem;
}

.slot_tooltip {
  width: 19rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  font-size: var(--fs-caption);
}

.button_margin {
  margin-left: 1rem;
}

.slot_map_container {
  flex: 0 1 13rem;
  padding: 0 3rem 0;
}
