@import '@opentrons/components';

.content {
  margin-bottom: 2rem;

  & strong {
    font-weight: var(--fw-semibold);
  }
}

.bullet_list {
  padding-bottom: 1rem;
  padding-left: 3rem;

  & li div {
    font-weight: var(--fw-semibold);
    padding-bottom: 0.5rem;
  }

  & li ul li {
    font-weight: var(--fw-regular);
    list-style-type: none;
    padding-bottom: 0.5rem;
  }
}
