.content_container {
  display: flex;
  flex-direction: column;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-16);
}

.camera_setting {
  display: flex;
  align-items: center;
  gap: var(--spacing-10);
}

.launch_camera_btn {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.launch_icon_style {
  width: 12px;
  height: 12px;
}
