:root {
  --relative-fill: {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.relative {
  @apply --relative-fill;
}

.task {
  @apply --relative-fill;

  overflow-y: auto;
  padding-top: 3rem;
}

.fixed_title_bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
