@import '@opentrons/components';

.alert_list {
  list-style-type: none;
  padding-left: 3rem;
  margin-top: 1rem;

  & > li {
    line-height: 2;
  }
}

.alert_button {
  width: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
