@import '@opentrons/components';

:root {
  --bg-modal-transparent: {
    max-width: 30rem;
    padding-top: 3rem;
    background-color: transparent;
  }
}

.modal {
  @apply --modal;

  padding: 6rem 3rem;
}

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal_contents {
  max-width: 48rem;
  min-height: 32rem;
  padding: 2rem 1.25rem;
}

.leveling_title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-weight: var(--fw-semibold);
}

.leveling_instruction {
  width: 100%;
  margin-bottom: 1.5rem;
}

.leveling_video_wrapper {
  max-height: 480px;
  margin-bottom: 50px;
}

.leveling_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.confirm_status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.confirm_icon {
  display: inline-block;
  width: 2.5rem;
  margin-right: 0.75rem;

  /* TODO(ka, 2018-04-09): this green doesn't match screens (#51B75F) */
  &.success {
    color: var(--c-green);
  }

  /* TODO(ka, 2018-04-09): this red doesn't match screens (#EA5A75) */
  &.failure {
    color: var(--c-red);
  }
}

.confirm_diagram {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  width: 14rem;
}

.confirm_failure_instructions {
  text-align: center;
  margin-bottom: 3rem;
}

.confirm_button {
  margin-bottom: 0.75rem;
}

.attach_pipette_title {
  @apply --font-header-dark;

  margin-top: 0;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.pipette_selection {
  display: block;
  width: 55%;
}

.pipette_selection_label {
  @apply --font-body-2-dark;

  display: block;
  margin-bottom: 0.5rem;
}

.instructions {
  display: flex;
  align-content: stretch;
  width: 100%;
}

.step {
  @apply --font-body-2-dark;

  width: 50%;
  padding: 0 1.25rem;
  vertical-align: top;

  &:not(:last-child) {
    margin-right: 1.25rem;
  }

  & > * {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.step_copy {
  margin-top: 0;
  margin-bottom: 1rem;
}

.step_legend {
  display: inline;
  margin: 0;
  padding: 0 0.75rem;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.screwdriver {
  overflow: visible;
  display: block;
  width: 8rem;
}

.diagram {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.check_pipette_button {
  display: block;
  width: 20rem;
  margin: 2rem auto 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.flipped_image {
  transform: scaleX(-1);
  filter: FlipH;
}
