@import '@opentrons/components';

.contents {
  & p,
  & ul {
    line-height: 1.5;
    padding-bottom: 1rem;
  }

  & ul {
    padding-left: 1rem;
  }
}

.button_bar {
  margin: 1rem -0.5rem -0.75rem 0;
  text-align: right;
}

.button {
  width: auto;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}
