.container {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: var(--spacing-32);
  left: 0;
  display: flex;
  overflow: visible;
  width: min(50rem, calc(100% - 2 * var(--spacing-40))); /* 800px max */
  min-width: 21.25rem; /* 340px */
  height: 4.5rem;
  box-sizing: border-box;
  align-items: center;
  padding: 0 var(--spacing-20);
  border-radius: var(--border-radius-full);
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 0 6px 1px rgb(22 33 45 / 15%);
}

.controls_left {
  display: flex;
  flex: 1;
  align-items: center;
  padding-right: var(--spacing-12);
  gap: var(--spacing-16);
}

.slider_wrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.speed_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.speed_button {
  position: relative;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: none;
  color: var(--text-color-black, #1d1d1d);
  cursor: pointer;

  /* this will be replaced by var when the size is defined */
  font-size: 16px;
  font-weight: 600;
  outline: none;
  transition: background-color 0.15s ease;
  user-select: none;
}

.speed_button:hover {
  background-color: var(--grey-30);
}

.speed_button:active {
  background-color: var(--grey-35);
}

.speed_button:focus-visible::after {
  position: absolute;
  border: 2px solid var(--blue-50);
  border-radius: 50%;
  content: '';
  inset: -8px;
  pointer-events: none;
}

.divider {
  width: 1px;
  height: 2rem;
  background-color: var(--border-color-gray, #e1e1e1);
}

.controls_right {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-12);
}

.icon_button {
  position: relative;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease;
}

.icon_button:hover {
  background-color: var(--grey-30);
}

.icon_button:active {
  background-color: var(--grey-35);
}

.icon_button:focus-visible::after {
  position: absolute;
  border: 2px solid var(--blue-50);
  border-radius: 50%;
  content: '';
  inset: -8px;
  pointer-events: none;
}
