[Unit]
Description=Opentrons System Resource Tracker
After=opentrons-robot-server.service

[Service]
Type=notify
ExecStart=python3 -m performance_metrics.system_resource_tracker
StateDirectory=system-resource-tracker
Environment=PYTHONPATH=/opt/opentrons-robot-server
Restart=on-failure
TimeoutStartSec=3min

[Install]
WantedBy=multi-user.target