@import '@opentrons/components';

.modal {
  @apply --modal;

  padding: 6rem 4rem;
}

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal_contents {
  z-index: 1;
  width: 100%;
  max-width: 38rem;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

.in_progress_contents {
  background-color: transparent;
}

.position_diagram,
.jog_container {
  width: 100%;
  margin: 1rem 0;
}

.position_diagram {
  padding: 1rem 2rem;
}

.diagram_title {
  @apply --font-header-dark;

  margin: 0 1rem 0.5rem;
}

.diagram_instructions {
  @apply --font-body-2-dark;

  margin: 0 1rem;
}

.diagram_image {
  max-width: 100%;
}

.jog_container {
  padding: 1rem 0;
}

.jog_controls {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-rows: repeat(3, [row] 3rem);
  grid-template-columns: repeat(3, [col] 3rem) auto repeat(3, [col] 3rem) auto repeat(3, [col] 3rem);
}

.jog_button {
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
  justify-self: center;

  &.back {
    grid-column: 2;
    grid-row: 2;
  }

  &.forward {
    grid-column: 2;
    grid-row: 3;
  }

  &.left {
    grid-column: 1;
    grid-row: 3;
  }

  &.right {
    grid-column: 3;
    grid-row: 3;
  }

  &.up {
    grid-column: 6;
    grid-row: 2;
  }

  &.down {
    grid-column: 6;
    grid-row: 3;
  }
}

.jog_increment {
  grid-row: 1;
  grid-column: 9/11;
}

.increment_group {
  grid-row: 2;
  grid-column: 9/11;
}

.increment_item {
  padding: 0.375rem;
}

.jog_label_xy,
.jog_label_z,
.jog_increment {
  @apply --font-header-dark;
}

.jog_label_xy {
  grid-column: 1 / 4;
  grid-row: 1;
}

.jog_label_z {
  grid-column: 5/8;
  grid-row: 1;
  text-align: center;
}

.confirm_pickup {
  width: 25rem;
  margin: auto;
  text-align: center;
}

.confirm_pickup_text {
  @apply --font-header-dark;

  margin-bottom: 1.5rem;
}

.confirm_pickup_button {
  margin-bottom: 0.75rem;
}

.spinner {
  width: 6rem;
  display: block;
  margin: auto;
  color: var(--c-font-light);
}
