@import '@opentrons/components';

.modal {
  @apply --modal;

  padding: 3rem 1.5rem;
}

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.modal_contents {
  z-index: 1;
  width: 100%;
  max-width: 48rem;
  margin: auto;
}

.position_diagram,
.jog_container {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.position_diagram {
  padding: 1.5rem;
  background-color: white;
}

.diagram_image {
  max-width: 100%;
}

.jog_container {
  border: 2px solid var(--c-light-gray);
  padding: 1rem;
}

.jog_controls {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-rows: repeat(2, [row] 3rem) auto;
  grid-template-columns: auto repeat(6, [col] 3rem) auto 1rem;
}

.jog_button {
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
  justify-self: center;

  &.back {
    grid-column: 3;
    grid-row: 1;
  }

  &.forward {
    grid-column: 3;
    grid-row: 2;
  }

  &.left {
    grid-column: 2;
    grid-row: 2;
  }

  &.right {
    grid-column: 4;
    grid-row: 2;
  }

  &.up {
    grid-column: 7;
    grid-row: 1;
  }

  &.down {
    grid-column: 7;
    grid-row: 2;
  }
}

.jog_label_xy,
.jog_label_z {
  @apply --font-body-2-light;

  padding-top: 0.5rem;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  text-align: center;
}

.jog_label_xy {
  grid-column: 2 / 5;
  grid-row: 3;
}

.jog_label_z {
  grid-column: 7;
  grid-row: 3;
}

.confirm_pickup {
  width: 25rem;
  margin: auto;
  text-align: center;
}

.confirm_pickup_text {
  @apply --font-header-light;

  margin-bottom: 1.5rem;
}

.confirm_pickup_button {
  margin-bottom: 0.75rem;
}

.spinner {
  width: 6rem;
  display: block;
  margin: auto;
  color: var(--c-font-light);
}
