.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--white);
}

.content_container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-40);
  margin-top: 7.75rem;
  gap: var(--spacing-8);
}

.content_container_keyboard_expanded {
  padding-bottom: 16.5rem;
}

.content_container_keyboard_collapsed {
  padding-bottom: var(--spacing-40);
}

.form_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-60);
  gap: var(--spacing-24);
}

.loading_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-40);
}

.spinner {
  width: 5.125rem;
  height: 5.125rem;
  color: var(--grey-60);
}

.keyboard_container {
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
}
