@import '@opentrons/components/styles';

.edit_icon,
.edit_icon_right {
  color: var(--c-med-gray);
  height: 1.5em;
}

.edit_icon_right {
  float: right;
}

.static_value {
  display: inline-block;
  height: 1.5em;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
