@import '@opentrons/components';

.file_page {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.card_content {
  padding: 1rem;
}

.file_page h1 {
  @apply var(--font-header-dark);
}

.file_page > * {
  margin: 1rem 2.5rem;
}

.pipette_button_row {
  display: flex;
  justify-content: center;
}

.edit_button,
.swap_button {
  display: block;
  margin: 0 0.5rem;
  width: 8rem;
}

.update_button {
  width: 8rem;
  align-self: flex-start;
}

.continue_button {
  width: 14rem;
}
