@import '@opentrons/components';

.file_page h1 {
  @apply var(--font-header-dark);
}

.file_page > * {
  margin: 1rem 2.5rem;
}

.button_row {
  display: flex;
  justify-content: flex-end;
}

.swap_button {
  display: block;
  margin: auto;
}

.update_button {
  width: 8rem;
  align-self: flex-start;
}

.continue_button {
  width: 14rem;
}
