@import '@opentrons/components';

.download_button,
.bottom_buttons {
  & button {
    margin: 1rem 0;
  }
}

.bottom_buttons {
  margin: 1rem 2rem;

  & button {
    /* Unlike PrimaryButton, OutlineButton isn't 100% width */
    width: 100%;
  }
}

.download_button {
  margin: 2rem 1rem;
}

.upload_button {
  display: block;
  width: 100%;

  & input {
    position: fixed;
    clip: rect(1px 1px 1px 1px);
  }
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--c-light-gray);
}
