/** A form that is attached to the top of the screen
 * (more specifically, top of relative parent)
 */
@import '@opentrons/components';

/* TODO Ian 2018-01-24 generic column fraction classes available in component css? */
.column_1_2 {
  lost-column: 1/2;
}

.column_1_3 {
  lost-column: 1/3;
}

.column_2_3 {
  lost-column: 2/3;
}

.column_1_4 {
  lost-column: 1/4;
}

.form {
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.rightmost_column {
  /* Make space for the absolute-positioned carats on the right */
  padding-right: 4rem;
}

.top_row {
  lost-utility: clearfix;
  margin-bottom: 1rem;

  & > * {
    lost-column: 1/4;
  }
}

.row_wrapper {
  lost-utility: clearfix;
}

.field_row {
  lost-utility: clearfix;
  min-height: 2.25rem;

  & > * {
    lost-column: 1/3;
  }

  & .full_width {
    lost-column: 2/3;
  }
}

.simple_button_row {
  lost-utility: clearfix;
  lost-align: right flex;

  & > * {
    lost-column: 1/6;
  }
}

/* TODO Ian 2018-05-30 clean up .button_row so it's more reusable, merge with .simple_button_row */
.button_row {
  lost-utility: clearfix;
  margin-top: 2rem;

  & > * {
    lost-column: 1/6;
  }
}

.more_options_button {
  @apply --font-header-dark;

  lost-column: 2/6;
}

.cancel_button {
  lost-offset: 2/6;
}
