/** A form that is attached to the top of the screen
 * (more specifically, top of relative parent)
 */
@import '@opentrons/components';

/* TODO Ian 2018-01-24 generic column fraction classes available in component css? */

.column_1_2 {
  lost-column: 1/2;
}

.column_1_3 {
  lost-column: 1/3;
}

.column_2_3 {
  lost-column: 2/3;
}

.column_1_4 {
  lost-column: 1/4;
}

.form {
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.top_row {
  lost-utility: clearfix;
  margin-bottom: 1rem;

  & > * {
    lost-column: 1/4;
  }

  /*
  & > *:first-child {
    lost-column: 1/2;
  }
  */
}

.row_wrapper {
  lost-utility: clearfix;
}

.field_row {
  lost-utility: clearfix;

  & > * {
    lost-column: 1/3;
  }
}

.button_row {
  lost-utility: clearfix;
  margin-top: 2rem;

  & > * {
    lost-column: 1/6;
  }

  & > *:first-child {
    /* MORE OPTIONS button */
    @apply --font-header-dark;

    lost-column: 2/6;
  }

  & > *:nth-child(2) {
    lost-offset: 2/6;
  }
}
