@import '@opentrons/components';

/** A form semi-modal that is attached to the top of the screen
 * (more specifically, top of relative parent)
 */
.form {
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.header {
  @apply --font-header-dark;

  padding-bottom: 1rem;
}

/* NOTE: explicit column classes should only be used for forms with a layout
 * that doesn't match the layout of transfer/distribute/consolidate/mix.
 * Eg the Pause form is an example of an exceptional layout.
 */
.column_1_2 {
  lost-column: 1/2;
}

.row_wrapper {
  lost-utility: clearfix;
}
