@import '@opentrons/components';

:root {
  --title-width: 7rem;
}

.form_section {
  position: relative;
  margin: 1rem 0;
  min-height: 1rem;
}

.title {
  @apply --font-header-dark;

  position: absolute;
  left: 0;
  top: 0;
}

.content {
  padding-left: var(--title-width);
}

.carat {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--c-dark-gray);
}
