.form_content {
  & > * {
    /* row spacing */
    margin: 0.5rem 0;
  }
}

/* fields */
.description_field {
  lost-column: 7/16;
}

.existing_ingred_field {
  lost-column: 5/16;
}

.ingred_title_field {
  lost-column: 4/16;
}

.serialize_name {
  lost-column: 6/16;
}

.volume_field {
  lost-column: 3/16;
}

/* buttons */

.button_row {
  display: flex;
  justify-content: flex-end;

  & > * {
    flex: calc(2 / 16);
    margin: 0 0.5rem;
  }
}
