@import '@opentrons/components';

:root {
  --ingredient_row: {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid var(--c-light-gray);

    & div {
      flex: 1;
    }

    & *:first-child {
      /* Well name */
      flex: 0.25;
      padding-left: 1rem;
    }

    & div:last-child {
      /* X to delete */
      flex: 0.25;
    }
  }
}

.delete_ingredient {
  cursor: pointer;
  float: right;
  font-size: 12pt;
  color: gray;
}

.delete_ingredient:hover {
  color: white;
  background-color: lightgray;
}

/* --------- */

.ingredient_titled_list {
  & :first-child > svg {
    /* TODO Ian 2018-02-21 Is there a better way to color the icon and not the collapse carat? */

    /* Ingredient color passed in from inline style */
    color: var(--swatch-color);
  }

  & > ol > :last-child {
    padding-bottom: 0;
    border: none;
  }

  margin-bottom: 0.5rem;
}

/* --------- */

.ingredient_row {
  @apply --ingredient_row;
}

.ingredient_row_header {
  @apply --ingredient_row;

  font-weight: var(--fw-bold);
}
