.flex_row {
  display: flex;
  justify-content: space-between;
}

.button_row {
  display: flex;
  justify-content: flex-end;

  & > * {
    flex: calc(1 / 4);
    margin: 0 0.2rem;
  }
}

.middle_row {
  composes: flex_row;
  justify-content: flex-start;

  & > * {
    flex: calc(1 / 3);
  }
}

.two_thirds {
  flex: calc(2 / 3);
}

.ingred_form_header {
  font-size: 10pt;
  font-weight: inherit;
  text-transform: uppercase;
  float: left;
  width: 100%;

  & > * {
    display: inline-block;
    border-radius: 0;
    margin: 0;
    color: gray;
    float: right;
  }

  & div:first-of-type {
    border-bottom: 1px solid gray;
    margin-right: 1em;
    color: black;
    float: left;
  }
}
