@import '@opentrons/components/styles';

.labware {
  margin: 2rem auto;
  max-width: 50rem;
}

.liquid_placement_modal {
  position: absolute;
  /* from legacy --absolute-fill */
  top: 0;
  /* from legacy --absolute-fill */
  right: 0;
  /* from legacy --absolute-fill */
  bottom: 0;
  /* from legacy --absolute-fill */
  left: 0;
  /* from legacy --absolute-fill */

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;

  /* make up lost space for overlay */
  height: 103%;

  &.expanded {
    height: 127%;
  }
}
