@import '@opentrons/components';

.labware {
  margin: 2rem auto;
  max-width: 50rem;
}

.liquid_placement_modal {
  @apply (--absolute-fill);

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;

  /* make up lost space for overlay */
  height: 103%;

  &.expanded {
    height: 127%;
  }
}
