@import '@opentrons/components';

.liquid_placement_modal {
  @apply(--absolute-fill);

  background-color: rgba(100, 100, 100, 0.8);

  /* make up lost space for overlay */
  height: 103%;

  &.expanded {
    height: 127%;
  }
}
