@import '@opentrons/components';

.list_item_button {
  z-index: 11;
  position: relative;
  padding: 1rem 2rem 1.25rem 2rem;
}

.buttons_popover {
  position: absolute;
  left: 2rem;
  right: 2rem;
}

.step_button_disabled {
  color: var(--c-font-disabled);
  fill: var(--c-font-disabled);
  cursor: default;

  &:hover,
  &.hover {
    background-color: var(--c-bg-dark);
  }
}
