@value colors: './Util.css';
@value blue, lightGrey, medGrey, darkGrey, plateBg from colors;
@value labelColor: gray;
@value rowLabelWidth: 1.5rem;

/* Well styles */

.well {
  stroke-width: 0.4;
  stroke: black;
  fill: var(--fill-color);
}

.selected {
  stroke-width: 1;
  stroke: blue;
}

/* TODO: RE-EVALUATE ALL BELOW FOR SVG */

.aspect_ratio {
  /*
  height: 50vh;
  width: calc(50vh * 86 / 127);
  */

  /* overflow: hidden; */
  background: transparent;
  position: relative;
  max-height: 55vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  /*
  border: 3px solid darkgray;
  border-radius: 10px;
  */
  background-color: white;

  /* text selection messes up drag & drop */
  user-select: none;
  cursor: default;
}

.fill_parent {
  background-color: white;
  user-select: none;
}

.layout_wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;

  /* grid-auto-columns: 2rem auto;
  grid-template:
     'rows plate' auto
     '.    cols' 2rem; */

  /* padding-right: 1rem; */
}

.plate {
  grid-area: plate;

  /* box-sizing: border-box; */

  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  /* grid-auto-flow: column;
	grid-auto-columns: 1fr;
	direction: ltr; */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

.row_labels_filler {
  /* display: flex; */
  order: -1;

  /* justify-content: space-around;
  flex-direction: column;
  color: labelColor; */
  width: rowLabelWidth;
}

.grid_col {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.grid_col > * {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Row Labels (Numbers) */
.grid_col:first-of-type :not(.col_label)::before {
  color: labelColor;
  width: rowLabelWidth;
  content: attr(data-row-num);
  position: absolute;
  left: calc(-1 * rowLabelWidth);
  font-size: 1rem;
}

.col_label {
  color: labelColor;
  font-size: 1rem;
}
