.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.main_page_wrapper {
  flex: 1;
  height: 100vh;
}

.main_page_content {
  position: relative;
}
