@import '@opentrons/components';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.main_page_wrapper {
  /* Wraps TitleBar + page content */
  display: flex;
  flex-direction: column;
  width: 100%;

  /* somehow ensure flex children shrink rather than overflow */
  overflow-x: hidden;
}

.main_page_content {
  top: 3rem;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}
