@import '@opentrons/components/styles';

.selection_rect {
  pointer-events: none; /* prevents this div from occluding wells during document.elementFromPoint sampling */
}

rect.selection_rect {
  /* svg version */
  fill: var(--c-selection-overlay);
  stroke: var(--c-highlight);
  stroke-width: 0.4;
}

div.selection_rect {
  /* normal html version */
  background-color: var(--c-selection-overlay);
  position: fixed;
  z-index: 1000;
  border-radius: 0;
  border: 1px solid var(--c-highlight);
}
