/* TODO Ian 2018-01-11 Use shades of gray for arrows and text */

.step_item {
  margin: 0.25rem 0;
}

.step_item ol {
  padding: 0;
  margin: 0;
}

/* Last .step_subitem */
.step_item ol li:last-child {
  border-bottom: none;
}

.step_item h3 {
  text-transform: uppercase;
}

.emphasized_cell {
  font-weight: bold;
}

/* Step Subitem */

.step_subitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem;
}

.step_subitem > * {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.step_subitem svg {
  flex: 1;
  height: 1.5rem;
}

/* Step Subitem Column Header */

.step_subitem_column_header {
  composes: step_subitem;
}

.step_subitem_column_header > * {
  flex: 2;
}
