@import '@opentrons/components';

:root {
  --step_subitem: {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-top: 2px solid var(--c-light-gray);
    text-align: center;

    & > * {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & svg {
      flex: 1;
      height: 1.5rem;
      color: var(--c-med-gray);
    }

    & .volume_cell {
      color: var(--c-med-gray);
      overflow: visible;
      text-align: right;
    }
  };
}

.step_subitem {
  @apply --step_subitem;
}

.step_item {
  margin: 0.25rem 0;
  color: var(--c-dark-gray);
}

.step_item ol {
  padding: 0;
  margin: 0;
}

/* Last .step_subitem */
.step_item ol li:last-child {
  border-bottom: none;
}

.step_item h3 {
  text-transform: uppercase;
}

.emphasized_cell {
  font-weight: bold;
}

/* Step Subitem Column Header */

.step_subitem_column_header {
  @apply --step_subitem;

  border: none;
}

.step_subitem_column_header > * {
  flex: 2;
}

/* Aspirate / dispense headers */
.aspirate_dispense {
  display: flex;
  padding: 0.5rem;
  font-size: var(--fs-body-1);
  text-align: left;

  & .spacer {
    flex: 1;
  }
}

.aspirate_dispense * {
  flex: 2;
}

/* Multi-channel row representing a single channel */
.step_subitem_channel_row {
  @apply --step_subitem;

  border-bottom: 1px var(--c-med-gray) dashed;
  background-color: var(--c-light-gray);
}

/* Inner collapse carat */

.inner_carat {
  @apply --clickable;
}
