@import '@opentrons/components/styles';

.notes {
  font-size: var(--fs-body-1); /* from legacy --font-body-1-dark */
    font-weight: var(--fw-regular); /* from legacy --font-body-1-dark */
    color: var(--c-font-dark); /* from legacy --font-body-1-dark */

  padding: 0.5rem;
  border-bottom: var(--bd-light);
}

.notes header {
  font-style: italic;
  font-weight: bold;
}
