.well_tool_tip {
  position: absolute;
  font-size: 1rem;
  text-align: left;
  background-color: white;
  border: 1px solid gray;
  padding: 0.5em;
  z-index: 1;
  top: 50px;
}

.well_tool_tip h1 {
  font-size: 1.5em;
  margin: 0;
}

.info_row {
  display: flex;
}

.info_row * {
  color: gray;
  width: auto;
  white-space: nowrap;
  margin: 0 1em;
}

.instance_name {
  color: black;
}
