@import '@opentrons/components/styles';

.wrapper {
  user-select: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--fw-semibold);
  color: var(--c-white);
}

.click_drag_icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.instructional_text {
  display: inline-block;
  text-align: left;

  & p {
    padding-bottom: 0.5rem;
  }
}
