input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 500px;
  margin: 0 auto;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-space {
  min-width: 150px;
  max-width: none;
}

.simple-keyboard.hg-theme-default .hg-button[data-skbtnuid^='numbers-'] {
  width: 33%;
  max-width: none;
}

.simple-keyboard .hg-button-numbers {
  max-width: 80px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-ent {
  max-width: 80px;
}
