/* stylelint-disable */

.simple-keyboard.oddTheme1.hg-theme-default {
  background-color: #d0d0d0;
  font-family: 'Public Sans', sans-serif;
  padding: 8px;
}

.simple-keyboard.oddTheme1 .hg-row .hg-button:not(:last-child) {
  margin-right: 8px;
}

.simple-keyboard.oddTheme1 .hg-row {
  margin-bottom: 8px;
}

.simple-keyboard.oddTheme1.hg-button {
  min-width: 48px;
  height: 48px;
  font-size: 28px;
  margin-bottom: 8px;
}

.simple-keyboard.oddTheme1.hg-button :focus {
  -webkit-tap-highlight-color: #e3e3e3;
}

.simple-keyboard.oddTheme1.hg-button :active {
  -webkit-tap-highlight-color: #e3e3e3;
}
