[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[requires]
python_version = "3.10"

[packages]
opentrons = { editable = true, path = "../api" }
opentrons-shared-data = { editable = true, path = "../shared-data/python" }
opentrons-hardware = { editable = true, path = "./../hardware" }
pydantic = "==1.8.2"
pyzmq = "==19.0.2"
typing-extensions = "==4.1.1"

[dev-packages]
notify-server = { editable = true, path = "." }
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
mock = "~=4.0.2"
mypy = "==0.910"
pytest = "==7.0.1"
pytest-cov = "==2.10.1"
pytest-asyncio = "==0.15.1"
pytest-xdist = "~=2.2.1"
black = "==22.3.0"
