.root_container {
  display: flex;
  height: 2.75rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--spacing-8);
  border-bottom: 1px solid var(--grey-30);
  background-color: var(--white);
  gap: var(--spacing-24);
}

.left_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.right_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.crumb_container {
  display: flex;
  padding-right: var(--spacing-4);
}

.text_style {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  word-break: normal;
}

.crumb_link {
  color: inherit;
  text-decoration: none;
}

.crumb_link:hover {
  opacity: 0.8;
}

.crumb_link_inactive {
  color: inherit;
  text-decoration: none;
}

.crumb_link_inactive:hover {
  opacity: 1;
}

.crumb_and_separator {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.crumb_active {
  color: var(--blue-50);
}

.crumb_inactive {
  color: var(--grey-50);
}

.separator {
  flex: none;
}

.account_popover_menu_container {
  position: relative;
}
