.skeleton {
  display: flex;
  padding: var(--spacing-16);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16);
  align-self: stretch;
  width: 100%;
  margin-bottom: var(--spacing-16);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  box-sizing: border-box;
}
