@import '..';

.alert {
  font-size: var(--fs-body-2);
  font-weight: var(--fw-regular);
}

.alert:not(:first-of-type) {
  border-top: none;
}

.title_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.title {
  width: 100%;
}

.success {
  border: 1px solid #60b120;

  & > .title_bar {
    background-color: #b6febc;
    color: #60b120;

    & svg {
      fill: #60b120;
    }
  }
}

.info {
  border: 1px solid #0ec9eb;

  & > .title_bar {
    background-color: #f0f3ff;
    color: #0ec9eb;

    & svg {
      fill: #0ec9eb;
    }
  }
}

.warning {
  border: 1px solid var(--c-warning);

  & > .title_bar {
    background-color: #ffd58f;
    color: #7c4d00;

    & svg {
      fill: var(--c-warning);
    }
  }
}

.message {
  padding: 1rem 3rem;
  background-color: white;

  & a {
    text-decoration: underline;
    color: inherit;
  }
}

.icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.close {
  width: 2rem;
  padding: 0.125rem;

  &:hover {
    background-color: rgba(100, 100, 100, 0.1);
  }
}
