@import '@opentrons/components';

.menu_panel {
  & > * {
    margin: 0.5rem 0 1.5rem;
  }
}

.menu_list {
  list-style: none;
  margin: 1rem 0 0;
}

.menu_item {
  text-transform: uppercase;
  font-size: var(--fs-body-2);
  margin-bottom: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  & > span {
    width: 100%;
  }
}

.menu_icon {
  width: 1.5rem;
}

.active {
  color: #0ec9eb;
  fill: #0ec9eb;
  background-color: #f0f3ff;
}
