.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-16);
  gap: var(--spacing-24);
}

.camera_setting_container {
  display: flex;
  align-items: center;
  padding: var(--spacing-16);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-20);
  gap: var(--spacing-40);
}

.camera_setting_text_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-8);
}

.camera_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera_setting {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-8);
}

.camera_status_enabled {
  color: var(--green-60);
}

.camera_status_disabled {
  color: var(--grey-60);
}

.setting_toggle_container {
  display: flex;
  width: 8.313rem;
  justify-content: flex-end;
}

.usage_settings_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.usage_settings_card_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.control_settings_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
