:root {
  --form-max-width: 55rem; /* 'breakpoint' for gutter */
  --form-button-width: 6.25rem;
  --form-button-margin: 0.625rem;
}

.form_wrapper {
  max-width: var(--form-max-width);
}

.form_button {
  width: var(--form-button-width);
}

.form_button:not(:last-child) {
  margin-right: var(--form-button-margin);
}
