/* TODO(mc, 2018-02-09): fix lint errors and remove this ignore */
/* stylelint-disable selector-class-pattern, font-family-no-missing-generic-family-keyword  */
@import '@opentrons/components';

.run_page {
  position: relative;
}

.run_log_wrapper {
  box-sizing: border-box;
  font-family: 'Open Sans';
  overflow-y: scroll;
  border: 1rem solid white;
  max-height: calc(100vh - 3.5rem);
}

.alert_visible {
  border-top-width: 3rem;
}

.list {
  list-style-type: none;
  padding: 0;
  color: #999;
}

.list li {
  margin: 0.5rem 0;
}

.indent-1 p::before,
.indent-2 p::before {
  content: '\21b3';
}

.indent-1 p {
  padding-left: 2rem;
}

.indent-2 p {
  padding-left: 3rem;
}

li.executed {
  color: black;
}

li.current {
  background-color: var(--c-bg-selected);
}

li.last_current {
  color: var(--c-highlight);
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
