/* button styling */

.button {
  padding: 0.5rem 1.5rem;
  border: none;
  text-transform: uppercase;
}

.button_primary {
  composes: button;
  width: 100%;
  border-radius: 2px;

  /* TODO(mc, 2017-12-07): pull typeography out to central file */
  text-align: center;
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 600;

  /* TODO(mc, 2017-12-07): pull colors out to central file */
  color: white;
  background-color: #4a4a4a;

  /* TODO(mc, 2017-12-07): pull shadows out to central file */
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.24);
}

.button_primary:hover {
  background-color: #333;
}

.button_primary:active {
  font-weight: normal;
  background-color: #6c6c6c;

  /* TODO(mc, 2017-12-07): pull shadows out to central file */
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.24);
}

.button_primary[disabled],
.button_primary.disabled {
  font-weight: normal;
  color: #9c9c9c;
  background-color: #d2d2d2;
  box-shadow: none;
}

.buttonIcon {
  float: left;
  height: 1rem;
}
