@import '@opentrons/components';

.deck {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 100%;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.spinner {
  color: var(--c-font-light);
}

.module {
  color: var(--c-black);
}

.module_icon {
  color: var(--c-white);
}

.module_review_icon {
  color: var(--c-orange);
}

.module_review_icon_ok {
  color: var(--c-green);
}

.module_review_text {
  fill: currentColor;
  font-size: 0.5rem;
  font-weight: var(--fw-semibold);
  color: var(--c-white);
  text-transform: uppercase;
  white-space: pre;
}
