.button {
  background-color: var(--blue-30);
  border: none;
  border-radius: var(--border-radius-8);
  cursor: pointer;
  color: var(--black-90);
}
.button:hover {
  background-color: var(--blue-50);
  color: white;
}

.button_active {
  background-color: var(--blue-50);
  color: white;
}

.button_container {
  display: flex;
  padding: var(--spacing-12) var(--spacing-16);
  align-items: center;
  gap: var(--spacing-4);
}
