@import '@opentrons/components';

.deck_map {
  margin: 5%;
}

.module_tag {
  width: 100%;
  background-color: var(--c-plate-bg);
  color: var(--c-font-dark);
  padding: 0.3rem 0.1rem 0 0.1rem;
  border: 3px solid transparent;
}

.module_info {
  /* NOTE(IL, 2020-05-20): font size 0.5rem isn't the same as 0.5rem outside of SVG + foreignObject world */
  font-size: 0.5rem;
  font-weight: var(--fw-semibold);
  padding-bottom: 0.3rem;
}

.name_overlay {
  width: 100%;
  font-size: 0.5rem;
  color: var(--c-font-light);
  background-color: color-mod(var(--c-black) alpha(0.75));
  padding: 0.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.display_name {
  font-weight: var(--fw-regular);
  color: var(--c-font-light);
  text-transform: uppercase;
}

.offset_label {
  font-weight: var(--fw-semibold);
}

.labware_info_overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
}

.modal {
  display: flex;
  align-items: flex-start;
  z-index: 100;
}

.modal_contents {
  max-width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.close_button_wrapper {
  display: flex;
  justify-content: center;
}
