/* Chip Container Styles */
.chip_container {
  display: flex;
  width: max-content;
  height: max-content;
  flex-direction: row;
  align-items: center;
}

.chip_container.medium {
  padding: var(--spacing-4) var(--spacing-8);
  gap: var(--spacing-4);
}

.chip_container.medium_with_background {
  padding: var(--spacing-4) var(--spacing-8);
  gap: var(--spacing-4);
}

.chip_container.small {
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-4);
}

.chip_container.small_with_background {
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-4);
}

.chip_container.no_background {
  padding-right: 0;
  padding-left: 0;
}

/* for TOUCH */
@media (height: 600px) and (width: 1024px) {
  .chip_container.medium,
  .chip_container.medium_with_background {
    padding: var(--spacing-8) var(--spacing-16);
    gap: var(--spacing-8);
  }

  .chip_container.small,
  .chip_container.small_with_background {
    padding: var(--spacing-4) var(--spacing-8);
    gap: var(--spacing-4);
  }

  .chip_container.no_background {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Chip Type Backgrounds */
.error {
  border-radius: 200px;
  background-color: var(--red-30);
}

.info {
  border-radius: 200px;
  background-color: var(--blue-30);
}

.neutral {
  border-radius: 200px;
  background-color: var(--grey-30);
}

.success {
  border-radius: 200px;
  background-color: var(--green-30);
}

.warning {
  border-radius: 200px;
  background-color: var(--yellow-30);
}

.transparent {
  background-color: transparent;
}

/* Icon Styles */
.icon {
  width: 1rem;
  height: 1rem;
}

.icon_small {
  width: 0.75rem;
  height: 0.75rem;
}

.icon_small_connection_status {
  width: 0.5rem;
  height: 0.5rem;
}

/* for ODD */
@media (height: 600px) and (width: 1024px) {
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .icon_small,
  .icon_small_connection_status {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* Text Styles */
.text_medium {
  font-size: var(--font-size-h4);
  font-weight: 600;
  line-height: var(--line-height-20);
}

.text_small {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
}

/* for ODD */
@media (height: 600px) and (width: 1024px) {
  .text_medium {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .text_small {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
}

/* Text Colors */
.text_error {
  color: var(--red-60);
}

.text_info {
  color: var(--blue-60);
}

.text_neutral {
  color: var(--grey-60);
}

.text_success {
  color: var(--green-60);
}

.text_warning {
  color: var(--yellow-60);
}

/* Icon Colors */
.icon_error {
  color: var(--red-60);
}

.icon_info {
  color: var(--blue-60);
}

.icon_neutral {
  color: var(--grey-60);
}

.icon_success {
  color: var(--green-60);
}

.icon_warning {
  color: var(--yellow-60);
}

/* Animation */
.pulse_animation {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  50% {
    fill: currentColor;
  }

  50.1%,
  100% {
    fill: transparent;
  }
}
