<section>
    <h2 class="title">Calibrate {{this.title}}</h2>
    <div class="instructions">
        {{#if this.isTipRack}} 
        <!-- TIPRACK -->
            {{#if this.isSingle}}
            <!-- SINGLE CHANNEL + TIPRACK -->
            Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the - need wording for pipette and tip alignment here- 
            {{else}}
            <!-- MULTI CHANNEL + TIPRACK -->
            Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the - need wording for pipette and tip alignment here- 
            {{/if}} 
        {{else}}
        <!-- !TIPRACK -->
            {{#if this.isContainer}} 
                {{#if this.isSingle}}
                <!-- SINGLE CHANNEL + CONTAINER -->
                Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well. 
                {{else}}
                <!-- MULTI CHANNEL + CONTAINER -->
                Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well. {{/if}}
            {{else}}
            <!-- !CONTAINER - POINT -->
            Calibrate over the center of the container you choose to use. 
            {{/if}} 
        {{/if}}
    </div>
    <div class="step">
        <div class="move">
            <h3 class="title">Jog X-Y-Z</h3>
            <div class="jog">
                <a href="#" class="btn-full btn-y">Y</a>
                <a href="#" class="btn-full btn-z">Z</a>
                <a href="#" class="btn-full">X</a>
                <a href="#" class="btn-full btn-x">X</a>
                <a href="#" class="btn-full btn-y">Y</a>
                <a href="#" class="btn-full btn-z ">Z</a>
            </div>
            <h3 class="title">Select Increment [mm]</h3>
            <div class="increment">
                <a href="#" class="btn-full btn-group">20</a>
                <a href="#" class="btn-full btn-group">10</a>
                <a href="#" class="btn-full btn-group">5</a>
                <a href="#" class="btn-full btn-group">1</a>
                <a href="#" class="btn-full btn-group">0.5</a>
                <a href="#" class="btn-full btn-group">0.1</a>
                <a href="#" class="btn-slot">&#8596; slot-x </a>
                <a href="#" class="btn-slot">&#8597; slot-y </a>
            </div>
            <h3 class="title">Move to Slot</h3>
            <div class="deck">
                <a href="#" class="btn-deck">A3</a>
                <a href="#" class="btn-deck">B3</a>
                <a href="#" class="btn-deck">C3</a>
                <a href="#" class="btn-deck">D3</a>
                <a href="#" class="btn-deck">E3</a>
                <a href="#" class="btn-deck">A2</a>
                <a href="#" class="btn-deck">B2</a>
                <a href="#" class="btn-deck">C2</a>
                <a href="#" class="btn-deck">D2</a>
                <a href="#" class="btn-deck">E2</a>
                <a href="#" class="btn-deck">A1</a>
                <a href="#" class="btn-deck">B1</a>
                <a href="#" class="btn-deck">C1</a>
                <a href="#" class="btn-deck">D1</a>
                <a href="#" class="btn-deck">E1</a>
            </div>
        </div>
        <!-- end move -->
        <div class="save-deck">
            <h3 class="title">Deck Position</h3>
            <div class="coords">
                <label class="label">X:</label>
                <input type="text" value="0" />
                <label class="label">Y:</label>
                <input type="text" value="0" />
                <label class="label">Z:</label>
                <input type="text" value="0" />
            </div>
            <h3 class="title">{{this.title}}</h3>
            <div class="wrap">
                <div class="well">
                    <img src="../../img/{{this.container_top}}" />
                </div>
                {{#if this.isContainer}}
                    {{#if this.isTipRack}} 
                    <div class="update">
                        <a href="#{{this.container_top}}" class="position">Title</a>
                        <a class="btn-update save ">Save </a>
                        <a class="btn-update moveto">Move To</a>
                        <!-- DROPTIP FOR TIPRACKS ONLY -->
                        <a class="pick-tip ">Pick Up Tip </a>
                    </div>
                    {{else}}
                    <div class="update">                   
                        <a href="#{{this.container_top}}" class="position">Top</a>
                        <a class="btn-update save ">Save </a>
                        <a class="btn-update moveto">Move To</a>
                        <a href="#{{this.container_bottom}}" class="position ">Bottom</a>
                        <a class="btn-update save ">Save </a>
                        <a class="btn-update moveto">Move To </a>
                    </div>
                    {{/if}}
                {{else}}
                <div class="update">
                        <a href="#{{this.container_top}}" class="position">Title</a>
                        <a class="btn-update save ">Save </a>
                        <a class="btn-update moveto">Move To</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    </div>
    <nav><a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
    <div id="info" class="infoModal">
        <div> <a href="#close" title="Close" class="close">X</a>
            <h2>Title</h2> 
            {{#if this.isTipRack}} 
                {{#if this.isSingle}}
                <p>Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the - need wording for pipette and tip alignment here-</p>
                {{else}}
                <p>Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the - need wording for pipette and tip alignment here-</p>
                {{/if}} 
            {{else}} 

            {{#if this.isContainer}} {{#if this.isSingle}}
            <!-- if single -->
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well.</p>
            {{else}}
            <!-- if multi -->
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well.</p>
            {{/if}}
            <h3 class="title">Front View</h3>
            <img class="diagram" src="../../img/{{this.image_front}}" /> {{else}}
            <!-- Trash or scale -->
            <p>Calibrate over the center of the container you choose to use.</p>
            {{/if}} 
            {{/if}}
        </div>
    </div>
</section>
