<section>
    <h2 class="title">Calibrate {{this.title}}</h2>
    <div class="instructions">
        {{#if this.isTipRack}}
        <!-- TIPRACK -->
        {{#if this.isSingle}}
        <!-- SINGLE CHANNEL + TIPRACK -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the - need wording for pipette and tip alignment here- {{else}}
        <!-- MULTI CHANNEL + TIPRACK -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the - need wording for pipette and tip alignment here- {{/if}} {{else}}
        <!-- !TIPRACK -->
        {{#if this.isContainer}} {{#if this.isSingle}}
        <!-- SINGLE CHANNEL + CONTAINER -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well. {{else}}
        <!-- MULTI CHANNEL + CONTAINER -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well. {{/if}} {{else}}
        <!-- !CONTAINER - POINT -->
        Calibrate over the center of the container you choose to use. {{/if}} {{/if}}
    </div>
    <div class="step">
        <div class="move">
            <h3 class="title">Jog X-Y-Z</h3>
            <div class="jog">
                <a href="#" data-axis="y" data-direction="neg" class="btn-full btn-y">Y</a>
                <a href="#" data-axis="z" data-direction="neg" class="btn-full btn-z">Z</a>
                <a href="#" data-axis="x" data-direction="neg" class="btn-full x">X</a>
                <a href="#" data-axis="x" data-direction="pos" class="btn-full btn-x">X</a>
                <a href="#" data-axis="y" data-direction="pos" class="btn-full btn-y">Y</a>
                <a href="#" data-axis="z" data-direction="pos" class="btn-full btn-z">Z</a>
            </div>
            <h3 class="title">Select Increment [mm]</h3>
            <div class="increment xyz">
                <button data-increment="20" class="btn-full btn-group">20</button>
                <button data-increment="10" class="btn-full btn-group">10</button>
                <button data-increment="5" class="btn-full btn-group">5</button>
                <button data-increment="1" class="btn-full btn-group">1</button>
                <button data-increment="0.5" class="btn-full btn-group">0.5</button>
                <button data-increment="0.1" class="btn-full btn-group">0.1</button>
                <button data-increment="91" class="btn-slot">&#8596; slot-x </button>
                <button data-increment="135" class="btn-slot">&#8597; slot-y </button>
            </div>
            <h3 class="title">Move to Slot</h3>
            <div class="deck">
                <!-- testing x,y data attributes for absolute movement, 
            need specific coords moving forward -->
                <button data-x="1" data-y="2" class="btn-deck">A3</a>
                <button class="btn-deck">B3</button>
                <button class="btn-deck">C3</button>
                <button class="btn-deck">D3</button>
                <button class="btn-deck">E3</button>
                <button class="btn-deck">A2</button>
                <button class="btn-deck">B2</button>
                <button class="btn-deck">C2</button>
                <button class="btn-deck">D2</button>
                <button class="btn-deck">E2</button>
                <button class="btn-deck">A1</button>
                <button class="btn-deck">B1</button>
                <button class="btn-deck">C1</button>
                <button class="btn-deck">D1</button>
                <button class="btn-deck">E1</button>
            </div>
        </div>
        <!-- end move -->
        <div class="save-deck">
            <h3 class="title">Deck Position</h3>
            <div class="coords">
                <label class="label">X:</label>
                <input type="text" value="0" />
                <label class="label">Y:</label>
                <input type="text" value="0" />
                <label class="label">Z:</label>
                <input type="text" value="0" />
            </div>
            <h3 class="title">{{this.title}}</h3>
            
            <div class="calibration-modal mode-top">
                <div class="well-img">
                    <img src="../../img/{{this.container_top}}" class="top"/>
                    <img src="../../img/{{this.container_bottom}}" class="bottom" />
                </div>
                {{#if this.isContainer}}
                    {{#if this.isTipRack}} 
                    <div class="update">
                        <!-- Tiprack Specific buttons -->
                        <a href="#{{this.container_top}}" class="position top">Title</a>
                        <button class="btn-update save top">Save </button>
                        <button class="btn-update moveto">Move To</button>
                        <button class="pick-tip top">Pick Up Tip </button>
                    </div>
                    {{else}}
                    <div class="update">
                     <a href="#{{this.container_top}}" class="position top">Top</a>
                        <button class="btn-update save top">Save </button>
                        <button class="btn-update moveto ">Move To</button>
                        
                        <a href="#{{this.container_bottom}}" class="position bottom">Bottom</a>
                        <button class="btn-update save bottom">Save </button>
                        <button class="btn-update moveto">Move To </button>
                    </div>
                    {{/if}}
                    {{else}}
                    <div class="update">
                    <a href="#{{this.container_top}}" class="position top">Title</a>
                        <button class="btn-update save top ">Save </button>
                        <button class="btn-update moveto">Move To</button>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
    </div>
    <nav><a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
    <div id="info" class="infoModal">
        <div> <a href="#close" title="Close" class="close">X</a>
            <h2>Title</h2> {{#if this.isTipRack}} {{#if this.isSingle}}
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the - need wording for pipette and tip alignment here-</p>
            {{else}}
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the - need wording for pipette and tip alignment here-</p>
            {{/if}} {{else}} {{#if this.isContainer}} {{#if this.isSingle}}
            <!-- if single -->
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well.</p>
            {{else}}
            <!-- if multi -->
            <p>Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well.</p>
            {{/if}}
            <h3 class="title">Front View</h3>
            <img class="diagram" src="../../img/{{this.image_front}}" /> {{else}}
            <!-- Trash or scale -->
            <p>Calibrate over the center of the container you choose to use.</p>
            {{/if}} {{/if}}
        </div>
    </div>
</section>
