<section>
    <h2 class="title">Calibrate {{this.title}}</h2>
    <!-- <p>Step id:{{ id }}</p> -->
    <div class="instructions">{{#if this.isContainer}} {{#if this.isSingle}}
        <!-- if single -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well. {{else}}
        <!-- if multi -->
        Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well. {{/if}} {{else}}
        <!-- Trash or scale -->
        Calibrate over the center of the container you choose to use. {{/if}}
    </div>
    <div class="step">
        <div class="move">
            <h3 class="title">Jog X-Y-Z</h3>
            <div class="jog">
                <a href="#" class="btn-full btn-y">Y</a>
                <a href="#" class="btn-full btn-z">Z</a>
                <a href="#" class="btn-full">X</a>
                <a href="#" class="btn-full btn-x">X</a>
                <a href="#" class="btn-full btn-y">Y</a>
                <a href="#" class="btn-full btn-z ">Z</a>
            </div>
            <h3 class="title">Select Increment [mm]</h3>
            <div class="increment">
                <a href="#" class="btn-full btn-group">20</a>
                <a href="#" class="btn-full btn-group">10</a>
                <a href="#" class="btn-full btn-group">5</a>
                <a href="#" class="btn-full btn-group">1</a>
                <a href="#" class="btn-full btn-group">0.5</a>
                <a href="#" class="btn-full btn-group">0.1</a>
                <a href="#" class="btn-slot">&#8596; slot-x </a>
                <a href="#" class="btn-slot">&#8597; slot-y </a>
            </div>
            <h3 class="title">Move to Slot</h3>
            <div class="deck">
                <a href="#" class="btn-deck">A3</a>
                <a href="#" class="btn-deck">B3</a>
                <a href="#" class="btn-deck">C3</a>
                <a href="#" class="btn-deck">D3</a>
                <a href="#" class="btn-deck">E3</a>
                <a href="#" class="btn-deck">A2</a>
                <a href="#" class="btn-deck">B2</a>
                <a href="#" class="btn-deck">C2</a>
                <a href="#" class="btn-deck">D2</a>
                <a href="#" class="btn-deck">E2</a>
                <a href="#" class="btn-deck">A1</a>
                <a href="#" class="btn-deck">B1</a>
                <a href="#" class="btn-deck">C1</a>
                <a href="#" class="btn-deck">D1</a>
                <a href="#" class="btn-deck">E1</a>
            </div>
        </div>
        <!-- end move -->
        <div class="move-pipette">
            <h3 class="title">Jog Plunger</h3>
            <div class="plunger">
                {{#if this.centerPipette}}
                <div class="jog-a">
                    {{else}}
                    <div class="jog-b">
                        {{/if}}
                        <a href="#" class="btn-full btn-ab">P</a>
                        <a href="#" class="btn-full btn-ab btn-down">P</a>
                    </div>
                </div>
                <div class="increment pipette">
                    <a href="#" class="btn-full btn-group">2</a>
                    <a href="#" class="btn-full btn-group">1</a>
                </div>
                <div class="increment">
                    <a href="#" class="btn-full btn-group">0.5</a>
                    <a href="#" class="btn-full btn-group">0.1</a>
                </div>
            </div>
            <!-- end move-pipette -->
            <div class="save-pipette">
                <h3 class="title">Current Position</h3>
                <div class="coords">
                    <label class="label">X:</label>
                    <input type="text" value="0" />
                    <label class="label">Y:</label>
                    <input type="text" value="0" />
                    <label class="label">Z:</label>
                    <input type="text" value="0" />
                    <label class="label">A:</label>
                    <input type="text" value="0" />
                </div>
                <h3 class="title">{{this.title}} {{data.actuator}}</h3>
                <div class="wrap">
                    <div class="plunger">
                        <img src="../../img/OT_Pipette_Bottom1.png" />
                    </div>
                    <div class="update">
                        <span class="position ">Top</span>
                        <a class="btn-update save ">Save</a>
                        <a class="btn-update moveto ">Move</a>
                        <span class="position bottom">Bottom</span>
                        <a class="btn-update save bottom">Save</a>
                        <a class="btn-update moveto bottom">Move</a>
                        <span class="position">Blowout</span>
                        <a class="btn-update save">Save</a>
                        <a class="btn-update moveto">Move</a>
                        <span class="position">Drop Tip</span>
                        <a class="btn-update save">Save</a>
                        <a class="btn-update moveto">Move</a>
                    </div>
                </div>
            </div>
            <!-- end save pipette -->
        </div>
        <nav><a href="#" class="prev">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
</section>
<div id="info" class="infoModal">
    <div> <a href="#close" title="Close" class="close">X</a>
        <h2>Title</h2> {{#if this.isContainer}} {{#if this.isSingle}}
        <!-- if single -->
        <p>Calibrate {{data.pipette}} to {{data.user_container_name}} position A1, with the bottom of the tip(s) level with the top of the well.</p>
        {{else}}
        <!-- if multi -->
        <p>Calibrate {{data.pipette}} to {{data.user_container_name}} row 1, with the bottom of the tip(s) level with the top of the well.</p>
        {{/if}}
        <h3>Front View</h3>
        <img src="../../img/{{this.image_front}}" />
        <h3>Top View</h3>
        <img src="../../img/{{this.image_top}}" /> {{else}}
        <!-- Trash or scale -->
        <p>Calibrate over the center of the container you choose to use.</p>
        {{/if}}
    </div>
</div>
