<section>
    <h2 class="title">Upload Protocol</h2>
    <div class="instructions">
  
    </div>
    <div class="step step-upload">
        <p> Upload your .json file here.</p>
        <input id="uploadFile" placeholder="No File Selected" disabled="disabled" />
        <div class="fileUpload">
            <span>Upload</span>
            <input id="uploadBtn" type="file" class="upload" />
        </div>
    </div>
    <nav><a href="#" class="prev first">Prev</a><a href="#info" class="help">?</a><a href="#" class="next">Next</a></nav>
    <div id="info" class="infoModal">
        <div> <a href="#close" title="Close" class="close">X</a>
            <h2>Title</h2>
            <p>
                Images would go here along with explanation text.
            </p>
        </div>
    </div>
</section>
