/* Upload component styles */
@import '@opentrons/components';

.results {
  @apply --center-children;

  width: 100%;
  margin-top: 1.25rem;
}

.error_icon {
  width: 6rem;
}

.status {
  @apply --font-body-2-dark;

  margin-left: 2rem;
  max-width: 24rem;
}

.status_message,
.error_message {
  font-weight: var(--fw-semibold);
  margin-bottom: 0.75rem;
}

.error_icon,
.error_message {
  color: var(--c-red);
}
