.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-24);
}

.button_row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.download_button_content {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
