.radial_timer_container {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.radial_timer_svg {
  position: absolute;
  width: 100%;
  inset: 0;
  height: 100%;
}

.radial_timer_track {
  fill: none;
  stroke: var(--grey-20);
  stroke-width: 3px;
}

.radial_timer_progress {
  fill: none;
  stroke: var(--grey-60);
  stroke-dasharray: var(--ring-circumference);
  stroke-width: 3px;
  animation: radial-timer-animation var(--animation-duration) linear forwards;
  stroke-linecap: round;
}

@keyframes radial-timer-animation {
  from {
    stroke-dashoffset: var(--ring-offset-start);
  }

  to {
    stroke-dashoffset: var(--ring-circumference);
  }
}
