/******************************
Run Screen
******************************/
.runScreen {
    .runCommand {
        padding-bottom: 16px;
        margin: 25px;
        &:last-child {
            color: $primary-brand;
        }
    }

    #exit-wrapper {
        position: fixed;
        margin-right: 50px;
    }
    #exit {
        position: absolute;
        top: auto;
        padding-left: 685px;
        padding-right: 10px;
        cursor: pointer;
        color: $secondary-brand;
    }
}
