@import '@opentrons/components';

.labware_list_wrapper {
  @apply --font-body-1-dark;

  padding: 1rem 0;
}

.unstyled_list {
  list-style: none;
}

.message_wrapper {
  padding: 0 1rem 0.5rem;
}

.warning {
  display: flex;
  align-items: flex-start;
  color: var(--c-warning);
}

.warning_icon {
  flex: none;
  width: 1.5rem;
  margin-top: 0.25rem;
  margin-right: 1rem;
}

.error_message,
.item_warning_wrapper {
  margin-top: 0.75rem;
}

.italic {
  font-style: italic;
}

.list_column_titles {
  display: flex;
  padding: 1rem;
  font-size: var(--fs-caption);
  text-transform: uppercase;
}

.item {
  display: flex;
  align-items: flex-start;
  border-top: var(--bd-light);
  padding: 1rem;
}

.invalid {
  color: var(--c-med-gray);
}

.item_category_column,
.item_date_column {
  flex: none;
  width: 5rem;
}

.item_date_column {
  text-align: center;
}

.item_name_column {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.item_primary_name {
  font-weight: var(--fw-semibold);
}

.item_titled_name {
  display: flex;
  align-items: baseline;
  margin-top: 0.25rem;
}

.titled_name_title {
  flex: none;
  width: 4rem;
  font-size: var(--fs-caption);
  text-transform: uppercase;
}
