@import '@opentrons/components';

/*
TODO (ka 2018-7-25): These components and thier styles should be replaced width
updated component library cards after redesign/refactor
*/

.status_card {
  position: relative;
  margin-top: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
}

.card_title {
  @apply --font-body-2-dark;

  padding: 1rem 0.5rem 0;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.card_row {
  padding: 1rem 0.5rem;
  text-align: justify;
  font-size: var(--fs-body-1);
}

.card_row:not(:last-child) {
  border-bottom: var(--bd-light);
  border-bottom-width: 1px;
}

.card_row > div {
  display: inline-block;
  min-width: 50%;
}

.label {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

.value {
  text-transform: capitalize;
}

.data_row {
  display: flex;
  justify-content: space-between;
  max-width: 7rem;
}

.compact_labeled_value > p {
  margin-bottom: 0;
}

.inline_labeled_value {
  @apply --font-body-1-dark;

  display: flex;
}

.time_remaining_wrapper {
  margin-top: 0.5rem;
}

.time_remaining_label {
  margin-right: 1rem;
  font-weight: var(--fw-semibold);
}

.temp_control_button {
  width: 7rem;
}

.set_temp_field {
  display: flex;
  flex-direction: column;
  width: 8rem;
}

.set_temp_label {
  @apply --font-body-1-dark;

  font-weight: var(--fw-semibold);
  margin-bottom: 0.5rem;
}

.input_wrapper {
  display: flex;
}

.lid_temp_field {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}

.lid_temp_label {
  @apply --font-body-1-dark;

  margin: 0 0.5rem;
  font-weight: var(--fw-semibold);
  padding-bottom: 0.2rem;
}
