@import '../..';

.highlighted_well {
  stroke: var(--c-blue-enabled);
  fill: color-mod(var(--c-blue-enabled) alpha(20%));
}

.disabled_well {
  stroke: var(--c-light-grey-hover);
  fill: color-mod(var(--c-lightest-gray) alpha(80%));
}

.selected_well {
  stroke: var(--c-blue-enabled);
  fill: transparent;
}

.missing_tip {
  stroke: var(--c-near-black);
  fill: var(--c-light-gray);
}
