@import '../..';

.highlighted_well {
  filter: drop-shadow(0 0 1.8px rgba(0, 108, 250, 1));
}

.selected_well {
  stroke: var(--c-highlight);
  fill: transparent;
}

.missing_tip {
  stroke: var(--c-near-black);
  fill: var(--c-light-gray);
}
