.modal_footer_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 1.5rem 1.5rem;
}

.robot_cert_import_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1.5rem;
}
