/******************************
            Connect
******************************/

nav.connect {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        div#indicator {
            width: 12px;
            height: 12px;
            flex: 0 0 12px;
            border-radius: 50%;
            border: 4px solid #888;
            background-color: #f33b59;
            margin: 5px;
            &.connected {
                background-color: #3bf389;
            }
        }
    }