    /******************************
        Deck Map
******************************/
$deck-width : 400px;
$deck-height : 350px;
$slot-height : $deck-height/3;

section#deck-map {
    width: 545px;
    height: 365px;
    padding: 15px;
    background-color: $well-bg;
    border-radius: 6px;
    margin-top: 5px;
    div.deck-container {
        width: $deck-width;
        height: $deck-height;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #BBB;
        .deck-col {
            display: flex;
            flex-direction: column-reverse;
            flex: 1 1 20%;
            justify-content: stretch;
            .deck-slot {
                display: flex;
                justify-content: stretch;
                align-items: center;
                box-sizing: border-box;               
                height: $slot-height;
                .empty {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #DDD;
                    p {
                        font-family: 'trons';
                        color: #BBB;
                        font-weight: 500;
                        font-size: 36px;
                    }
                }
                &:not(.active){
                    border: 1px solid #DDD;
                }
                &.active {
                    outline: 4px solid $call-to-action;
                    box-sizing: border-box;
                    z-index: 10000;
                }
                &.occupied {
                    display: flex;
                    justify-content: stretch;
                    box-sizing: border-box;
                    .placeable {
                        flex: 1 1 100%;
                        width: 100%;
                        position: relative;
                        border: 2px solid #68affc;
                        background-color: $primary-brand;
                        svg {
                            box-sizing:border-box;
                            overflow: visible;
                            height: 100%;
                            align-self: center;
                            .well,
                            .trough {
                                stroke: #004999;
                                stroke-width: 1px;
                                fill: #68affc;
                                // &:hover{
                                //     fill:$call-to-action;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}
