.more-info{
  margin-top:10px;
    #show-modal{
    color: $secondary-brand;
    text-decoration: underline;
    cursor: pointer;
    // float:right;
  }
}

.modal-mask {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  transition: opacity .3s ease;
}

.modal-wrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  img{
    width:100%;
    height: auto;
  }
}

.modal-close-button {
  float: right;
  background-color: white;
  font-size: 24px;
}

// applied by vue transition
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}