
/* Modal Content/Box */
.network-config-content {
    display: inherit;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 200px;
    max-height: 300px;
    overflow: scroll/* Could be more or less, depending on screen size */
}

.available-network-container:hover,
.available-network-container:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.available-network-container:focus > .available-network,
.available-network-container:hover > .available-network
{
    background:   #cccccc;
    font-size: 90%;
}

.password-label{
    font-size: 100%;
}

.available-network {
    outline: solid;
    outline-width: 1px;
    outline-color: slategrey;
    cursor: pointer;
    position: relative;
    padding: 4px 4px 4px 4px;
    background: #eee;
    font-size: 60%;
    //font-family: "Times New Roman";
    transition: 0.3s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}