/******************************
Run Screen
******************************/
.runScreen {
    .runCommand {
        padding-bottom: 0px;
        margin: 5px;
        &:last-child {
            color: $primary-brand;
        }
    }
    #exit {
        position: fixed;
        top: auto;
        padding-left: 685px;
        padding-right: 10px;
        font-size: xx-large;
        font-weight: bold;
        cursor: pointer;
        color: $secondary-brand;
    }
}
