/******************************
Console
******************************/
section#console {
    width: 1024px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 160px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: $well-bg;
    border-radius: 6px;
    padding: 10px;
    padding-bottom:30px;
    border-top:14px solid $well-bg;
    .runCommand {
        &:last-child {
            color: $primary-brand;
            border-radius: 3px;
            background: rgba(0,0,0,0.05);
        }
        &.info{
            color: $primary-brand;
        }
        &.success{
            color: $primary-brand;
        }
        &.danger{
            color: #f33b59;
        }
    }
}
