/******************************
        Tasks Screens
******************************/
div.task{
    width: 710px;
}

div.placeable, div.instrument{
    width: 720px;
    display:flex;
    flex-direction:row;
}

div#task-placeable, section#task-pipette{
    position:relative;
    margin-left:5px;
    margin-top:45px;
    width: 275px;
    padding: 10px;
    background-color: $well-bg;
    border-radius: 6px;
    // h1.calibrated:after{
    //     content: "\2713";
    //     margin-left:10px;
    // }
    h4{
        font-size: 18px;
    }

    
}

section#instructions{
    width:705px;
    height:60px;
    padding: 10px;
    margin-top:5px;
    background-color: $well-bg;
    border-radius: 6px;
}



section#task-pipette {
    span {
        width: 510px;
        //height: 260px;
        display: flex;
        flex-directon: row;
        div.calibrate-pipette {
            width: 275px;
            display: flex;
            flex-direction: column;
            flex: 0 0 275px;
            .calibrate {
                width: 275px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                &.top {
                    // margin-bottom: 40px;
                }
                &.volume {
                    justify-content: flex-start;
                    //margin-bottom: 10px;
                }
                span.title {
                    flex: 0 0 70px;
                    height: 50px;
                    //padding-left: 0px;
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 40px;
                    text-align: right;
                    &.volume{
                        padding-left: 5px;
                    }
                }
            }
        }
        div.pipette-diagrams {
            width: 220px;
            flex: 0 0 220px;
            img {
                display: none;
            }
            &.top {
                img.top {
                    display: block;
                }
            }
            &.bottom {
                img.bottom {
                    display: block;
                }
            }
            &.blow-out {
                img.blow-out {
                    display: block;
                }
            }
            &.drop-tip {
                img.drop-tip {
                    display: block;
                }
            }
        }
    }
    .calibrate.tips {
        width: 200px;
        padding-left: 70px;   
    }
}
