@import '..';

@value color_light_grey, color_med_grey from '../styles/colors.css';
@value border: 2px solid color_light_grey;

.navbar {
  flex: none;
  position: relative;
  width: 5rem;
  height: 100%;
  background-color: light_grey;
  border-right: border;
}

.button {
  display: block;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  border-bottom: border;
  cursor: pointer;
  padding: 1rem;
  color: color_med_grey;
}

/*
TODO(ka 1-8-2018) this only works for single bottom item,
revisit once we have a need for more than one icon aligned to bottom.
*/
.bottom {
  position: absolute;
  bottom: 0;
  justify-self: flex-end;
  border-bottom-width: 0;
  border-top: border;
}

.button[disabled] {
  opacity: 0.3;
  cursor: default;
}

.active {
  background-color: color_med_grey;
  color: var(--c-dark-gray);
}

.icon {
  max-width: 100%;
  height: 100%;
  padding: 1.25rem;
  color: color_med_grey;
}
