@import '..';

@value color_light_grey, color_med_grey from '../styles/colors.css';
@value border: 2px solid color_light_grey;
@value width: 18rem;

.panel {
  overflow: hidden;
  width: 18rem;
  border-right: border;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.closed {
  width: 0;
  border-right-width: 0;
}

.title_bar {
  display: flex;
  align-items: center;
  width: width;
  border-bottom: border;
}

.title {
  margin: 0 auto 0 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--c-dark-gray);
  line-height: 2.5;
}

.panel_contents {
  width: width;
  height: calc(100vh - 2.625rem);
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
 * TODO(mc, 2018-01-16): need a little extra specificity here to survive
 * hot reloads. Try to figure out why that's the case.
 */
button.button_close {
  width: auto;
}

.button_close_icon {
  display: block;
  width: 1.5rem;
}
