/* TitleBar styles */
@value color_dark_grey, color_med_grey from '../styles/colors.css';
@value font_size_huge, font_size_header, font_weight_semibold, font_weight_bold from '../styles/typography.css';

.title_bar {
  padding: 1rem;
  text-transform: uppercase;
  background-color: color_dark_grey;
}

.title_bar,
.title_bar a {
  color: white;
}

.title,
.subtitle,
.separator {
  display: inline-block;
  font-size: font_size_header;
}

.title,
.separator {
  font-weight: font_weight_semibold;
}

.subtitle {
  font-weight: normal;
}

.separator {
  padding: 0 1.75rem;
}

.page_tabs {
  width: 100%;
  text-align: center;
}

.tab_link {
  composes: font_huge_light from '../styles/typography.css';
  display: inline-block;
  width: 50%;
  padding: 0.25rem 0;
  opacity: 0.2;
  background-color: color_med_grey;
  text-transform: uppercase;
}

.active_tab_link {
  composes: tab_link;
  opacity: 1;
}

.tab_title {
  font-weight: normal;
  letter-spacing: 0.125rem;
}

.active_tab_link .tab_title {
  font-weight: font_weight_semibold;
}
