/* TitleBar styles */
@import '..';

:root {
  --card-disabled: {
    color: var(--c-font-disabled);
    fill: var(--c-font-disabled);
    background-color: transparent;
  }
}

.title_bar {
  display: flex;
  align-items: center;
  height: 3rem;
  text-transform: uppercase;
  background-color: var(--c-dark-gray);
}

.title_bar,
.title_bar a {
  color: white;
}

.title,
.subtitle,
.separator {
  font-size: var(--fs-header);
  margin: 0;
}

.title,
.separator {
  font-weight: var(--fw-semibold);
}

.title,
.subtitle {
  @apply --truncate;

  padding: 0 1.5rem;
}

.title.right {
  margin-left: auto;
}

.subtitle {
  font-weight: normal;
}

.title_button {
  flex: none;
}

.page_tabs {
  width: 100%;
  text-align: center;
}

.tab_link {
  display: inline-block;
  width: 50%;
  padding: 0.25rem 0;
  font-size: var(--fs-huge);
  opacity: 0.2;
  background-color: var(--c-med-gray);
  color: white;
  text-transform: uppercase;
}

.active_tab_link {
  opacity: 1;
}

.tab_title {
  font-weight: normal;
}

.active_tab_link .tab_title {
  font-weight: var(--fw-bold);
}

.disabled {
  pointer-events: none;
  background-color: transparent;

  & * {
    @apply --card-disabled;
  }
}

.labeled_value {
  @apply --font-body-1-dark;

  line-height: 1.5;

  & svg {
    height: var(--fs-body-2);
  }
}

.labeled_value_label {
  font-weight: var(--fw-semibold);
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.labeled_value_value {
  margin: 0;
}
