/* TitleBar styles */
@import '..';

:root {
  --card-disabled: {
    color: var(--c-font-disabled);
    fill: var(--c-font-disabled);
    background-color: transparent;
  }
}

.title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--c-dark-gray);

  & :disabled {
    opacity: 0;
  }
}

.title_bar,
.title_bar a {
  color: white;
}

.title,
.subtitle,
.separator {
  display: inline-block;
  font-size: var(--fs-header);
  margin: 0;
}

.title,
.separator {
  font-weight: var(--fw-semibold);
}

.title_wrapper {
  padding: 1rem 1.5rem;
}

.subtitle {
  font-weight: normal;
}

.separator {
  padding: 0 1.75rem;
}

.page_tabs {
  width: 100%;
  text-align: center;
}

.tab_link {
  display: inline-block;
  width: 50%;
  padding: 0.25rem 0;
  font-size: var(--fs-huge);
  opacity: 0.2;
  background-color: var(--c-med-gray);
  color: white;
  text-transform: uppercase;
}

.active_tab_link {
  opacity: 1;
}

.tab_title {
  font-weight: normal;
}

.active_tab_link .tab_title {
  font-weight: var(--fw-bold);
}

/* Card and card content styles */
.card {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  padding: 1rem;
}

.card_title {
  @apply --font-header-dark;

  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: --fw-regular;
}

.card_description {
  @apply --font-body-2-dark;

  margin: 1rem 0;
}

.card_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card_column {
  flex-direction: column;
  align-items: flex-start;
}

.refresh_card_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.25rem;
  color: var(--c-font-dark);
}

.disabled {
  pointer-events: none;
  background-color: transparent;

  & * {
    @apply --card-disabled;
  }
}

.labeled_value {
  @apply --font-body-1-dark;

  line-height: 1.5;

  & svg {
    height: var(--fs-body-2);
  }
}

.labeled_value_label {
  font-weight: var(--fw-semibold);
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.labeled_value_value {
  margin: 0;
}
