/* TitleBar styles */
@import '..';

.title_bar {
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--c-dark-gray);
}

.title_bar,
.title_bar a {
  color: white;
}

.title,
.subtitle,
.separator {
  display: inline-block;
  font-size: var(--fs-header);
}

.title,
.separator {
  font-weight: var(--fw-semibold);
}

.subtitle {
  font-weight: normal;
}

.separator {
  padding: 0 1.75rem;
}

.page_tabs {
  width: 100%;
  text-align: center;
}

.tab_link {
  display: inline-block;
  width: 50%;
  padding: 0.25rem 0;
  font-size: var(--fs-huge);
  opacity: 0.2;
  background-color: var(--c-med-gray);
  color: white;
  text-transform: uppercase;
}

.active_tab_link {
  opacity: 1;
}

.tab_title {
  font-weight: normal;
}

.active_tab_link .tab_title {
  font-weight: var(--fw-bold);
}
