[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = ">=4.0.0,<5"
pyserial = "==3.5"
pyudev = "==0.23.2"
ot3usb = {path = ".", editable = true}

[dev-packages]
flake8 = "==7.0.0"
flake8-annotations = "~=3.0.1"
flake8-docstrings = "~=1.7.0"
flake8-noqa = "~=1.4.0"
pytest = "==7.4.4"
pytest-asyncio = "~=0.23.0"
pytest-lazy-fixture = "==0.6.3"
pytest-watch = "~=4.2.0"
pytest-cov = "==4.1.0"
pytest-aiohttp = "==1.0.5"
pytest-xdist = "~=2.5.0"
coverage = "==7.4.1"
# atomicwrites and colorama are pytest dependencies on windows,
# spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
atomicwrites = {version="==1.4.0", markers="sys_platform=='win32'"}
colorama = {version="==0.4.4", markers="sys_platform=='win32'"}
mypy = "==1.8.0"
black = "==22.3.0"
decoy = "==2.1.1"
mock = "~=5.1.0"
types-mock = "~=5.1.0"

[requires]
python_version = "3.10"
