.resize_bar {
  position: relative;
  width: 0.1875rem;
  height: 100%;
  background-color: var(--grey-30);
  cursor: col-resize;
}

.handle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 1rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--grey-30);
  gap: 0.1875rem;
  transform: translate(-50%, -50%);
}

.grip_line {
  width: 0.125rem;
  height: 0.625rem;
  border-radius: var(--border-radius-12);
  background-color: var(--white);
}
