[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
atomicwrites = {version="*", sys_platform="== 'win32'"}
typing-extensions = "*"
mypy = "==0.770"
pylama = "*"
twine = "==2.0.0"
wheel = "==0.30.0"
"e1839a8" = {editable = true, path = "."}
pytest = "==6.1.0"
pytest-watch = "~=4.2.0"
typeguard = "==2.7.1"

[packages]
jsonschema = "==3.0.2"
