@import '@opentrons/components';

.prompt {
  max-width: 32rem;
  margin: 0 0 1rem;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt_text {
  @apply --font-header-light;

  text-align: center;
}

.prompt_button {
  display: block;
  width: auto;
  margin: 0.5rem auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.prompt_details {
  @apply --font-body-2-light;

  text-align: center;
}

.page_content_dark {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: color-mod(var(--c-black) alpha(0.99));
  height: 100%;
}

.deck_map_wrapper {
  flex: 1 1 0;
  align-self: stretch;
  display: flex;
  background-color: var(--c-bg-light);
  border-radius: 6px;
}

.deck_map {
  flex: 1;
}

.secure_latch_instructions {
  @apply --font-body-2-dark;

  font-weight: var(--fw-semibold);
  padding: 0;
}

.secure_latch_explanation {
  @apply --font-body-2-dark;
}

.modal_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.secure_latch_image {
  max-width: 24rem;
}
