.container {
  width: 100%;
  padding: var(--spacing-6) var(--spacing-12);
  border-radius: var(--border-radius-4);
  background-color: var(--grey-20);
  font-family: 'Reddit Mono Variable', 'Reddit Mono', monospace;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-20);
  overflow-wrap: break-word;
  overflow-y: auto;
  word-break: normal;
}
