//header
@import "components/home";
@import "components/connect";

//protocol
@import "components/upload";
@import "components/run";

//jog
@import "components/jog";

//task pane
@import "components/stepList";
@import "components/task";
@import "components/deckMap";
@import "components/modal";

//run screen
@import "components/runScreen";