@import '@opentrons/components';

.alert {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
}

.prompt {
  padding-top: 2rem;
}

.prompt_text {
  @apply --font-header-light;

  font-weight: normal;
  margin-bottom: 1rem;
  text-align: center;
}

.prompt_button {
  display: block;
  width: auto;
  margin: 1rem auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
