{% extends "/layout.html" %} {% block body %}
<div class="wrapper">
    <!-- No Wizard Yet -->
    <section class="connect">
        <h1 class="title">Connect to Robot</h1>
        <p>Welcome to the opentrons app!  Please make sure that your computer is connected to the robot, and your machine is plugged in and turned on before continuing.</p>
        <ul>
            <li><a href="#info">connection diagram etc</a></li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
        <nav class="connect"><a href="/upload/protocol" class=" first next">Next</a></nav>
    </section>
    <div id="info" class="infoModal">
        <div> <a href="#close" title="Close" class="close">X</a>
            <h2>Title</h2>
            <p>
                Images would go here along with explanation text.
            </p>
        </div>
    </div>
</div>
{% endblock %}
