include versioneer.py
include opentrons/_version.py
include opentrons/config/containers/default-containers.json
include opentrons/config/smoothie/smoothie-defaults.ini
include opentrons/config/smoothie/config_one_pro_plus
