[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]
pylama = "*"
pytest = "==5.3.1"
atomicwrites = {version="*", sys_platform="== 'win32'"}
pytest-cov = "*"
pytest-aiohttp = "*"
dill = "==0.2.7.1"
numpydoc = "==0.9.1"
sphinx = "==2.2.0"
twine = "==2.0.0"
clint = "*"
wheel = "==0.30.0"
coverage = "==4.4.2"
mypy = "==0.740"
colorama = "*"
typing-extensions = "*"
openapi-spec-validator = "*"

[packages]
numpy = "==1.15.1"
pyserial = "==3.4"
urwid = "==1.3.1"
aiohttp = "==3.4.4"
jsonschema = "==3.0.2"
jsonrpcserver = "==4.0.3"
systemd-python = {version="==234", sys_platform="== 'linux'"}
aionotify = "==0.2.0"
