[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
opentrons = {editable = true, path = "."}
coverage = "==5.1"
mypy = "0.910"
numpydoc = "==0.9.1"
pytest = "==6.1.0"
pytest-aiohttp = "==0.3.0"
pytest-cov = "==2.10.1"
pytest-lazy-fixture = "==0.6.3"
pytest-xdist = "~=2.2.1"
pygments = "==2.9.0"
sphinx = "==2.2.0"
twine = "==2.0.0"
wheel = "==0.30.0"
typeguard = "==2.12.1"
sphinx-substitution-extensions = "==2020.9.30.0"
mock = "~=4.0.2"
flake8 = "~=3.9.0"
flake8-annotations = "~=2.6.2"
flake8-docstrings = "~=1.6.0"
flake8-noqa = "~=1.1.0"
decoy = "~=1.6.7"
black = "==21.7b0"
# pytest dependencies on windows, spec'd here to force lockfile inclusion
# https://github.com/pypa/pipenv/issues/4408#issuecomment-668324177
atomicwrites = {version="==1.4.0", sys_platform="== 'win32'"}
colorama = {version="==0.4.4", sys_platform="== 'win32'"}
types-mock = "==4.0.1"
types-setuptools = "==57.0.2"

[packages]
opentrons-shared-data = {editable = true, path = "../shared-data/python"}
aionotify = "==0.2.0"
anyio = "==3.3.0"
jsonschema = "==3.0.2"
numpy = "==1.15.1"
pydantic = "==1.8.2"
pyserial = "==3.5"
typing-extensions = "==3.10.0.0"
idna = "==3.2"
