# This workflow runs test and lint on branch pushes that touch the
# robot-server project or its dependencies

name: 'Robot server lint/test'

on:
  # Most of the time, we run on pull requests, which lets us handle external PRs
  push:
    paths:
      - 'api/**'
      - 'Makefile'
      - 'shared-data/*/**'
      - '!shared-data/js/**'
      - 'robot-server/**'
      - '.github/workflows/robot-server-test-lint.yaml'
      - '.github/actions/python/**'
    branches-ignore: # ignore any release-related thing (handled elsewhere)
      - 'release'
      - 'chore_release-**'
    tags-ignore:
      - '*'
  pull_request:
    paths:
      - 'api/**'
      - 'Makefile'
      - 'shared-data/*/**'
      - '!shared-data/js/**'
      - 'robot-server/**'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint-test:
    name: 'robot server package linting and tests'
    timeout-minutes: 20
    runs-on: 'ubuntu-18.04'
    steps:
      - uses: 'actions/checkout@v2'
      - uses: 'actions/setup-node@v1'
        with:
          node-version: '14'
      - uses: 'actions/setup-python@v2'
        with:
          python-version: '3.7'

      - uses: './.github/actions/python/setup'
        with:
          project: 'robot-server'
      - name: Lint
        run: make -C robot-server lint
      - name: Test
        run: make -C robot-server test
      - uses: 'codecov/codecov-action@v2'
        with:
          files: ./robot-server/coverage.xml
          flags: robot-server
