@import '@opentrons/components/styles';

.modal {
  @apply --modal;

  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem 2rem 2rem;
}

.modal * {
  z-index: 1;
}

.error_modal_message {
  font-style: italic;
}

.title_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bottom_button_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem 1rem;
  text-align: right;
  background-color: white;
  box-shadow: 0 -8px 8px -4px white;
}

.bottom_button {
  margin-left: 1rem;
  width: auto;
  min-width: 10rem;
  padding: 0.5rem 1.5rem;
}

.scrollable_modal {
  max-height: 100%;
}

.scrollable_modal_contents {
  display: flex;
  width: 100%;
}

.scrollable_modal_scroll {
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 3rem;
}
