@import '@opentrons/components';

:root {
  --mw-labeled-toggle: 25rem;
}

.sidebar_item {
  background-color: white;
  margin: 0.4rem 0.125rem;
  color: var(--c-dark-gray);
}

.page_row {
  padding: 0.5rem;
}

.card_point_list {
  margin-top: 1rem;
  margin-left: 4rem;
}

.card_content {
  padding: 1rem;

  @apply --font-body-2-dark;

  line-height: 1.5;

  & p {
    margin-bottom: 1rem;
    max-width: 70%;
    min-width: 20rem;
    line-height: 1.5;
  }
}

.setting_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature_flag_description {
  @apply --font-body-2-dark;

  & p {
    margin-bottom: 1rem;
  }
}

.toggle_label {
  @apply --font-body-2-dark;

  max-width: var(--mw-labeled-toggle);
  display: inline-block;
  font-weight: var(--fw-semibold);
  margin-top: 1rem;
}

.toggle_wrapper {
  display: flex;
  justify-content: space-between;
}

.toggle_button {
  float: right;
  width: 2rem;
  margin-right: 1rem;
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}

.button {
  float: right;
}

.body_wrapper {
  margin: 0.375rem 0 0.625rem;
  line-height: 1.5;
  padding: 2rem 1rem;
}

.labeled_value p {
  font-size: var(--fs-body-2);
  max-width: 100%;
}
