@import '@opentrons/components';

.sidebar_item {
  background-color: white;
  margin: 0.4rem 0.125rem;
  color: var(--c-dark-gray);
  cursor: pointer;
}

.sidebar_item:hover:not(.disabled) {
  outline: var(--bd-width-default) solid var(--c-highlight);
}

.sidebar_item.titled_list_selected .title_bar {
  background-color: var(--c-bg-selected);
}

.card_wrapper {
  padding: 1.5rem;
}

.card_point_list {
  margin-top: 1rem;
  margin-left: 4rem;
}

.toggle_row {
  width: 100%;
  padding: 1rem;
}

.toggle_label {
  @apply --font-body-1-dark;

  max-width: var(--mw-labeled-toggle);
  display: inline-block;
  font-weight: var(--fw-semibold);
}

.toggle_wrapper {
  display: flex;
  justify-content: space-between;
}

.toggle_button {
  float: right;
  width: 2rem;
  margin-right: 1rem;
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}

.body_wrapper {
  margin: 0.375rem 0 0.625rem;
  line-height: 1.5;
  padding: 1rem;
}
