@import '../..';

:root {
  --deck-element: {
    fill: #fff;
    stroke: var(--c-plate-bg);
  }
}

.deck {
  overflow: visible;
}

.deck_outline {
  @apply --deck-element;

  width: 100%;
  height: 100%;
}

.trash_outer {
  @apply --deck-element;
}

.trash_inner {
  fill: var(--c-plate-bg);
}

.trash text {
  font-size: 3rem;
  text-anchor: middle;
  fill: white;
}

.ot2_short_trash,
.ot2_standard {
  &.fixed_trash {
    fill: var(--c-lightest-gray);
    fill-rule: evenodd;
    stroke: none;
  }

  &.slot_numbers {
    fill: var(--c-plate-bg);
    fill-rule: evenodd;
    stroke: none;
  }

  &.slot_ridges {
    fill: var(--c-lightest-gray);
    fill-rule: evenodd;
    stroke: none;
  }

  &.removable_deck_outline {
    stroke: var(--c-lightest-gray);
  }
}
